# Read data

In [1]:
import pandas
all_data = pandas.read_csv ("all_data_holidays_events.csv")
all_data.to_csv("all_data_Svetlana.csv")
all_data

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Feiertag_Bundesland,Feiertag,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,NaN,NaN,False,False,False,False,False,False,False,False
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,NaN,NaN,False,False,False,False,False,False,False,False
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,NaN,NaN,False,False,False,False,False,False,False,False
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,NaN,NaN,False,False,False,False,False,False,False,False
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,NaN,NaN,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,NaN,NaN,False,False,False,False,False,False,False,False
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,NaN,NaN,False,False,False,False,False,False,False,False
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,NaN,NaN,False,False,False,False,False,False,False,False
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,NaN,NaN,False,False,False,False,False,False,False,False
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,NaN,NaN,False,False,False,False,False,False,False,False

# Creating a new column Feiertag_Bereich_enc
# Feiertage: Feiertag_Bereich

In [2]:
import numpy as np
all_data['Feiertag_Bereich_enc'] = np.where(all_data['Feiertag_Bereich'] == "bundesweit", 1, 0)
all_data

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Feiertag,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage,Feiertag_Bereich_enc
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,NaN,False,False,False,False,False,False,False,False,0
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,NaN,False,False,False,False,False,False,False,False,0
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,NaN,False,False,False,False,False,False,False,False,0
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,NaN,False,False,False,False,False,False,False,False,0
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,NaN,False,False,False,False,False,False,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,NaN,False,False,False,False,False,False,False,False,0
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,NaN,False,False,False,False,False,False,False,False,0
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,NaN,False,False,False,False,False,False,False,False,0
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,NaN,False,False,False,False,False,False,False,False,0
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,NaN,False,False,False,False,False,False,False,False,0

# One hot Encoding of the column Feiertag_Bereich_enc

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

all_data_encoded = pd.get_dummies(all_data, columns=['Feiertag_Bereich_enc'], drop_first=False)
all_data_encoded.to_csv("all_data_encoded.csv")
all_data_encoded

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage,Feiertag_Bereich_enc_0,Feiertag_Bereich_enc_1
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,False,False,False,False,False,False,False,True,False
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,False,False,False,False,False,False,False,True,False
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,False,False,False,False,False,False,False,True,False
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,False,False,False,False,False,False,False,True,False
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,True,False
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,True,False
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,True,False
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,True,False
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,True,False

# Create a new column Feiertag_Bundesland_enc

In [4]:
all_data_encoded['Feiertag_Bundesland_enc'] = np.where(all_data_encoded['Feiertag_Bundesland'] == "Schleswig-Holstein", 1, 0)
all_data_encoded

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage,Feiertag_Bereich_enc_0,Feiertag_Bereich_enc_1,Feiertag_Bundesland_enc
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,False,False,False,False,False,False,True,False,0
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,False,False,False,False,False,False,True,False,0
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,False,False,False,False,False,False,True,False,0
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,False,False,False,False,False,False,True,False,0
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,False,False,False,False,False,False,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,True,False,0
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,True,False,0
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,True,False,0
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,True,False,0
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,True,False,0

# One-hot encoding for the column Feiertag_Bundesland_enc

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

all_data_encoded_1 = pd.get_dummies(all_data_encoded, columns=['Feiertag_Bundesland_enc'], drop_first=False)
all_data_encoded_1.to_csv("all_data_encoded_1.csv")
all_data_encoded_1

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage,Feiertag_Bereich_enc_0,Feiertag_Bereich_enc_1,Feiertag_Bundesland_enc_0,Feiertag_Bundesland_enc_1
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,False,False,False,False,False,True,False,True,False
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,False,False,False,False,False,True,False,True,False
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,False,False,False,False,False,True,False,True,False
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,False,False,False,False,False,True,False,True,False
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,True,False,True,False
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,False,False,False,False,False,True,False,True,False
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,True,False,True,False
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,True,False,True,False
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,True,False,True,False

# Create a new column based on the column Feiertag

In [6]:
all_data_encoded_1["Feiertag_enc"] = all_data_encoded_1['Feiertag'].replace({'Tag der Deutschen Einheit': 1, 'Ostermontag': 2, 'Christi Himmelfahrt': 3, 
                                                                             "Pfingstmontag": 4, "Tag der Arbeit": 5}, inplace=False)
all_data_encoded_1.to_csv("all_data_encoded_2.csv")
all_data_encoded_1

/tmp/ipykernel_4996/1595933894.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_data_encoded_1["Feiertag_enc"] = all_data_encoded_1['Feiertag'].replace({'Tag der Deutschen Einheit': 1, 'Ostermontag': 2, 'Christi Himmelfahrt': 3,

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage,Feiertag_Bereich_enc_0,Feiertag_Bereich_enc_1,Feiertag_Bundesland_enc_0,Feiertag_Bundesland_enc_1,Feiertag_enc
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,False,False,False,False,True,False,True,False,NaN
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,False,False,False,False,True,False,True,False,NaN
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,False,False,False,False,True,False,True,False,NaN
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,False,False,False,False,True,False,True,False,NaN
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,False,False,False,False,True,False,True,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,True,False,True,False,NaN
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,False,False,False,False,True,False,True,False,NaN
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,True,False,True,False,NaN
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,True,False,True,False,NaN
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,True,False,True,False,NaN

# One-hot encoding of the column Feiertag_enc

In [7]:
all_data_encoded_3 = pd.get_dummies(all_data_encoded_1, columns=['Feiertag_enc'], drop_first=False)
all_data_encoded_3.to_csv("all_data_encoded_3.csv")
all_data_encoded_3

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Veranstaltung_Sprottentage,Feiertag_Bereich_enc_0,Feiertag_Bereich_enc_1,Feiertag_Bundesland_enc_0,Feiertag_Bundesland_enc_1,Feiertag_enc_1.0,Feiertag_enc_2.0,Feiertag_enc_3.0,Feiertag_enc_4.0,Feiertag_enc_5.0
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,True,False,True,False,False,False,False,False,False
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,True,False,True,False,False,False,False,False,False
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,True,False,True,False,False,False,False,False,False
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,True,False,True,False,False,False,False,False,False
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,True,False,True,False,False,False,False,False,False
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,True,False,True,False,False,False,False,False,False
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,True,False,True,False,False,False,False,False,False
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,True,False,True,False,False,False,False,False,False
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,True,False,True,False,False,False,False,False,False

# Creating a new numerical column for the column Wochentag

In [8]:
all_data_encoded_3["Wochentag_enc"] = all_data_encoded_3['Wochentag'].replace({'Montag': 1, 'Dienstag': 2, 'Mittwoch': 3, 
                                                                             "Donnerstag": 4, "Freitag": 5, "Samstag":6, "Sonntag":7}, inplace=False)
all_data_encoded_3.to_csv("all_data_encoded_3.csv")
all_data_encoded_3

/tmp/ipykernel_4996/2722215818.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_data_encoded_3["Wochentag_enc"] = all_data_encoded_3['Wochentag'].replace({'Montag': 1, 'Dienstag': 2, 'Mittwoch': 3,

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Feiertag_Bereich_enc_0,Feiertag_Bereich_enc_1,Feiertag_Bundesland_enc_0,Feiertag_Bundesland_enc_1,Feiertag_enc_1.0,Feiertag_enc_2.0,Feiertag_enc_3.0,Feiertag_enc_4.0,Feiertag_enc_5.0,Wochentag_enc
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,True,False,True,False,False,False,False,False,False,1
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,True,False,True,False,False,False,False,False,False,2
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,True,False,True,False,False,False,False,False,False,3
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,True,False,True,False,False,False,False,False,False,4
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,True,False,True,False,False,False,False,False,False,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,True,False,True,False,False,False,False,False,False,4
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,True,False,True,False,False,False,False,False,False,5
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,True,False,True,False,False,False,False,False,False,6
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,True,False,True,False,False,False,False,False,False,7
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,True,False,True,False,False,False,False,False,False,3

# One-hot encoding Wochentag_enc

In [9]:
all_data_encoded_4 = pd.get_dummies(all_data_encoded_3, columns=['Wochentag_enc'], drop_first=False)
all_data_encoded_4.to_csv("all_data_encoded_4.csv")
all_data_encoded_4

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Feiertag_enc_3.0,Feiertag_enc_4.0,Feiertag_enc_5.0,Wochentag_enc_1,Wochentag_enc_2,Wochentag_enc_3,Wochentag_enc_4,Wochentag_enc_5,Wochentag_enc_6,Wochentag_enc_7
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,False,False,True,False,False,False,False,False,False
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,False,False,False,False,True,False,False,False,False
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,False,False,False,False,False,True,False,False,False
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,True,False,False,False
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,True,False,False
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,True,False
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,False,True
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,True,False,False,False,False

# One-hot encoding for column Monat

In [10]:
all_data_encoded_5 = pd.get_dummies(all_data_encoded_4, columns=['Monat'], drop_first=False)
all_data_encoded_5.to_csv("all_data_encoded_5.csv")
all_data_encoded_5

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Monat_3,Monat_4,Monat_5,Monat_6,Monat_7,Monat_8,Monat_9,Monat_10,Monat_11,Monat_12
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,False,True
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,False,True
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,False,True
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,False,True
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,False,False,False,False,False,False,False,False,True

# One-hot encoding for column Jahr

In [11]:
all_data_encoded_6 = pd.get_dummies(all_data_encoded_5, columns=['Jahr'], drop_first=False)
all_data_encoded_6.to_csv("all_data_encoded_6.csv")
all_data_encoded_6

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,...,Monat_9,Monat_10,Monat_11,Monat_12,Jahr_2013,Jahr_2014,Jahr_2015,Jahr_2016,Jahr_2017,Jahr_2018
0,1307011,2013-07-01,1,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
1,1307021,2013-07-02,1,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
2,1307031,2013-07-03,1,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
3,1307041,2013-07-04,1,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
4,1307051,2013-07-05,1,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,6,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,...,False,False,False,True,False,False,False,False,True,False
9330,1712226,2017-12-22,6,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,...,False,False,False,True,False,False,False,False,True,False
9331,1712236,2017-12-23,6,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,...,False,False,False,True,False,False,False,False,True,False
9332,1712246,2017-12-24,6,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,...,False,False,False,True,False,False,False,False,True,False
9333,1712276,2017-12-27,6,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,...,False,False,False,True,False,False,False,False,True,False

# One-hot encoding for the column Warengruppe

In [12]:
all_data_encoded_7 = pd.get_dummies(all_data_encoded_6, columns=['Warengruppe'], drop_first=False)
all_data_encoded_7.to_csv("all_data_encoded_7.csv")
all_data_encoded_7

,id,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,...,Jahr_2015,Jahr_2016,Jahr_2017,Jahr_2018,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6
0,1307011,2013-07-01,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,...,False,False,False,False,True,False,False,False,False,False
1,1307021,2013-07-02,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,Dienstag,...,False,False,False,False,True,False,False,False,False,False
2,1307031,2013-07-03,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,Mittwoch,...,False,False,False,False,True,False,False,False,False,False
3,1307041,2013-07-04,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,Donnerstag,...,False,False,False,False,True,False,False,False,False,False
4,1307051,2013-07-05,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,Freitag,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,Donnerstag,...,False,False,True,False,False,False,False,False,False,True
9330,1712226,2017-12-22,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,Freitag,...,False,False,True,False,False,False,False,False,False,True
9331,1712236,2017-12-23,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,Samstag,...,False,False,True,False,False,False,False,False,False,True
9332,1712246,2017-12-24,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,Sonntag,...,False,False,True,False,False,False,False,False,False,True
9333,1712276,2017-12-27,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,Mittwoch,...,False,False,True,False,False,False,False,False,False,True

# Create a new column with saison

In [13]:
all_data_encoded_7["Datum"]=pd.to_datetime(all_data_encoded_7["Datum"])
all_data_encoded_7['Monat'] = all_data_encoded_7['Datum'].dt.month

all_data_encoded_7["Saison"] = all_data_encoded_7['Monat'].replace({12: "winter", 1: "winter", 2: "winter", 3: "spring", 4:"spring", 5:"spring", 
                                                                             6: "summer", 7: "summer", 8: "summer", 9: "autumn", 10: "autumn", 11: "autumn"}, 
                                                                             inplace=False)
all_data_encoded_7.to_csv("all_data_encoded_7.csv")
all_data_encoded_7

,id,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,...,Jahr_2017,Jahr_2018,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,Monat,Saison
0,1307011,2013-07-01,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,...,False,False,True,False,False,False,False,False,7,summer
1,1307021,2013-07-02,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,Dienstag,...,False,False,True,False,False,False,False,False,7,summer
2,1307031,2013-07-03,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,Mittwoch,...,False,False,True,False,False,False,False,False,7,summer
3,1307041,2013-07-04,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,Donnerstag,...,False,False,True,False,False,False,False,False,7,summer
4,1307051,2013-07-05,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,Freitag,...,False,False,True,False,False,False,False,False,7,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,Donnerstag,...,True,False,False,False,False,False,False,True,12,winter
9330,1712226,2017-12-22,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,Freitag,...,True,False,False,False,False,False,False,True,12,winter
9331,1712236,2017-12-23,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,Samstag,...,True,False,False,False,False,False,False,True,12,winter
9332,1712246,2017-12-24,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,Sonntag,...,True,False,False,False,False,False,False,True,12,winter
9333,1712276,2017-12-27,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,Mittwoch,...,True,False,False,False,False,False,False,True,12,winter

# Create a new column with numbers for the column Saison

In [14]:
all_data_encoded_7["Saison_enc"] = all_data_encoded_7['Saison'].replace({"winter": 1, "spring": 2, "summer": 3, "autumn":4}, inplace=False)
all_data_encoded_7.to_csv("all_data_encoded_7.csv")
all_data_encoded_7

/tmp/ipykernel_4996/70994856.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_data_encoded_7["Saison_enc"] = all_data_encoded_7['Saison'].replace({"winter": 1, "spring": 2, "summer": 3, "autumn":4}, inplace=False)

,id,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,...,Jahr_2018,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,Monat,Saison,Saison_enc
0,1307011,2013-07-01,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,...,False,True,False,False,False,False,False,7,summer,3
1,1307021,2013-07-02,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,Dienstag,...,False,True,False,False,False,False,False,7,summer,3
2,1307031,2013-07-03,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,Mittwoch,...,False,True,False,False,False,False,False,7,summer,3
3,1307041,2013-07-04,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,Donnerstag,...,False,True,False,False,False,False,False,7,summer,3
4,1307051,2013-07-05,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,Freitag,...,False,True,False,False,False,False,False,7,summer,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,Donnerstag,...,False,False,False,False,False,False,True,12,winter,1
9330,1712226,2017-12-22,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,Freitag,...,False,False,False,False,False,False,True,12,winter,1
9331,1712236,2017-12-23,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,Samstag,...,False,False,False,False,False,False,True,12,winter,1
9332,1712246,2017-12-24,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,Sonntag,...,False,False,False,False,False,False,True,12,winter,1
9333,1712276,2017-12-27,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,Mittwoch,...,False,False,False,False,False,False,True,12,winter,1

# One-hot encoding for the column Saison_enc

In [15]:
all_data_encoded_8 = pd.get_dummies(all_data_encoded_7, columns=['Saison_enc'], drop_first=False)
all_data_encoded_8.to_csv("all_data_encoded_8.csv")
all_data_encoded_8

,id,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,...,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,Monat,Saison,Saison_enc_1,Saison_enc_2,Saison_enc_3,Saison_enc_4
0,1307011,2013-07-01,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,...,False,False,False,False,7,summer,False,False,True,False
1,1307021,2013-07-02,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,Dienstag,...,False,False,False,False,7,summer,False,False,True,False
2,1307031,2013-07-03,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,Mittwoch,...,False,False,False,False,7,summer,False,False,True,False
3,1307041,2013-07-04,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,Donnerstag,...,False,False,False,False,7,summer,False,False,True,False
4,1307051,2013-07-05,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,Freitag,...,False,False,False,False,7,summer,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,Donnerstag,...,False,False,False,True,12,winter,True,False,False,False
9330,1712226,2017-12-22,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,Freitag,...,False,False,False,True,12,winter,True,False,False,False
9331,1712236,2017-12-23,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,Samstag,...,False,False,False,True,12,winter,True,False,False,False
9332,1712246,2017-12-24,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,Sonntag,...,False,False,False,True,12,winter,True,False,False,False
9333,1712276,2017-12-27,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,Mittwoch,...,False,False,False,True,12,winter,True,False,False,False

Wetter Kategorie

# Create a column Warengruppe

In [17]:
all_data_encoded_8["Produktgruppe_enc"] = all_data_encoded_8['Produktgruppe'].replace({"Brot": 1, "BrÃ¶tchen": 2, "Croissant": 3, "Konditorei":4, 
                                                                                       "Kuchen":5, "Saisonbrot":6}, inplace=False)
all_data_encoded_8.to_csv("all_data_encoded_8.csv")
all_data_encoded_8

,id,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,...,Warengruppe_4,Warengruppe_5,Warengruppe_6,Monat,Saison,Saison_enc_1,Saison_enc_2,Saison_enc_3,Saison_enc_4,Produktgruppe_enc
0,1307011,2013-07-01,148.828350,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,...,False,False,False,7,summer,False,False,True,False,1
1,1307021,2013-07-02,159.793760,3.0,17.3125,10.0,NaN,NaN,Brot,Dienstag,...,False,False,False,7,summer,False,False,True,False,1
2,1307031,2013-07-03,111.885600,7.0,21.0750,6.0,61.0,NaN,Brot,Mittwoch,...,False,False,False,7,summer,False,False,True,False,1
3,1307041,2013-07-04,168.864940,7.0,18.8500,7.0,20.0,NaN,Brot,Donnerstag,...,False,False,False,7,summer,False,False,True,False,1
4,1307051,2013-07-05,171.280760,5.0,19.9750,12.0,NaN,NaN,Brot,Freitag,...,False,False,False,7,summer,False,False,True,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9329,1712216,2017-12-21,87.471230,7.0,6.2375,10.0,21.0,NaN,Saisonbrot,Donnerstag,...,False,False,True,12,winter,True,False,False,False,6
9330,1712226,2017-12-22,71.911650,7.0,5.7625,9.0,10.0,NaN,Saisonbrot,Freitag,...,False,False,True,12,winter,True,False,False,False,6
9331,1712236,2017-12-23,84.062225,7.0,7.8000,19.0,61.0,NaN,Saisonbrot,Samstag,...,False,False,True,12,winter,True,False,False,False,6
9332,1712246,2017-12-24,60.981968,7.0,8.1125,16.0,61.0,NaN,Saisonbrot,Sonntag,...,False,False,True,12,winter,True,False,False,False,6
9333,1712276,2017-12-27,34.972645,7.0,4.6125,7.0,21.0,NaN,Saisonbrot,Mittwoch,...,False,False,True,12,winter,True,False,False,False,6

# Linear model

In [19]:
import pandas as pd
import statsmodels.formula.api as smf

# Fit the linear model
mod = smf.ols('Umsatz ~ C(Produktgruppe_enc)', data=all_data_encoded_8).fit()

# Print the summary
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Umsatz   R-squared:                       0.645
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     3384.
Date:                Mon, 01 Dec 2025   Prob (F-statistic):               0.00
Time:                        13:13:24   Log-Likelihood:                -54839.
No. Observations:                9334   AIC:                         1.097e+05
Df Residuals:                    9328   BIC:                         1.097e+05
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                          122.1425      2.021     60.441      0.000     118.181     126.104
C(Produktgruppe_enc)[T.3]           41.1984      2.858     14.416      0.000      35.596      46.801
C(Produktgruppe_enc)[T.4]          -34.1885      2.879    -11.874      0.000     -39.832     -28.544
C(Produktgruppe_enc)[T.5]          154.6530      2.858     54.114      0.000     149.051     160.255
C(Produktgruppe_enc)[T.6]          -55.2259      5.434    -10.164      0.000     -65.877     -44.575
C(Produktgruppe_enc)[T.Brötchen]   280.3554      2.858     98.098      0.000     274.753     285.958
==============================================================================
Omnibus:                     7872.515   Durbin-Watson:                   0.839
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           839625.204
Skew:                           3.480   Prob(JB):                         0.00
Kurtosis:                      48.940   Cond. No.                         7.26
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.