# Read data

In [1]:
import pandas
all_data = pandas.read_csv ("all_data.csv")
all_data

,Datum,id,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,...,Ist_Feiertag_Bundesweit,Ist_Schulferien_SH,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
0,2013-07-01,1307011,148.82835,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,...,True,True,False,False,False,False,False,False,False,False
1,2013-07-01,1307012,535.85626,6.0,17.8375,15.0,20.0,NaN,Brötchen,Montag,...,True,True,False,False,False,False,False,False,False,False
2,2013-07-01,1307013,201.19843,6.0,17.8375,15.0,20.0,NaN,Croissant,Montag,...,True,True,False,False,False,False,False,False,False,False
3,2013-07-01,1307014,65.89017,6.0,17.8375,15.0,20.0,NaN,Konditorei,Montag,...,True,True,False,False,False,False,False,False,False,False
4,2013-07-01,1307015,317.47586,6.0,17.8375,15.0,20.0,NaN,Kuchen,Montag,...,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,2019-07-30,1907301,NaN,7.0,20.7375,8.0,61.0,NaN,Brot,Dienstag,...,True,True,False,False,False,False,False,True,False,False
11160,2019-07-30,1907302,NaN,7.0,20.7375,8.0,61.0,NaN,Brötchen,Dienstag,...,True,True,False,False,False,False,False,True,False,False
11161,2019-07-30,1907303,NaN,7.0,20.7375,8.0,61.0,NaN,Croissant,Dienstag,...,True,True,False,False,False,False,False,True,False,False
11162,2019-07-30,1907304,NaN,7.0,20.7375,8.0,61.0,NaN,Konditorei,Dienstag,...,True,True,False,False,False,False,False,True,False,False
11163,2019-07-30,1907305,NaN,7.0,20.7375,8.0,61.0,NaN,Kuchen,Dienstag,...,True,True,False,False,False,False,False,True,False,False

# Keep the id column

In [13]:
all_data.set_index('id', inplace=True)
all_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,Monat,...,Ist_Feiertag_Bundesweit,Ist_Schulferien_SH,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.82835,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307012,2013-07-01,535.85626,6.0,17.8375,15.0,20.0,NaN,Brötchen,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307013,2013-07-01,201.19843,6.0,17.8375,15.0,20.0,NaN,Croissant,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307014,2013-07-01,65.89017,6.0,17.8375,15.0,20.0,NaN,Konditorei,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307015,2013-07-01,317.47586,6.0,17.8375,15.0,20.0,NaN,Kuchen,Montag,7,...,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Brot,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Brötchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Croissant,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Konditorei,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Kuchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False

# Split dataset into training, validation and test datasets

In [14]:
# Define your date thresholds
train_end_date = '2017-07-31'
validation_end_date = '2018-07-31'

# Convert to datetime if not already
import pandas as pd
all_data['Datum'] = pd.to_datetime(all_data['Datum'])

# Split the data based on the date thresholds
train_data_all = all_data[all_data['Datum'] <= train_end_date]
validation_data_all = all_data[(all_data['Datum'] > train_end_date) & (all_data['Datum'] <= validation_end_date)]
test_data_all = all_data[all_data['Datum'] > validation_end_date]

# Check the dimensions of the datasets
print("Training dataset dimensions:", train_data_all.shape)
print("Validation dataset dimensions:", validation_data_all.shape)
print("Test dataset dimensions:", test_data_all.shape)

# Save the datasets to CSV files
train_data_all.to_csv("train_data_all.csv", index=False)
validation_data_all.to_csv("validation_data_all.csv", index=False)
test_data_all.to_csv("test_data_all.csv", index=False)

Training dataset dimensions: (7493, 32)
Validation dataset dimensions: (1841, 32)
Test dataset dimensions: (1830, 32)

In [15]:
train_data_all

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,Monat,...,Ist_Feiertag_Bundesweit,Ist_Schulferien_SH,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.82835,6.0,17.8375,15.0,20.0,NaN,Brot,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307012,2013-07-01,535.85626,6.0,17.8375,15.0,20.0,NaN,Brötchen,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307013,2013-07-01,201.19843,6.0,17.8375,15.0,20.0,NaN,Croissant,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307014,2013-07-01,65.89017,6.0,17.8375,15.0,20.0,NaN,Konditorei,Montag,7,...,True,True,False,False,False,False,False,False,False,False
1307015,2013-07-01,317.47586,6.0,17.8375,15.0,20.0,NaN,Kuchen,Montag,7,...,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707311,2017-07-31,162.42534,2.0,22.7500,9.0,NaN,NaN,Brot,Montag,7,...,True,True,False,False,False,False,False,True,False,False
1707312,2017-07-31,548.10240,2.0,22.7500,9.0,NaN,NaN,Brötchen,Montag,7,...,True,True,False,False,False,False,False,True,False,False
1707313,2017-07-31,294.72180,2.0,22.7500,9.0,NaN,NaN,Croissant,Montag,7,...,True,True,False,False,False,False,False,True,False,False
1707314,2017-07-31,87.22648,2.0,22.7500,9.0,NaN,NaN,Konditorei,Montag,7,...,True,True,False,False,False,False,False,True,False,False
1707315,2017-07-31,222.68425,2.0,22.7500,9.0,NaN,NaN,Kuchen,Montag,7,...,True,True,False,False,False,False,False,True,False,False

In [16]:
train_data_all.dtypes

Datum                                     datetime64[ns]
Umsatz                                           float64
Bewoelkung                                       float64
Temperatur                                       float64
Windgeschwindigkeit                              float64
Wettercode                                       float64
KielerWoche                                      float64
Produktgruppe                                     object
Wochentag                                         object
Monat                                              int64
Jahr                                               int64
Umsatz_lag_1                                     float64
Umsatz_lag_7                                     float64
Umsatz_lag_14                                    float64
Umsatz_rolling_mean_3                            float64
Umsatz_rolling_std_3                             float64
Umsatz_rolling_mean_7                            float64
Umsatz_rolling_std_7                             float64
Ist_Wochenende                                      bool
Jahreszeit                                        object
Regenstaerke                                      object
Ist_Feiertag_SH                                     bool
Ist_Feiertag_Bundesweit                             bool
Ist_Schulferien_SH                                  bool
Veranstaltung_Holstenkoeste                         bool
Veranstaltung_Kieler_Umschlag                       bool
Veranstaltung_Kieler_Weihnachtsmaerkte              bool
Veranstaltung_Kieler_Woche                          bool
Veranstaltung_NOK_Romantika                         bool
Veranstaltung_NordArt                               bool
Veranstaltung_Seebrueckenfest                       bool
Veranstaltung_Sprottentage                          bool
dtype: object

In [17]:
validation_data_all

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,Monat,...,Ist_Feiertag_Bundesweit,Ist_Schulferien_SH,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
id,,,,,,,,,,,,,,,,,,,,,
1708011,2017-08-01,166.135480,6.0,21.3750,7.0,21.0,NaN,Brot,Dienstag,8,...,True,True,False,False,False,False,False,True,False,False
1708012,2017-08-01,557.470900,6.0,21.3750,7.0,21.0,NaN,Brötchen,Dienstag,8,...,True,True,False,False,False,False,False,True,False,False
1708013,2017-08-01,294.872700,6.0,21.3750,7.0,21.0,NaN,Croissant,Dienstag,8,...,True,True,False,False,False,False,False,True,False,False
1708014,2017-08-01,88.208010,6.0,21.3750,7.0,21.0,NaN,Konditorei,Dienstag,8,...,True,True,False,False,False,False,False,True,False,False
1708015,2017-08-01,325.864230,6.0,21.3750,7.0,21.0,NaN,Kuchen,Dienstag,8,...,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807311,2018-07-31,123.075680,5.0,31.2875,11.0,NaN,NaN,Brot,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1807312,2018-07-31,586.081670,5.0,31.2875,11.0,NaN,NaN,Brötchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1807313,2018-07-31,285.872620,5.0,31.2875,11.0,NaN,NaN,Croissant,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1807314,2018-07-31,57.102795,5.0,31.2875,11.0,NaN,NaN,Konditorei,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1807315,2018-07-31,261.341300,5.0,31.2875,11.0,NaN,NaN,Kuchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False

In [18]:
test_data_all

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,Monat,...,Ist_Feiertag_Bundesweit,Ist_Schulferien_SH,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
id,,,,,,,,,,,,,,,,,,,,,
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,NaN,Brot,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,NaN,Brötchen,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,NaN,Croissant,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,NaN,Konditorei,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,NaN,Kuchen,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Brot,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Brötchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Croissant,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Konditorei,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,NaN,Kuchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False

# Training linear model

In [28]:
import pandas as pd
import statsmodels.formula.api as smf

# Fit the linear model
lin_mod = smf.ols('Umsatz ~ Bewoelkung + Temperatur + Windgeschwindigkeit + C(Produktgruppe) + Wettercode + ' \
'Veranstaltung_Kieler_Woche + Monat + Jahr', data=train_data_all).fit()

# Print the summary
print(lin_mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Umsatz   R-squared:                       0.678
Model:                            OLS   Adj. R-squared:                  0.678
Method:                 Least Squares   F-statistic:                     946.8
Date:                Sun, 28 Dec 2025   Prob (F-statistic):               0.00
Time:                        15:32:51   Log-Likelihood:                -31419.
No. Observations:                5399   AIC:                         6.286e+04
Df Residuals:                    5386   BIC:                         6.295e+04
Df Model:                          12
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Intercept                           2.038e+04   1950.407     10.450      0.000    1.66e+04    2.42e+04
C(Produktgruppe)[T.Brötchen]         274.2529      3.566     76.915      0.000     267.263     281.243
C(Produktgruppe)[T.Croissant]         35.4959      3.566      9.955      0.000      28.506      42.486
C(Produktgruppe)[T.Konditorei]       -29.9500      3.598     -8.323      0.000     -37.004     -22.896
C(Produktgruppe)[T.Kuchen]           157.3358      3.566     44.125      0.000     150.346     164.326
C(Produktgruppe)[T.Saisonbrot]       -35.5894      6.549     -5.434      0.000     -48.428     -22.751
Veranstaltung_Kieler_Woche[T.True]    30.2445      7.703      3.926      0.000      15.143      45.346
Bewoelkung                            -0.4725      0.590     -0.801      0.423      -1.629       0.684
Temperatur                             4.3513      0.191     22.814      0.000       3.977       4.725
Windgeschwindigkeit                    0.1520      0.257      0.591      0.555      -0.353       0.657
Wettercode                            -0.0089      0.048     -0.183      0.855      -0.104       0.086
Monat                                 -1.2677      0.348     -3.641      0.000      -1.950      -0.585
Jahr                                 -10.0742      0.967    -10.414      0.000     -11.971      -8.178
==============================================================================
Omnibus:                     5888.732   Durbin-Watson:                   1.555
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1510423.443
Skew:                           5.075   Prob(JB):                         0.00
Kurtosis:                      84.309   Cond. No.                     3.54e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.54e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

# Predict the Umsatz

In [29]:
predictions_all = lin_mod.predict(train_data_all)
print(predictions_all)

id
1307011    170.904425
1307012    445.157342
1307013    206.400311
1307014    140.954415
1307015    328.240209
              ...
1707311           NaN
1707312           NaN
1707313           NaN
1707314           NaN
1707315           NaN
Length: 7493, dtype: float64

# Drop NA from validation_data_all dataset

In [30]:
validation_data_all=validation_data_all.dropna()
validation_data_all

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,Monat,...,Ist_Feiertag_Bundesweit,Ist_Schulferien_SH,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
id,,,,,,,,,,,,,,,,,,,,,
1806161,2018-06-16,165.240830,5.0,21.3250,7.0,95.0,1.0,Brot,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806162,2018-06-16,536.452330,5.0,21.3250,7.0,95.0,1.0,Brötchen,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806163,2018-06-16,249.756000,5.0,21.3250,7.0,95.0,1.0,Croissant,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806164,2018-06-16,79.942566,5.0,21.3250,7.0,95.0,1.0,Konditorei,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806165,2018-06-16,209.362080,5.0,21.3250,7.0,95.0,1.0,Kuchen,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806171,2018-06-17,131.774730,5.0,18.2750,12.0,61.0,1.0,Brot,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806172,2018-06-17,561.166140,5.0,18.2750,12.0,61.0,1.0,Brötchen,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806173,2018-06-17,301.987700,5.0,18.2750,12.0,61.0,1.0,Croissant,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806174,2018-06-17,105.970920,5.0,18.2750,12.0,61.0,1.0,Konditorei,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806175,2018-06-17,351.208950,5.0,18.2750,12.0,61.0,1.0,Kuchen,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806181,2018-06-18,150.608980,7.0,17.6375,9.0,61.0,1.0,Brot,Montag,6,...,True,True,False,False,False,True,False,True,False,False
1806182,2018-06-18,453.773830,7.0,17.6375,9.0,61.0,1.0,Brötchen,Montag,6,...,True,True,False,False,False,True,False,True,False,False
1806183,2018-06-18,183.905580,7.0,17.6375,9.0,61.0,1.0,Croissant,Montag,6,...,True,True,False,False,False,True,False,True,False,False
1806184,2018-06-18,52.462315,7.0,17.6375,9.0,61.0,1.0,Konditorei,Montag,6,...,True,True,False,False,False,True,False,True,False,False
1806185,2018-06-18,368.908780,7.0,17.6375,9.0,61.0,1.0,Kuchen,Montag,6,...,True,True,False,False,False,True,False,True,False,False
1806191,2018-06-19,134.103230,3.0,19.2375,16.0,21.0,1.0,Brot,Dienstag,6,...,True,True,False,False,False,True,False,True,False,False
1806192,2018-06-19,439.387700,3.0,19.2375,16.0,21.0,1.0,Brötchen,Dienstag,6,...,True,True,False,False,False,True,False,True,False,False
1806193,2018-06-19,167.949110,3.0,19.2375,16.0,21.0,1.0,Croissant,Dienstag,6,...,True,True,False,False,False,True,False,True,False,False
1806194,2018-06-19,47.886127,3.0,19.2375,16.0,21.0,1.0,Konditorei,Dienstag,6,...,True,True,False,False,False,True,False,True,False,False
1806195,2018-06-19,271.817630,3.0,19.2375,16.0,21.0,1.0,Kuchen,Dienstag,6,...,True,True,False,False,False,True,False,True,False,False
1806201,2018-06-20,187.760360,3.0,23.6500,13.0,0.0,1.0,Brot,Mittwoch,6,...,True,True,False,False,False,True,False,True,False,False
1806202,2018-06-20,438.206730,3.0,23.6500,13.0,0.0,1.0,Brötchen,Mittwoch,6,...,True,True,False,False,False,True,False,True,False,False
1806203,2018-06-20,178.485150,3.0,23.6500,13.0,0.0,1.0,Croissant,Mittwoch,6,...,True,True,False,False,False,True,False,True,False,False
1806204,2018-06-20,68.643510,3.0,23.6500,13.0,0.0,1.0,Konditorei,Mittwoch,6,...,True,True,False,False,False,True,False,True,False,False
1806205,2018-06-20,329.991270,3.0,23.6500,13.0,0.0,1.0,Kuchen,Mittwoch,6,...,True,True,False,False,False,True,False,True,False,False
1806211,2018-06-21,137.380800,7.0,11.5625,15.0,65.0,1.0,Brot,Donnerstag,6,...,True,True,False,False,False,True,False,True,False,False
1806212,2018-06-21,425.408050,7.0,11.5625,15.0,65.0,1.0,Brötchen,Donnerstag,6,...,True,True,False,False,False,True,False,True,False,False
1806213,2018-06-21,165.510530,7.0,11.5625,15.0,65.0,1.0,Croissant,Donnerstag,6,...,True,True,False,False,False,True,False,True,False,False
1806214,2018-06-21,50.350315,7.0,11.5625,15.0,65.0,1.0,Konditorei,Donnerstag,6,...,True,True,False,False,False,True,False,True,False,False
1806215,2018-06-21,301.074400,7.0,11.5625,15.0,65.0,1.0,Kuchen,Donnerstag,6,...,True,True,False,False,False,True,False,True,False,False
1806221,2018-06-22,173.940050,5.0,15.5750,20.0,61.0,1.0,Brot,Freitag,6,...,True,True,False,False,False,True,False,True,False,False
1806222,2018-06-22,443.180080,5.0,15.5750,20.0,61.0,1.0,Brötchen,Freitag,6,...,True,True,False,False,False,True,False,True,False,False
1806223,2018-06-22,205.270420,5.0,15.5750,20.0,61.0,1.0,Croissant,Freitag,6,...,True,True,False,False,False,True,False,True,False,False
1806224,2018-06-22,62.658146,5.0,15.5750,20.0,61.0,1.0,Konditorei,Freitag,6,...,True,True,False,False,False,True,False,True,False,False
1806225,2018-06-22,349.509580,5.0,15.5750,20.0,61.0,1.0,Kuchen,Freitag,6,...,True,True,False,False,False,True,False,True,False,False
1806231,2018-06-23,228.688310,7.0,14.3000,18.0,61.0,1.0,Brot,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806232,2018-06-23,706.424400,7.0,14.3000,18.0,61.0,1.0,Brötchen,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806233,2018-06-23,339.700500,7.0,14.3000,18.0,61.0,1.0,Croissant,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806234,2018-06-23,49.884050,7.0,14.3000,18.0,61.0,1.0,Konditorei,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806235,2018-06-23,662.369300,7.0,14.3000,18.0,61.0,1.0,Kuchen,Samstag,6,...,True,True,False,False,False,True,False,True,False,False
1806241,2018-06-24,96.839775,6.0,16.2375,10.0,21.0,1.0,Brot,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806242,2018-06-24,579.887630,6.0,16.2375,10.0,21.0,1.0,Brötchen,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806243,2018-06-24,312.533170,6.0,16.2375,10.0,21.0,1.0,Croissant,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806244,2018-06-24,68.619430,6.0,16.2375,10.0,21.0,1.0,Konditorei,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False
1806245,2018-06-24,275.941600,6.0,16.2375,10.0,21.0,1.0,Kuchen,Sonntag,6,...,True,True,False,False,False,True,False,True,False,False

In [31]:
predictions_valid_all = lin_mod.predict(validation_data_all)
predictions_valid_all.to_csv("predictions_validation_all.csv")
predictions_valid_all

id
1806161    165.812530
1806162    440.065447
1806163    201.308416
1806164    135.862520
1806165    323.148314
1806171    153.602469
1806172    427.855386
1806173    189.098355
1806174    123.652459
1806175    310.938253
1806181    149.427441
1806182    423.680359
1806183    184.923327
1806184    119.477432
1806185    306.763225
1806191    159.698266
1806192    433.951184
1806193    195.194152
1806194    129.748257
1806195    317.034050
1806201    178.628575
1806202    452.881493
1806203    214.124461
1806204    148.678566
1806205    335.964359
1806211    123.869803
1806212    398.122721
1806213    159.365689
1806214     93.919794
1806215    281.205587
1806221    143.070035
1806222    417.322953
1806223    178.565921
1806224    113.120026
1806225    300.405819
1806231    136.273057
1806232    410.525974
1806233    171.768943
1806234    106.323047
1806235    293.608840
1806241    144.314684
1806242    418.567601
1806243    179.810570
1806244    114.364674
1806245    301.650468
dtype: float64

# Calculate RMSE & MSE

In [32]:
from sklearn.metrics import mean_squared_error # Import mean_squared_error from sklearn.metrics
import math # Import math library

# Calculate the mean squared error using mean_squared_error from sklearn.metrics
mse_valid_all = mean_squared_error(validation_data_all[["Umsatz"]], predictions_valid_all)
 
# Raise the mean squared error to the power of 0.5
rmse_valid_all = (mse_valid_all)**(1/2)
# Print the RMSE
rmse_valid_all

95.53907601943254

In [33]:
mse_valid_all

9127.71504664691

# Check the test_data_all dataset for NA

In [34]:
test_data_all.isna().any()

Datum                                     False
Umsatz                                     True
Bewoelkung                                 True
Temperatur                                 True
Windgeschwindigkeit                        True
Wettercode                                 True
KielerWoche                                True
Produktgruppe                             False
Wochentag                                 False
Monat                                     False
Jahr                                      False
Umsatz_lag_1                               True
Umsatz_lag_7                               True
Umsatz_lag_14                              True
Umsatz_rolling_mean_3                     False
Umsatz_rolling_std_3                      False
Umsatz_rolling_mean_7                     False
Umsatz_rolling_std_7                      False
Ist_Wochenende                            False
Jahreszeit                                False
Regenstaerke                               True
Ist_Feiertag_SH                           False
Ist_Feiertag_Bundesweit                   False
Ist_Schulferien_SH                        False
Veranstaltung_Holstenkoeste               False
Veranstaltung_Kieler_Umschlag             False
Veranstaltung_Kieler_Weihnachtsmaerkte    False
Veranstaltung_Kieler_Woche                False
Veranstaltung_NOK_Romantika               False
Veranstaltung_NordArt                     False
Veranstaltung_Seebrueckenfest             False
Veranstaltung_Sprottentage                False
dtype: bool

# Impute missing values in the test_data_all

In [36]:
# Fill missing values with the median
test_data_all['Wettercode'] = test_data_all['Wettercode'].fillna(test_data_all['Wettercode'].median())
test_data_all['Temperatur'] = test_data_all['Temperatur'].fillna(test_data_all['Temperatur'].median())
test_data_all["Bewoelkung"] =  test_data_all["Bewoelkung"].fillna(test_data_all["Bewoelkung"].median())
test_data_all["Windgeschwindigkeit"] =  test_data_all["Windgeschwindigkeit"].fillna(test_data_all["Windgeschwindigkeit"].median())
test_data_all["KielerWoche"] =  test_data_all["KielerWoche"].fillna(test_data_all["KielerWoche"].median())

test_data_all

/tmp/ipykernel_5308/3945531953.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_all['Wettercode'] = test_data_all['Wettercode'].fillna(test_data_all['Wettercode'].median())
/tmp/ipykernel_5308/3945531953.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_all['Temperatur'] = test_data_all['Temperatur'].fillna(test_data_all['Temperatur'].median())
/tmp/ipykernel_5308/3945531953.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_all["Bewoelkung"] =  test_data_all["Bewoelkung"].fillna(test_data_all["Bewoelkung"].median())
/tmp/ipykernel_5308/3945531953.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_all["Windgeschwindigkeit"] =  test_data_all["Windgeschwindigkeit"].fillna(test_data_all["Windgeschwindigkeit"].median())
/tmp/ipykernel_5308/3945531953.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_all["KielerWoche"] =  test_data_all["KielerWoche"].fillna(test_data_all["KielerWoche"].median())

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Produktgruppe,Wochentag,Monat,...,Ist_Feiertag_Bundesweit,Ist_Schulferien_SH,Veranstaltung_Holstenkoeste,Veranstaltung_Kieler_Umschlag,Veranstaltung_Kieler_Weihnachtsmaerkte,Veranstaltung_Kieler_Woche,Veranstaltung_NOK_Romantika,Veranstaltung_NordArt,Veranstaltung_Seebrueckenfest,Veranstaltung_Sprottentage
id,,,,,,,,,,,,,,,,,,,,,
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,1.0,Brot,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,1.0,Brötchen,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,1.0,Croissant,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,1.0,Konditorei,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,1.0,Kuchen,Mittwoch,8,...,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,1.0,Brot,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,1.0,Brötchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,1.0,Croissant,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,1.0,Konditorei,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,1.0,Kuchen,Dienstag,7,...,True,True,False,False,False,False,False,True,False,False

# Predict Umsatz on test_data_all

In [41]:
predictions_test_all = lin_mod.predict(test_data_all)
predictions_test_all.to_csv("predictions_test_all_Team_5.csv")
predictions_test_all

id
1808011    147.299654
1808012    421.552571
1808013    182.795540
1808014    117.349644
1808015    304.635438
              ...
1907301    121.178148
1907302    395.431065
1907303    156.674034
1907304     91.228138
1907305    278.513932
Length: 1830, dtype: float64

# Attach the column predictions_test_all

In [43]:
test_data_all["Predicted_Umsatz"] = predictions_test_all
predictions_test_all = test_data_all[["Predicted_Umsatz"]]
predictions_test_all.to_csv("predictions_test_all_Team_5.csv", index=False)
predictions_test_all

/tmp/ipykernel_5308/4080109434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_all["Predicted_Umsatz"] = predictions_test_all

         Predicted_Umsatz
id
1808011        147.299654
1808012        421.552571
1808013        182.795540
1808014        117.349644
1808015        304.635438
...                   ...
1907301        121.178148
1907302        395.431065
1907303        156.674034
1907304         91.228138
1907305        278.513932

[1830 rows x 1 columns]