In [2]:
import pandas
data = pandas.read_csv ("kiwo.csv")
data.to_csv("data.csv")
data

         Datum  KielerWoche
0   2012-06-16            1
1   2012-06-17            1
2   2012-06-18            1
3   2012-06-19            1
4   2012-06-20            1
..         ...          ...
67  2019-06-26            1
68  2019-06-27            1
69  2019-06-28            1
70  2019-06-29            1
71  2019-06-30            1

[72 rows x 2 columns]

In [31]:
import pandas as pd
df = pd.DataFrame(data)
df['Datum'] = pd.to_datetime(df['Datum'])
df['weekday'] = df['Datum'].dt.weekday
df['dayofyear'] = df['Datum'].dt.dayofyear
df['day_of_week'] = df['Datum'].dt.day_name()
print (df)
df.to_csv('kiwo_updated.csv')

        Datum  KielerWoche  weekday  dayofyear day_of_week
0  2012-06-16            1        5        168    Saturday
1  2012-06-17            1        6        169      Sunday
2  2012-06-18            1        0        170      Monday
3  2012-06-19            1        1        171     Tuesday
4  2012-06-20            1        2        172   Wednesday
..        ...          ...      ...        ...         ...
67 2019-06-26            1        2        177   Wednesday
68 2019-06-27            1        3        178    Thursday
69 2019-06-28            1        4        179      Friday
70 2019-06-29            1        5        180    Saturday
71 2019-06-30            1        6        181      Sunday

[72 rows x 5 columns]

In [32]:
df.describe()

                     Datum  KielerWoche    weekday   dayofyear
count                   72         72.0  72.000000   72.000000
mean   2015-12-23 00:00:00          1.0   3.555556  174.250000
min    2012-06-16 00:00:00          1.0   0.000000  167.000000
25%    2014-03-24 00:00:00          1.0   2.000000  172.000000
50%    2015-12-23 00:00:00          1.0   4.000000  174.000000
75%    2017-09-22 00:00:00          1.0   5.000000  177.000000
max    2019-06-30 00:00:00          1.0   6.000000  181.000000
std                    NaN          0.0   2.075266    3.430394

In [8]:
df.head()

       Datum  KielerWoche  weekday  dayofyear day_of_week
0 2012-06-16            1        5        168    Saturday
1 2012-06-17            1        6        169      Sunday
2 2012-06-18            1        0        170      Monday
3 2012-06-19            1        1        171     Tuesday
4 2012-06-20            1        2        172   Wednesday

In [9]:
df.tail()

        Datum  KielerWoche  weekday  dayofyear day_of_week
67 2019-06-26            1        2        177   Wednesday
68 2019-06-27            1        3        178    Thursday
69 2019-06-28            1        4        179      Friday
70 2019-06-29            1        5        180    Saturday
71 2019-06-30            1        6        181      Sunday

In [10]:
df.sample()

        Datum  KielerWoche  weekday  dayofyear day_of_week
27 2015-06-20            1        5        171    Saturday

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Datum        72 non-null     datetime64[ns]
 1   KielerWoche  72 non-null     int64
 2   weekday      72 non-null     int32
 3   dayofyear    72 non-null     int32
 4   day_of_week  72 non-null     object
dtypes: datetime64[ns](1), int32(2), int64(1), object(1)
memory usage: 2.4+ KB

In [36]:
df.isnull()

    Datum  KielerWoche  weekday  dayofyear  day_of_week
0   False        False    False      False        False
1   False        False    False      False        False
2   False        False    False      False        False
3   False        False    False      False        False
4   False        False    False      False        False
..    ...          ...      ...        ...          ...
67  False        False    False      False        False
68  False        False    False      False        False
69  False        False    False      False        False
70  False        False    False      False        False
71  False        False    False      False        False

[72 rows x 5 columns]

In [3]:
data1 = pandas.read_csv ("wetter.csv")
data1.to_csv("data1.csv")
data1

           Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
0     2012-01-01         8.0      9.8250                   14        58.0
1     2012-01-02         7.0      7.4375                   12         NaN
2     2012-01-03         8.0      5.5375                   18        63.0
3     2012-01-04         4.0      5.6875                   19        80.0
4     2012-01-05         6.0      5.3000                   23        80.0
...          ...         ...         ...                  ...         ...
2596  2019-07-28         3.0     23.3500                   14         5.0
2597  2019-07-29         6.0     25.2500                    7        61.0
2598  2019-07-30         7.0     20.7375                    8        61.0
2599  2019-07-31         6.0     20.4500                    7        61.0
2600  2019-08-01         5.0     21.0625                    9        61.0

[2601 rows x 5 columns]

In [4]:
data2 = pandas.read_csv ("umsatzdaten_gekuerzt.csv")
data2.to_csv("data2.csv")
data2

           id       Datum  Warengruppe      Umsatz
0     1307011  2013-07-01            1  148.828353
1     1307021  2013-07-02            1  159.793757
2     1307031  2013-07-03            1  111.885594
3     1307041  2013-07-04            1  168.864941
4     1307051  2013-07-05            1  171.280754
...       ...         ...          ...         ...
9329  1712216  2017-12-21            6   87.471228
9330  1712226  2017-12-22            6   71.911652
9331  1712236  2017-12-23            6   84.062223
9332  1712246  2017-12-24            6   60.981969
9333  1712276  2017-12-27            6   34.972644

[9334 rows x 4 columns]

In [ ]:
# ---- importing pandas (1+2)
import pandas as pd

# merging two csv files
df = pd.concat(map(pd.read_csv, ['kiwo.csv', 'wetter.csv']), ignore_index=True)
print(df)

#save csv as a file
df.to_csv ("df.csv")

           Datum  KielerWoche  Bewoelkung  Temperatur  Windgeschwindigkeit  \
0     2012-06-16          1.0         NaN         NaN                  NaN
1     2012-06-17          1.0         NaN         NaN                  NaN
2     2012-06-18          1.0         NaN         NaN                  NaN
3     2012-06-19          1.0         NaN         NaN                  NaN
4     2012-06-20          1.0         NaN         NaN                  NaN
...          ...          ...         ...         ...                  ...
2668  2019-07-28          NaN         3.0     23.3500                 14.0
2669  2019-07-29          NaN         6.0     25.2500                  7.0
2670  2019-07-30          NaN         7.0     20.7375                  8.0
2671  2019-07-31          NaN         6.0     20.4500                  7.0
2672  2019-08-01          NaN         5.0     21.0625                  9.0

      Wettercode
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
2668         5.0
2669        61.0
2670        61.0
2671        61.0
2672        61.0

[2673 rows x 6 columns]

# merging other two csv files (2+3)

In [ ]:
# merging other two csv files (2+3)
df_1 = pd.concat(map(pd.read_csv, ['df.csv', 'umsatzdaten_gekuerzt.csv']), ignore_index=True)
print(df_1)
df_1.to_csv("df_1.csv")

       Unnamed: 0       Datum  KielerWoche  Bewoelkung  Temperatur  \
0             0.0  2012-06-16          1.0         NaN         NaN
1             1.0  2012-06-17          1.0         NaN         NaN
2             2.0  2012-06-18          1.0         NaN         NaN
3             3.0  2012-06-19          1.0         NaN         NaN
4             4.0  2012-06-20          1.0         NaN         NaN
...           ...         ...          ...         ...         ...
12002         NaN  2017-12-21          NaN         NaN         NaN
12003         NaN  2017-12-22          NaN         NaN         NaN
12004         NaN  2017-12-23          NaN         NaN         NaN
12005         NaN  2017-12-24          NaN         NaN         NaN
12006         NaN  2017-12-27          NaN         NaN         NaN

       Windgeschwindigkeit  Wettercode         id  Warengruppe     Umsatz
0                      NaN         NaN        NaN          NaN        NaN
1                      NaN         NaN        NaN          NaN        NaN
2                      NaN         NaN        NaN          NaN        NaN
3                      NaN         NaN        NaN          NaN        NaN
4                      NaN         NaN        NaN          NaN        NaN
...                    ...         ...        ...          ...        ...
12002                  NaN         NaN  1712216.0          6.0  87.471228
12003                  NaN         NaN  1712226.0          6.0  71.911652
12004                  NaN         NaN  1712236.0          6.0  84.062223
12005                  NaN         NaN  1712246.0          6.0  60.981969
12006                  NaN         NaN  1712276.0          6.0  34.972644

[12007 rows x 10 columns]

In [6]:
# importing libraries
import pandas as pd
import glob
import os

# merging the files
joined_files = os.path.join("data*.csv")

# A list of all joined files is returned
joined_list = glob.glob(joined_files)

# Finally, the files are joined
join_1 = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
join_1.to_csv("join_1.csv")
print(join_1)

       Unnamed: 0       Datum  KielerWoche  id  Warengruppe  Umsatz  \
0               0  2012-06-16          1.0 NaN          NaN     NaN
1               1  2012-06-17          1.0 NaN          NaN     NaN
2               2  2012-06-18          1.0 NaN          NaN     NaN
3               3  2012-06-19          1.0 NaN          NaN     NaN
4               4  2012-06-20          1.0 NaN          NaN     NaN
...           ...         ...          ...  ..          ...     ...
12002        2596  2019-07-28          NaN NaN          NaN     NaN
12003        2597  2019-07-29          NaN NaN          NaN     NaN
12004        2598  2019-07-30          NaN NaN          NaN     NaN
12005        2599  2019-07-31          NaN NaN          NaN     NaN
12006        2600  2019-08-01          NaN NaN          NaN     NaN

       Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
0             NaN         NaN                  NaN         NaN
1             NaN         NaN                  NaN         NaN
2             NaN         NaN                  NaN         NaN
3             NaN         NaN                  NaN         NaN
4             NaN         NaN                  NaN         NaN
...           ...         ...                  ...         ...
12002         3.0     23.3500                 14.0         5.0
12003         6.0     25.2500                  7.0        61.0
12004         7.0     20.7375                  8.0        61.0
12005         6.0     20.4500                  7.0        61.0
12006         5.0     21.0625                  9.0        61.0

[12007 rows x 10 columns]

In [7]:
df_join = pd.DataFrame(join_1)
df_join['Datum'] = pd.to_datetime(df_join['Datum'])
df_join['weekday'] = df_join['Datum'].dt.weekday
df_join['dayofyear'] = df_join['Datum'].dt.dayofyear
df_join['day_of_week'] = df_join['Datum'].dt.day_name()
df_join.to_csv('df_join.csv')
print (df_join)

       Unnamed: 0      Datum  KielerWoche  id  Warengruppe  Umsatz  \
0               0 2012-06-16          1.0 NaN          NaN     NaN
1               1 2012-06-17          1.0 NaN          NaN     NaN
2               2 2012-06-18          1.0 NaN          NaN     NaN
3               3 2012-06-19          1.0 NaN          NaN     NaN
4               4 2012-06-20          1.0 NaN          NaN     NaN
...           ...        ...          ...  ..          ...     ...
12002        2596 2019-07-28          NaN NaN          NaN     NaN
12003        2597 2019-07-29          NaN NaN          NaN     NaN
12004        2598 2019-07-30          NaN NaN          NaN     NaN
12005        2599 2019-07-31          NaN NaN          NaN     NaN
12006        2600 2019-08-01          NaN NaN          NaN     NaN

       Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  weekday  \
0             NaN         NaN                  NaN         NaN        5
1             NaN         NaN                  NaN         NaN        6
2             NaN         NaN                  NaN         NaN        0
3             NaN         NaN                  NaN         NaN        1
4             NaN         NaN                  NaN         NaN        2
...           ...         ...                  ...         ...      ...
12002         3.0     23.3500                 14.0         5.0        6
12003         6.0     25.2500                  7.0        61.0        0
12004         7.0     20.7375                  8.0        61.0        1
12005         6.0     20.4500                  7.0        61.0        2
12006         5.0     21.0625                  9.0        61.0        3

       dayofyear day_of_week
0            168    Saturday
1            169      Sunday
2            170      Monday
3            171     Tuesday
4            172   Wednesday
...          ...         ...
12002        209      Sunday
12003        210      Monday
12004        211     Tuesday
12005        212   Wednesday
12006        213    Thursday

[12007 rows x 13 columns]

# Join 3 csv based on merge pandas

In [ ]:
from datetime import datetime

combinecsv = pd.merge(data1,data2, on='Datum',how = 'inner')
combinecsv.to_csv("combined.csv")

validcsv = pd.merge(data1,data2, on='Datum',how = 'inner')
validcsv.to_csv("valid.csv")
print(validcsv)

           Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
0     2013-07-01         6.0     17.8375                   15        20.0
1     2013-07-01         6.0     17.8375                   15        20.0
2     2013-07-01         6.0     17.8375                   15        20.0
3     2013-07-01         6.0     17.8375                   15        20.0
4     2013-07-01         6.0     17.8375                   15        20.0
...          ...         ...         ...                  ...         ...
9313  2018-07-31         5.0     31.2875                   11         NaN
9314  2018-07-31         5.0     31.2875                   11         NaN
9315  2018-07-31         5.0     31.2875                   11         NaN
9316  2018-07-31         5.0     31.2875                   11         NaN
9317  2018-07-31         5.0     31.2875                   11         NaN

           id  Warengruppe      Umsatz
0     1307011            1  148.828353
1     1307012            2  535.856285
2     1307013            3  201.198426
3     1307014            4   65.890169
4     1307015            5  317.475875
...       ...          ...         ...
9313  1807311            1  123.075682
9314  1807312            2  586.081666
9315  1807313            3  285.872616
9316  1807314            4   57.102795
9317  1807315            5  261.341313

[9318 rows x 8 columns]

# Merge other 2 files

In [13]:
combinecsv_1 = pd.merge(validcsv,data, on='Datum',how = 'outer')
combinecsv_1.to_csv("combined_1.csv")

validcsv_1 = pd.merge(validcsv,data, on='Datum',how = 'inner')
validcsv_1.to_csv("valid_1.csv")
print(validcsv_1)

          Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
0    2014-06-21         6.0     15.5125                   18        61.0
1    2014-06-21         6.0     15.5125                   18        61.0
2    2014-06-21         6.0     15.5125                   18        61.0
3    2014-06-21         6.0     15.5125                   18        61.0
4    2014-06-21         6.0     15.5125                   18        61.0
..          ...         ...         ...                  ...         ...
218  2018-06-24         6.0     16.2375                   10        21.0
219  2018-06-24         6.0     16.2375                   10        21.0
220  2018-06-24         6.0     16.2375                   10        21.0
221  2018-06-24         6.0     16.2375                   10        21.0
222  2018-06-24         6.0     16.2375                   10        21.0

          id  Warengruppe      Umsatz  KielerWoche
0    1406211            1  162.410673            1
1    1406212            2  691.302130            1
2    1406213            3  266.758834            1
3    1406214            4   55.378436            1
4    1406215            5  398.075089            1
..       ...          ...         ...          ...
218  1806241            1   96.839778            1
219  1806242            2  579.887614            1
220  1806243            3  312.533160            1
221  1806244            4   68.619427            1
222  1806245            5  275.941582            1

[223 rows x 9 columns]

# It worked!!!! Next trial for merging

In [11]:
import pandas as pd
from datetime import datetime

combinecsv_2 = pd.merge(data1,data2, on='Datum',how = 'left')
combinecsv_2.to_csv("combined_2.csv")

validcsv_2 = pd.merge(combinecsv_2,data, on='Datum',how = 'left')
validcsv_2.to_csv("valid_2.csv")
print(validcsv_2)

            Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
0      2012-01-01         8.0      9.8250                   14        58.0
1      2012-01-02         7.0      7.4375                   12         NaN
2      2012-01-03         8.0      5.5375                   18        63.0
3      2012-01-04         4.0      5.6875                   19        80.0
4      2012-01-05         6.0      5.3000                   23        80.0
...           ...         ...         ...                  ...         ...
10098  2019-07-28         3.0     23.3500                   14         5.0
10099  2019-07-29         6.0     25.2500                    7        61.0
10100  2019-07-30         7.0     20.7375                    8        61.0
10101  2019-07-31         6.0     20.4500                    7        61.0
10102  2019-08-01         5.0     21.0625                    9        61.0

       id  Warengruppe  Umsatz  KielerWoche
0     NaN          NaN     NaN          NaN
1     NaN          NaN     NaN          NaN
2     NaN          NaN     NaN          NaN
3     NaN          NaN     NaN          NaN
4     NaN          NaN     NaN          NaN
...    ..          ...     ...          ...
10098 NaN          NaN     NaN          NaN
10099 NaN          NaN     NaN          NaN
10100 NaN          NaN     NaN          NaN
10101 NaN          NaN     NaN          NaN
10102 NaN          NaN     NaN          NaN

[10103 rows x 9 columns]

# Add new columns (day of week, day of year)

In [12]:
merged_data = pd.DataFrame(validcsv_2)
merged_data['Datum'] = pd.to_datetime(merged_data['Datum'])
merged_data['weekday'] = merged_data['Datum'].dt.weekday
merged_data['dayofyear'] = merged_data['Datum'].dt.dayofyear
merged_data['day_of_week'] = merged_data['Datum'].dt.day_name()
merged_data.to_csv('merged_data.csv')
print (merged_data)

           Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  id  \
0     2012-01-01         8.0      9.8250                   14        58.0 NaN
1     2012-01-02         7.0      7.4375                   12         NaN NaN
2     2012-01-03         8.0      5.5375                   18        63.0 NaN
3     2012-01-04         4.0      5.6875                   19        80.0 NaN
4     2012-01-05         6.0      5.3000                   23        80.0 NaN
...          ...         ...         ...                  ...         ...  ..
10098 2019-07-28         3.0     23.3500                   14         5.0 NaN
10099 2019-07-29         6.0     25.2500                    7        61.0 NaN
10100 2019-07-30         7.0     20.7375                    8        61.0 NaN
10101 2019-07-31         6.0     20.4500                    7        61.0 NaN
10102 2019-08-01         5.0     21.0625                    9        61.0 NaN

       Warengruppe  Umsatz  KielerWoche  weekday  dayofyear day_of_week
0              NaN     NaN          NaN        6          1      Sunday
1              NaN     NaN          NaN        0          2      Monday
2              NaN     NaN          NaN        1          3     Tuesday
3              NaN     NaN          NaN        2          4   Wednesday
4              NaN     NaN          NaN        3          5    Thursday
...            ...     ...          ...      ...        ...         ...
10098          NaN     NaN          NaN        6        209      Sunday
10099          NaN     NaN          NaN        0        210      Monday
10100          NaN     NaN          NaN        1        211     Tuesday
10101          NaN     NaN          NaN        2        212   Wednesday
10102          NaN     NaN          NaN        3        213    Thursday

[10103 rows x 12 columns]

# The same output as merged data (can be ignored)

In [8]:
import pandas as pd
from datetime import datetime

combinecsv_3 =data1.merge(data2, on='Datum',how = 'left')
combinecsv_3.to_csv("combined_3.csv")

validcsv_3 = combinecsv_3.merge(data, on='Datum',how = 'left')
validcsv_3.to_csv("valid_3.csv")
print(validcsv_3)

            Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
0      2012-01-01         8.0      9.8250                   14        58.0
1      2012-01-02         7.0      7.4375                   12         NaN
2      2012-01-03         8.0      5.5375                   18        63.0
3      2012-01-04         4.0      5.6875                   19        80.0
4      2012-01-05         6.0      5.3000                   23        80.0
...           ...         ...         ...                  ...         ...
10098  2019-07-28         3.0     23.3500                   14         5.0
10099  2019-07-29         6.0     25.2500                    7        61.0
10100  2019-07-30         7.0     20.7375                    8        61.0
10101  2019-07-31         6.0     20.4500                    7        61.0
10102  2019-08-01         5.0     21.0625                    9        61.0

       id  Warengruppe  Umsatz  KielerWoche
0     NaN          NaN     NaN          NaN
1     NaN          NaN     NaN          NaN
2     NaN          NaN     NaN          NaN
3     NaN          NaN     NaN          NaN
4     NaN          NaN     NaN          NaN
...    ..          ...     ...          ...
10098 NaN          NaN     NaN          NaN
10099 NaN          NaN     NaN          NaN
10100 NaN          NaN     NaN          NaN
10101 NaN          NaN     NaN          NaN
10102 NaN          NaN     NaN          NaN

[10103 rows x 9 columns]

# Sort based on Warengruppe column

In [15]:
sorted_merged_data= merged_data.sort_values(by=["Warengruppe", "Datum"])
sorted_merged_data.to_csv("sorted_merged_data.csv")
sorted_merged_data

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,id,Warengruppe,Umsatz,KielerWoche,weekday,dayofyear,day_of_week
394,2013-07-01,6.0,17.8375,15,20.0,1307011.0,1.0,148.828353,NaN,0,182,Monday
399,2013-07-02,3.0,17.3125,10,NaN,1307021.0,1.0,159.793757,NaN,1,183,Tuesday
404,2013-07-03,7.0,21.0750,6,61.0,1307031.0,1.0,111.885594,NaN,2,184,Wednesday
409,2013-07-04,7.0,18.8500,7,20.0,1307041.0,1.0,168.864941,NaN,3,185,Thursday
414,2013-07-05,5.0,19.9750,12,NaN,1307051.0,1.0,171.280754,NaN,4,186,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...
10098,2019-07-28,3.0,23.3500,14,5.0,NaN,NaN,NaN,NaN,6,209,Sunday
10099,2019-07-29,6.0,25.2500,7,61.0,NaN,NaN,NaN,NaN,0,210,Monday
10100,2019-07-30,7.0,20.7375,8,61.0,NaN,NaN,NaN,NaN,1,211,Tuesday
10101,2019-07-31,6.0,20.4500,7,61.0,NaN,NaN,NaN,NaN,2,212,Wednesday
10102,2019-08-01,5.0,21.0625,9,61.0,NaN,NaN,NaN,NaN,3,213,Thursday

# Replace all emty values with NaN

In [29]:
replaced_data=sorted_merged_data.mask(sorted_merged_data == '')
replaced_data.to_csv("replaced_data.csv")
print(replaced_data)

           Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
394   2013-07-01         6.0     17.8375                   15        20.0
399   2013-07-02         3.0     17.3125                   10         NaN
404   2013-07-03         7.0     21.0750                    6        61.0
409   2013-07-04         7.0     18.8500                    7        20.0
414   2013-07-05         5.0     19.9750                   12         NaN
...          ...         ...         ...                  ...         ...
10098 2019-07-28         3.0     23.3500                   14         5.0
10099 2019-07-29         6.0     25.2500                    7        61.0
10100 2019-07-30         7.0     20.7375                    8        61.0
10101 2019-07-31         6.0     20.4500                    7        61.0
10102 2019-08-01         5.0     21.0625                    9        61.0

              id  Warengruppe      Umsatz  KielerWoche  weekday  dayofyear  \
394    1307011.0          1.0  148.828353          NaN        0        182
399    1307021.0          1.0  159.793757          NaN        1        183
404    1307031.0          1.0  111.885594          NaN        2        184
409    1307041.0          1.0  168.864941          NaN        3        185
414    1307051.0          1.0  171.280754          NaN        4        186
...          ...          ...         ...          ...      ...        ...
10098        NaN          NaN         NaN          NaN        6        209
10099        NaN          NaN         NaN          NaN        0        210
10100        NaN          NaN         NaN          NaN        1        211
10101        NaN          NaN         NaN          NaN        2        212
10102        NaN          NaN         NaN          NaN        3        213

      day_of_week
394        Monday
399       Tuesday
404     Wednesday
409      Thursday
414        Friday
...           ...
10098      Sunday
10099      Monday
10100     Tuesday
10101   Wednesday
10102    Thursday

[10103 rows x 12 columns]

# Delete the the rows with NaN from column Warengruppe

In [31]:
dropped_data=replaced_data.dropna(subset=['Warengruppe'])
dropped_data.to_csv("dropped_data.csv")
print (dropped_data)

          Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  \
394  2013-07-01         6.0     17.8375                   15        20.0
399  2013-07-02         3.0     17.3125                   10         NaN
404  2013-07-03         7.0     21.0750                    6        61.0
409  2013-07-04         7.0     18.8500                    7        20.0
414  2013-07-05         5.0     19.9750                   12         NaN
...         ...         ...         ...                  ...         ...
8659 2017-12-21         7.0      6.2375                   10        21.0
8665 2017-12-22         7.0      5.7625                    9        10.0
8671 2017-12-23         7.0      7.8000                   19        61.0
8677 2017-12-24         7.0      8.1125                   16        61.0
8685 2017-12-27         7.0      4.6125                    7        21.0

             id  Warengruppe      Umsatz  KielerWoche  weekday  dayofyear  \
394   1307011.0          1.0  148.828353          NaN        0        182
399   1307021.0          1.0  159.793757          NaN        1        183
404   1307031.0          1.0  111.885594          NaN        2        184
409   1307041.0          1.0  168.864941          NaN        3        185
414   1307051.0          1.0  171.280754          NaN        4        186
...         ...          ...         ...          ...      ...        ...
8659  1712216.0          6.0   87.471228          NaN        3        355
8665  1712226.0          6.0   71.911652          NaN        4        356
8671  1712236.0          6.0   84.062223          NaN        5        357
8677  1712246.0          6.0   60.981969          NaN        6        358
8685  1712276.0          6.0   34.972644          NaN        2        361

     day_of_week
394       Monday
399      Tuesday
404    Wednesday
409     Thursday
414       Friday
...          ...
8659    Thursday
8665      Friday
8671    Saturday
8677      Sunday
8685   Wednesday

[9318 rows x 12 columns]