In [30]:
import pandas
data = pandas.read_csv ("kiwo.csv")
data

         Datum  KielerWoche
0   2012-06-16            1
1   2012-06-17            1
2   2012-06-18            1
3   2012-06-19            1
4   2012-06-20            1
..         ...          ...
67  2019-06-26            1
68  2019-06-27            1
69  2019-06-28            1
70  2019-06-29            1
71  2019-06-30            1

[72 rows x 2 columns]

In [31]:
import pandas as pd
df = pd.DataFrame(data)
df['Datum'] = pd.to_datetime(df['Datum'])
df['weekday'] = df['Datum'].dt.weekday
df['dayofyear'] = df['Datum'].dt.dayofyear
df['day_of_week'] = df['Datum'].dt.day_name()
print (df)
df.to_csv('kiwo_updated.csv')

        Datum  KielerWoche  weekday  dayofyear day_of_week
0  2012-06-16            1        5        168    Saturday
1  2012-06-17            1        6        169      Sunday
2  2012-06-18            1        0        170      Monday
3  2012-06-19            1        1        171     Tuesday
4  2012-06-20            1        2        172   Wednesday
..        ...          ...      ...        ...         ...
67 2019-06-26            1        2        177   Wednesday
68 2019-06-27            1        3        178    Thursday
69 2019-06-28            1        4        179      Friday
70 2019-06-29            1        5        180    Saturday
71 2019-06-30            1        6        181      Sunday

[72 rows x 5 columns]

In [32]:
df.describe()

                     Datum  KielerWoche    weekday   dayofyear
count                   72         72.0  72.000000   72.000000
mean   2015-12-23 00:00:00          1.0   3.555556  174.250000
min    2012-06-16 00:00:00          1.0   0.000000  167.000000
25%    2014-03-24 00:00:00          1.0   2.000000  172.000000
50%    2015-12-23 00:00:00          1.0   4.000000  174.000000
75%    2017-09-22 00:00:00          1.0   5.000000  177.000000
max    2019-06-30 00:00:00          1.0   6.000000  181.000000
std                    NaN          0.0   2.075266    3.430394

In [8]:
df.head()

       Datum  KielerWoche  weekday  dayofyear day_of_week
0 2012-06-16            1        5        168    Saturday
1 2012-06-17            1        6        169      Sunday
2 2012-06-18            1        0        170      Monday
3 2012-06-19            1        1        171     Tuesday
4 2012-06-20            1        2        172   Wednesday

In [9]:
df.tail()

        Datum  KielerWoche  weekday  dayofyear day_of_week
67 2019-06-26            1        2        177   Wednesday
68 2019-06-27            1        3        178    Thursday
69 2019-06-28            1        4        179      Friday
70 2019-06-29            1        5        180    Saturday
71 2019-06-30            1        6        181      Sunday

In [10]:
df.sample()

        Datum  KielerWoche  weekday  dayofyear day_of_week
27 2015-06-20            1        5        171    Saturday

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Datum        72 non-null     datetime64[ns]
 1   KielerWoche  72 non-null     int64
 2   weekday      72 non-null     int32
 3   dayofyear    72 non-null     int32
 4   day_of_week  72 non-null     object
dtypes: datetime64[ns](1), int32(2), int64(1), object(1)
memory usage: 2.4+ KB

In [36]:
df.isnull()

    Datum  KielerWoche  weekday  dayofyear  day_of_week
0   False        False    False      False        False
1   False        False    False      False        False
2   False        False    False      False        False
3   False        False    False      False        False
4   False        False    False      False        False
..    ...          ...      ...        ...          ...
67  False        False    False      False        False
68  False        False    False      False        False
69  False        False    False      False        False
70  False        False    False      False        False
71  False        False    False      False        False

[72 rows x 5 columns]