In [81]:
import pandas
kiwo = pandas.read_csv ("kiwo.csv")
wetter = pandas.read_csv ("wetter.csv")
umsatz = pandas.read_csv ("umsatzdaten_gekuerzt.csv")
test= pandas.read_csv ("test.csv")

In [82]:
merged = pandas.merge(umsatz, test, on=["Datum", "id", "Warengruppe"], how="outer")
merged.to_csv("umsatz_test.csv", index=False)
merged

            id       Datum  Warengruppe      Umsatz
0      1307011  2013-07-01            1  148.828353
1      1307012  2013-07-01            2  535.856285
2      1307013  2013-07-01            3  201.198426
3      1307014  2013-07-01            4   65.890169
4      1307015  2013-07-01            5  317.475875
...        ...         ...          ...         ...
11159  1907301  2019-07-30            1         NaN
11160  1907302  2019-07-30            2         NaN
11161  1907303  2019-07-30            3         NaN
11162  1907304  2019-07-30            4         NaN
11163  1907305  2019-07-30            5         NaN

[11164 rows x 4 columns]

In [83]:
merged2 = pandas.merge(merged, kiwo, on="Datum", how="left")
merged2.to_csv("umsatz_test_kiwo.csv", index=False)
merged2

            id       Datum  Warengruppe      Umsatz  KielerWoche
0      1307011  2013-07-01            1  148.828353          NaN
1      1307012  2013-07-01            2  535.856285          NaN
2      1307013  2013-07-01            3  201.198426          NaN
3      1307014  2013-07-01            4   65.890169          NaN
4      1307015  2013-07-01            5  317.475875          NaN
...        ...         ...          ...         ...          ...
11159  1907301  2019-07-30            1         NaN          NaN
11160  1907302  2019-07-30            2         NaN          NaN
11161  1907303  2019-07-30            3         NaN          NaN
11162  1907304  2019-07-30            4         NaN          NaN
11163  1907305  2019-07-30            5         NaN          NaN

[11164 rows x 5 columns]

In [84]:
merged3 = pandas.merge(merged2, wetter, on="Datum", how="left")
merged3.to_csv("umsatz_test_kiwo_wetter.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0
...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0

In [85]:
merged3["Datum"] = pandas.to_datetime(merged3["Datum"], format="%Y-%m-%d")
merged3["Woche"] = merged3["Datum"].dt.isocalendar().week
merged3["Monat"] = merged3["Datum"].dt.month
merged3["Jahr"] = merged3["Datum"].dt.year
merged3["Wochentag"] = merged3["Datum"].dt.dayofweek + 1  # Montag=1, Sonntag=7
merged3["Kalenderwoche"] = merged3["Datum"].dt.strftime("%Y-%U")
merged3["Quartal"] = merged3["Datum"].dt.quarter
merged3["Halbjahr"] = merged3["Datum"].dt.month.apply(lambda x: 1 if x <= 6 else 2) # 1.HJ=1, 2.HJ=2
merged3["Jahreszeit"] = merged3["Monat"].apply(
    lambda x: "Winter" if x in [12, 1, 2] else
              "Frühling" if x in [3, 4, 5] else
              "Sommer" if x in [6, 7, 8] else
              "Herbst"  if x in [9, 10, 11] else None
)
merged3.to_csv("umsatz_test_kiwo_wetter_datum.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [86]:
merged3["KielerWoche"] = merged3["KielerWoche"].fillna(0).astype(int)
merged3.to_csv("umsatz_test_kiwo_wetter_datum_kiwo_int.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [87]:
merged3['Product_type'] = merged3.loc[:,'Warengruppe']
ready_data=merged3.replace({"Product_type": {1: 'Bread', 2: 'Roles', 3: 'Croissant', 4: "Pastry", 5: "Cake", 6: "Seasonal products"}})
ready_data.to_csv("final_data.csv", index=False)
ready_data

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [88]:
ready_data_1=ready_data.sort_values(by='Datum')
ready_data_1.to_csv("final_data_sorted.csv", index=False)
ready_data_1

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [89]:
ready_data_1.set_index('id', inplace=True)
ready_data_1

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [90]:
# Define your date thresholds
train_end_date = '2017-07-31'
validation_end_date = '2018-07-31'

# Convert to datetime if not already
import pandas as pd
ready_data_1['Datum'] = pd.to_datetime(ready_data_1['Datum'])

# Split the data based on the date thresholds
train_data = ready_data_1[ready_data_1['Datum'] <= train_end_date]
validation_data = ready_data_1[(ready_data_1['Datum'] > train_end_date) & (ready_data_1['Datum'] <= validation_end_date)]
test_data = ready_data_1[ready_data_1['Datum'] > validation_end_date]

# Check the dimensions of the datasets
print("Training dataset dimensions:", train_data.shape)
print("Validation dataset dimensions:", validation_data.shape)
print("Test dataset dimensions:", test_data.shape)

# Save the datasets to CSV files
train_data.to_csv("train_data.csv", index=False)
validation_data.to_csv("validation_data.csv", index=False)
test_data.to_csv("test_data.csv", index=False)

Training dataset dimensions: (7493, 17)
Validation dataset dimensions: (1841, 17)
Test dataset dimensions: (1830, 17)

In [91]:
train_data

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707311,2017-07-31,1,162.425333,0,2.0,22.7500,9.0,NaN,31,7,2017,1,2017-31,3,2,Sommer,Bread
1707312,2017-07-31,2,548.102447,0,2.0,22.7500,9.0,NaN,31,7,2017,1,2017-31,3,2,Sommer,Roles
1707313,2017-07-31,3,294.721801,0,2.0,22.7500,9.0,NaN,31,7,2017,1,2017-31,3,2,Sommer,Croissant
1707314,2017-07-31,4,87.226479,0,2.0,22.7500,9.0,NaN,31,7,2017,1,2017-31,3,2,Sommer,Pastry
1707315,2017-07-31,5,222.684256,0,2.0,22.7500,9.0,NaN,31,7,2017,1,2017-31,3,2,Sommer,Cake

In [92]:
validation_data

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1708015,2017-08-01,5,325.864228,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Cake
1708014,2017-08-01,4,88.208006,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Pastry
1708013,2017-08-01,3,294.872701,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Croissant
1708011,2017-08-01,1,166.135486,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Bread
1708012,2017-08-01,2,557.470898,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Roles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807311,2018-07-31,1,123.075682,0,5.0,31.2875,11.0,NaN,31,7,2018,2,2018-30,3,2,Sommer,Bread
1807312,2018-07-31,2,586.081666,0,5.0,31.2875,11.0,NaN,31,7,2018,2,2018-30,3,2,Sommer,Roles
1807313,2018-07-31,3,285.872616,0,5.0,31.2875,11.0,NaN,31,7,2018,2,2018-30,3,2,Sommer,Croissant
1807314,2018-07-31,4,57.102795,0,5.0,31.2875,11.0,NaN,31,7,2018,2,2018-30,3,2,Sommer,Pastry
1807315,2018-07-31,5,261.341313,0,5.0,31.2875,11.0,NaN,31,7,2018,2,2018-30,3,2,Sommer,Cake

In [93]:
test_data

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1808015,2018-08-01,5,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Cake
1808013,2018-08-01,3,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Croissant
1808014,2018-08-01,4,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Pastry
1808011,2018-08-01,1,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Bread
1808012,2018-08-01,2,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Roles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [94]:
import pandas as pd
import statsmodels.formula.api as smf

# Fit the linear model
mod = smf.ols('Umsatz ~ C(Warengruppe) + Bewoelkung + C(KielerWoche) + Temperatur', data=train_data).fit()

# Print the summary
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Umsatz   R-squared:                       0.688
Model:                            OLS   Adj. R-squared:                  0.688
Method:                 Least Squares   F-statistic:                     2066.
Date:                Fri, 19 Dec 2025   Prob (F-statistic):               0.00
Time:                        20:39:46   Log-Likelihood:                -43660.
No. Observations:                7487   AIC:                         8.734e+04
Df Residuals:                    7478   BIC:                         8.740e+04
Df Model:                           8
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept              72.9482      3.740     19.506      0.000      65.617      80.279
C(Warengruppe)[T.2]   289.1639      3.053     94.707      0.000     283.179     295.149
C(Warengruppe)[T.3]    42.7563      3.053     14.003      0.000      36.771      48.742
C(Warengruppe)[T.4]   -32.8618      3.082    -10.663      0.000     -38.903     -26.820
C(Warengruppe)[T.5]   159.5235      3.053     52.247      0.000     153.538     165.509
C(Warengruppe)[T.6]   -32.1679      5.847     -5.502      0.000     -43.630     -20.706
C(KielerWoche)[T.1]    20.5266      6.340      3.237      0.001       8.098      32.956
Bewoelkung             -0.2736      0.395     -0.693      0.488      -1.048       0.501
Temperatur              4.0152      0.149     26.879      0.000       3.722       4.308
==============================================================================
Omnibus:                     7398.617   Durbin-Watson:                   1.590
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1380963.190
Skew:                           4.357   Prob(JB):                         0.00
Kurtosis:                      68.961   Cond. No.                         99.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [95]:
predictions = mod.predict(train_data)
print(predictions)

id
1307011    142.928144
1307012    432.092036
1307013    185.684411
1307014    110.066351
1307015    302.451595
              ...
1707311    163.747421
1707312    452.911313
1707313    206.503688
1707314    130.885628
1707315    323.270872
Length: 7493, dtype: float64

In [96]:
validation_data=validation_data.dropna()
validation_data

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1708015,2017-08-01,5,325.864228,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Cake
1708014,2017-08-01,4,88.208006,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Pastry
1708013,2017-08-01,3,294.872701,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Croissant
1708011,2017-08-01,1,166.135486,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Bread
1708012,2017-08-01,2,557.470898,0,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,3,2,Sommer,Roles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807304,2018-07-30,4,71.822977,0,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,3,2,Sommer,Pastry
1807303,2018-07-30,3,348.770346,0,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,3,2,Sommer,Croissant
1807305,2018-07-30,5,324.965348,0,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,3,2,Sommer,Cake
1807301,2018-07-30,1,148.541340,0,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,3,2,Sommer,Bread
1807302,2018-07-30,2,616.358562,0,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,3,2,Sommer,Roles

In [97]:
predictions_valid = mod.predict(validation_data)
predictions_valid.to_csv("predictions_validation.csv")
print(predictions_valid)

id
1708015    316.655462
1708014    124.270219
1708013    199.888279
1708011    157.132011
1708012    446.295903
              ...
1807304    150.017865
1807303    225.635925
1807305    342.403109
1807301    182.879658
1807302    472.043550
Length: 1610, dtype: float64

In [98]:
from sklearn.metrics import mean_squared_error # Import mean_squared_error from sklearn.metrics
import math # Import math library

# Calculate the mean squared error using mean_squared_error from sklearn.metrics
mse_valid = mean_squared_error(validation_data[["Umsatz"]], predictions_valid)
 
# Raise the mean squared error to the power of 0.5
rmse_valid = (mse_valid)**(1/2)
# Print the RMSE
rmse_valid

75.9746116207327

In [99]:
mse_valid

5772.141610921172

In [100]:
test_data.isna().any()

Datum                  False
Warengruppe            False
Umsatz                  True
KielerWoche            False
Bewoelkung              True
Temperatur              True
Windgeschwindigkeit     True
Wettercode              True
Woche                  False
Monat                  False
Jahr                   False
Wochentag              False
Kalenderwoche          False
Quartal                False
Halbjahr               False
Jahreszeit             False
Product_type           False
dtype: bool

In [ ]:
test_data=test_data.dropna(subset=["Wettercode", "Bewoelkung", "Temperatur"])
test_data

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1808015,2018-08-01,5,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Cake
1808013,2018-08-01,3,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Croissant
1808014,2018-08-01,4,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Pastry
1808011,2018-08-01,1,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Bread
1808012,2018-08-01,2,NaN,0,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,3,2,Sommer,Roles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [ ]:
predictions_test = mod.predict(test_data)
predictions_test.to_csv("predictions_test.csv")
print(predictions_test)

id
1808015    327.883525
1808013    211.116342
1808014    135.498282
1808011    168.360075
1808012    457.523966
              ...
1907304    121.436893
1907301    154.298686
1907302    443.462578
1907303    197.054953
1907305    313.822137
Length: 1493, dtype: float64