In [223]:
import pandas
kiwo = pandas.read_csv ("kiwo.csv")
wetter = pandas.read_csv ("wetter.csv")
umsatz = pandas.read_csv ("umsatzdaten_gekuerzt.csv")
test= pandas.read_csv ("test.csv")

In [224]:
merged = pandas.merge(umsatz, test, on=["Datum", "id", "Warengruppe"], how="outer")
merged.to_csv("umsatz_test.csv", index=False)
merged

            id       Datum  Warengruppe      Umsatz
0      1307011  2013-07-01            1  148.828353
1      1307012  2013-07-01            2  535.856285
2      1307013  2013-07-01            3  201.198426
3      1307014  2013-07-01            4   65.890169
4      1307015  2013-07-01            5  317.475875
...        ...         ...          ...         ...
11159  1907301  2019-07-30            1         NaN
11160  1907302  2019-07-30            2         NaN
11161  1907303  2019-07-30            3         NaN
11162  1907304  2019-07-30            4         NaN
11163  1907305  2019-07-30            5         NaN

[11164 rows x 4 columns]

In [225]:
merged2 = pandas.merge(merged, kiwo, on="Datum", how="left")
merged2.to_csv("umsatz_test_kiwo.csv", index=False)
merged2

            id       Datum  Warengruppe      Umsatz  KielerWoche
0      1307011  2013-07-01            1  148.828353          NaN
1      1307012  2013-07-01            2  535.856285          NaN
2      1307013  2013-07-01            3  201.198426          NaN
3      1307014  2013-07-01            4   65.890169          NaN
4      1307015  2013-07-01            5  317.475875          NaN
...        ...         ...          ...         ...          ...
11159  1907301  2019-07-30            1         NaN          NaN
11160  1907302  2019-07-30            2         NaN          NaN
11161  1907303  2019-07-30            3         NaN          NaN
11162  1907304  2019-07-30            4         NaN          NaN
11163  1907305  2019-07-30            5         NaN          NaN

[11164 rows x 5 columns]

In [226]:
merged3 = pandas.merge(merged2, wetter, on="Datum", how="left")
merged3.to_csv("umsatz_test_kiwo_wetter.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0
...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0

In [227]:
merged3["Datum"] = pandas.to_datetime(merged3["Datum"], format="%Y-%m-%d")
merged3["Woche"] = merged3["Datum"].dt.isocalendar().week
merged3["Monat"] = merged3["Datum"].dt.month
merged3["Jahr"] = merged3["Datum"].dt.year
merged3["Wochentag"] = merged3["Datum"].dt.dayofweek + 1  # Montag=1, Sonntag=7
merged3["Kalenderwoche"] = merged3["Datum"].dt.strftime("%Y-%U")
merged3["Quartal"] = merged3["Datum"].dt.quarter
merged3["Halbjahr"] = merged3["Datum"].dt.month.apply(lambda x: 1 if x <= 6 else 2) # 1.HJ=1, 2.HJ=2
merged3["Jahreszeit"] = merged3["Monat"].apply(
    lambda x: "Winter" if x in [12, 1, 2] else
              "Frühling" if x in [3, 4, 5] else
              "Sommer" if x in [6, 7, 8] else
              "Herbst"  if x in [9, 10, 11] else None
)
merged3.to_csv("umsatz_test_kiwo_wetter_datum.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [228]:
merged3["KielerWoche"] = merged3["KielerWoche"].fillna(0).astype(int)
merged3.to_csv("umsatz_test_kiwo_wetter_datum_kiwo_int.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [229]:
merged3['Product_type'] = merged3.loc[:,'Warengruppe']
ready_data=merged3.replace({"Product_type": {1: 'Bread', 2: 'Roles', 3: 'Croissant', 4: "Pastry", 5: "Cake", 6: "Seasonal products"}})
ready_data.to_csv("final_data.csv", index=False)
ready_data

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [230]:
ready_data_1=ready_data.sort_values(by='Datum')
ready_data_1.to_csv("final_data_sorted.csv", index=False)
ready_data_1

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [231]:
ready_data_1.set_index('id', inplace=True)
ready_data_1

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [232]:
import pandas as pd
ready_data_1 = pd.get_dummies(ready_data_1, columns=['Warengruppe'], drop_first=False)
ready_data_1 = pd.get_dummies(ready_data_1, columns=['KielerWoche'], drop_first=False)
ready_data_1.dtypes

Datum                  datetime64[ns]
Umsatz                        float64
Bewoelkung                    float64
Temperatur                    float64
Windgeschwindigkeit           float64
Wettercode                    float64
Woche                          UInt32
Monat                           int32
Jahr                            int32
Wochentag                       int32
Kalenderwoche                  object
Quartal                         int32
Halbjahr                        int64
Jahreszeit                     object
Product_type                   object
Warengruppe_1                    bool
Warengruppe_2                    bool
Warengruppe_3                    bool
Warengruppe_4                    bool
Warengruppe_5                    bool
Warengruppe_6                    bool
KielerWoche_0                    bool
KielerWoche_1                    bool
dtype: object

In [233]:
# Define your date thresholds
train_end_date = '2017-07-31'
validation_end_date = '2018-07-31'

# Convert to datetime if not already
import pandas as pd
ready_data_1['Datum'] = pd.to_datetime(ready_data_1['Datum'])

# Split the data based on the date thresholds
train_data = ready_data_1[ready_data_1['Datum'] <= train_end_date]
validation_data = ready_data_1[(ready_data_1['Datum'] > train_end_date) & (ready_data_1['Datum'] <= validation_end_date)]
test_data = ready_data_1[ready_data_1['Datum'] > validation_end_date]

# Check the dimensions of the datasets
print("Training dataset dimensions:", train_data.shape)
print("Validation dataset dimensions:", validation_data.shape)
print("Test dataset dimensions:", test_data.shape)

# Save the datasets to CSV files
train_data.to_csv("train_data.csv", index=False)
validation_data.to_csv("validation_data.csv", index=False)
test_data.to_csv("test_data.csv", index=False)

Training dataset dimensions: (7493, 23)
Validation dataset dimensions: (1841, 23)
Test dataset dimensions: (1830, 23)

In [234]:
train_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.828353,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,535.856285,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,201.198426,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,65.890169,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,317.475875,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707311,2017-07-31,162.425333,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707312,2017-07-31,548.102447,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707313,2017-07-31,294.721801,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707314,2017-07-31,87.226479,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707315,2017-07-31,222.684256,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [235]:
validation_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,325.864228,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,88.208006,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,294.872701,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,166.135486,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,557.470898,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807311,2018-07-31,123.075682,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807312,2018-07-31,586.081666,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1807313,2018-07-31,285.872616,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807314,2018-07-31,57.102795,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807315,2018-07-31,261.341313,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [236]:
test_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [237]:
import pandas as pd
import statsmodels.formula.api as smf

# Fit the linear model
mod = smf.ols('Umsatz ~ Bewoelkung + Temperatur + Windgeschwindigkeit + Warengruppe_1 + Warengruppe_2 + Warengruppe_3 + Warengruppe_4 + ' \
'Warengruppe_5 + Warengruppe_6 + KielerWoche_0 + KielerWoche_1', data=train_data).fit()

# Print the summary
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Umsatz   R-squared:                       0.689
Model:                            OLS   Adj. R-squared:                  0.688
Method:                 Least Squares   F-statistic:                     1836.
Date:                Tue, 23 Dec 2025   Prob (F-statistic):               0.00
Time:                        11:42:00   Log-Likelihood:                -43659.
No. Observations:                7487   AIC:                         8.734e+04
Df Residuals:                    7477   BIC:                         8.741e+04
Df Model:                           9
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                90.9976      3.164     28.762      0.000      84.796      97.200
Warengruppe_1[T.True]   -55.9254      2.181    -25.637      0.000     -60.202     -51.649
Warengruppe_2[T.True]   233.2385      2.181    106.919      0.000     228.962     237.515
Warengruppe_3[T.True]   -13.1692      2.181     -6.037      0.000     -17.445      -8.893
Warengruppe_4[T.True]   -88.7811      2.208    -40.208      0.000     -93.110     -84.453
Warengruppe_5[T.True]   103.5980      2.181     47.490      0.000      99.322     107.874
Warengruppe_6[T.True]   -87.9631      4.684    -18.779      0.000     -97.145     -78.781
KielerWoche_0[T.True]    35.2261      2.459     14.324      0.000      30.405      40.047
KielerWoche_1[T.True]    55.7715      4.365     12.776      0.000      47.214      64.329
Bewoelkung               -0.2947      0.395     -0.745      0.456      -1.070       0.480
Temperatur                4.0122      0.149     26.854      0.000       3.719       4.305
Windgeschwindigkeit       0.2522      0.230      1.098      0.272      -0.198       0.702
==============================================================================
Omnibus:                     7401.091   Durbin-Watson:                   1.590
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1383282.382
Skew:                           4.360   Prob(JB):                         0.00
Kurtosis:                      69.016   Cond. No.                     3.32e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.2e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [238]:
predictions = mod.predict(train_data)
print(predictions)

id
1307011    143.879889
1307012    433.043780
1307013    186.636156
1307014    111.024170
1307015    303.403339
              ...
1707311    163.255818
1707312    452.419710
1707313    206.012085
1707314    130.400100
1707315    322.779269
Length: 7493, dtype: float64

In [239]:
train_data=train_data.dropna()
train_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.828353,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,535.856285,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,201.198426,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,65.890169,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,317.475875,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,2017-07-30,65.453279,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707302,2017-07-30,605.805099,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707303,2017-07-30,322.250156,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707304,2017-07-30,150.306407,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707305,2017-07-30,294.303759,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [240]:
validation_data=validation_data.dropna()
validation_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,325.864228,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,88.208006,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,294.872701,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,166.135486,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,557.470898,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807304,2018-07-30,71.822977,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807303,2018-07-30,348.770346,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807305,2018-07-30,324.965348,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
1807301,2018-07-30,148.541340,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807302,2018-07-30,616.358562,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Roles,False,True,False,False,False,False,True,False

In [241]:
predictions_valid = mod.predict(validation_data)
predictions_valid.to_csv("predictions_validation.csv")
print(predictions_valid)

id
1708015    315.579238
1708014    123.200069
1708013    198.812055
1708011    156.055788
1708012    445.219679
              ...
1807304    149.684768
1807303    225.296754
1807305    342.063937
1807301    182.540487
1807302    471.704378
Length: 1610, dtype: float64

In [242]:
from sklearn.metrics import mean_squared_error # Import mean_squared_error from sklearn.metrics
import math # Import math library

# Calculate the mean squared error using mean_squared_error from sklearn.metrics
mse_valid = mean_squared_error(validation_data[["Umsatz"]], predictions_valid)
 
# Raise the mean squared error to the power of 0.5
rmse_valid = (mse_valid)**(1/2)
# Print the RMSE
rmse_valid

75.95108884049874

In [243]:
mse_valid

5768.567896057331

In [244]:
test_data.isna().any()

Datum                  False
Umsatz                  True
Bewoelkung              True
Temperatur              True
Windgeschwindigkeit     True
Wettercode              True
Woche                  False
Monat                  False
Jahr                   False
Wochentag              False
Kalenderwoche          False
Quartal                False
Halbjahr               False
Jahreszeit             False
Product_type           False
Warengruppe_1          False
Warengruppe_2          False
Warengruppe_3          False
Warengruppe_4          False
Warengruppe_5          False
Warengruppe_6          False
KielerWoche_0          False
KielerWoche_1          False
dtype: bool

In [245]:
# Fill missing values with the median
test_data['Wettercode'] = test_data['Wettercode'].fillna(test_data['Wettercode'].median())
test_data['Temperatur'] = test_data['Temperatur'].fillna(test_data['Temperatur'].median())
test_data["Bewoelkung"] =  test_data["Bewoelkung"].fillna(test_data["Bewoelkung"].median())

test_data

/tmp/ipykernel_5397/3515625764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Wettercode'] = test_data['Wettercode'].fillna(test_data['Wettercode'].median())
/tmp/ipykernel_5397/3515625764.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Temperatur'] = test_data['Temperatur'].fillna(test_data['Temperatur'].median())
/tmp/ipykernel_5397/3515625764.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Bewoelkung"] =  test_data["Bewoelkung"].fillna(test_data["Bewoelkung"].median())

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [246]:
predictions_test = mod.predict(test_data)
predictions_test.to_csv("predictions_test.csv")
print(predictions_test)

id
1808015    327.683249
1808013    210.916065
1808014    135.304080
1808011    168.159798
1808012    457.323690
              ...
1907304    120.599714
1907301    153.455432
1907302    442.619324
1907303    196.211699
1907305    312.978883
Length: 1830, dtype: float64

In [247]:
# Neural Network Model

In [248]:
import numpy as np
np.random.seed(42)

training_features = train_data.drop(columns=['Umsatz'])
validation_features = validation_data.drop(columns=['Umsatz'])
test_features = test_data.drop(columns=['Umsatz'])

training_labels = train_data[['Umsatz']]
validation_labels = validation_data[['Umsatz']]
test_labels = test_data[['Umsatz']]

training_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707302,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707303,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707304,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707305,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [249]:
test_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [250]:
validation_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807304,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807303,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807305,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Cake,False,False,False,False,True,False,True,False
1807301,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807302,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Roles,False,True,False,False,False,False,True,False

In [251]:
validation_labels

             Umsatz
id
1708015  325.864228
1708014   88.208006
1708013  294.872701
1708011  166.135486
1708012  557.470898
...             ...
1807304   71.822977
1807303  348.770346
1807305  324.965348
1807301  148.541340
1807302  616.358562

[1610 rows x 1 columns]

In [252]:
training_labels

             Umsatz
id
1307011  148.828353
1307012  535.856285
1307013  201.198426
1307014   65.890169
1307015  317.475875
...             ...
1707301   65.453279
1707302  605.805099
1707303  322.250156
1707304  150.306407
1707305  294.303759

[5399 rows x 1 columns]

In [253]:
test_labels

         Umsatz
id
1808015     NaN
1808013     NaN
1808014     NaN
1808011     NaN
1808012     NaN
...         ...
1907304     NaN
1907301     NaN
1907302     NaN
1907303     NaN
1907305     NaN

[1830 rows x 1 columns]

In [254]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np

In [255]:
model = keras.Sequential([
    layers.Input(shape=(17,)),        # Input layer
    layers.Dense(32, activation='relu'),  # Hidden layer with 32 neurons and ReLU activation
    layers.Dense(1, activation='linear')   # Output layer with a single neuron (for regression)
])

In [256]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [257]:
training_features=training_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features=validation_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])  
test_features=test_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1307011,6.0,17.8375,15.0,20.0,7,2013,1,3,2,True,False,False,False,False,False,True,False
1307012,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,True,False,False,False,False,True,False
1307013,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,True,False,False,False,True,False
1307014,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,False,True,False,False,True,False
1307015,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,5.0,24.0000,11.0,61.0,7,2017,7,3,2,True,False,False,False,False,False,True,False
1707302,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,True,False,False,False,False,True,False
1707303,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,True,False,False,False,True,False
1707304,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,False,True,False,False,True,False
1707305,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,False,False,True,False,True,False

In [258]:
training_labels

             Umsatz
id
1307011  148.828353
1307012  535.856285
1307013  201.198426
1307014   65.890169
1307015  317.475875
...             ...
1707301   65.453279
1707302  605.805099
1707303  322.250156
1707304  150.306407
1707305  294.303759

[5399 rows x 1 columns]

In [259]:
test_features

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1808015,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,False,False,True,False,True,False
1808013,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,True,False,False,False,True,False
1808014,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,False,True,False,False,True,False
1808011,0.0,23.7625,10.0,0.0,8,2018,3,3,2,True,False,False,False,False,False,True,False
1808012,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,False,True,False,False,True,False
1907301,7.0,20.7375,8.0,61.0,7,2019,2,3,2,True,False,False,False,False,False,True,False
1907302,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,True,False,False,False,False,True,False
1907303,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,True,False,False,False,True,False
1907305,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,False,False,True,False,True,False

In [260]:
test_labels

         Umsatz
id
1808015     NaN
1808013     NaN
1808014     NaN
1808011     NaN
1808012     NaN
...         ...
1907304     NaN
1907301     NaN
1907302     NaN
1907303     NaN
1907305     NaN

[1830 rows x 1 columns]

In [261]:
training_features.dtypes

Bewoelkung             float64
Temperatur             float64
Windgeschwindigkeit    float64
Wettercode             float64
Monat                    int32
Jahr                     int32
Wochentag                int32
Quartal                  int32
Halbjahr                 int64
Warengruppe_1             bool
Warengruppe_2             bool
Warengruppe_3             bool
Warengruppe_4             bool
Warengruppe_5             bool
Warengruppe_6             bool
KielerWoche_0             bool
KielerWoche_1             bool
dtype: object

In [262]:
test_features.dtypes

Bewoelkung             float64
Temperatur             float64
Windgeschwindigkeit    float64
Wettercode             float64
Monat                    int32
Jahr                     int32
Wochentag                int32
Quartal                  int32
Halbjahr                 int64
Warengruppe_1             bool
Warengruppe_2             bool
Warengruppe_3             bool
Warengruppe_4             bool
Warengruppe_5             bool
Warengruppe_6             bool
KielerWoche_0             bool
KielerWoche_1             bool
dtype: object

In [263]:
#model.fit(training_features, training_labels, epochs=100, batch_size=32, validation_split=0.2)
model.fit(training_features, training_labels, epochs=100, batch_size=32, validation_data=(validation_features, validation_labels))

Epoch 1/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 42703.7812 - val_loss: 16615.7266
Epoch 2/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20525.0137 - val_loss: 16538.4453
Epoch 3/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20409.3203 - val_loss: 16324.9561
Epoch 4/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20286.6348 - val_loss: 16249.3564
Epoch 5/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20114.0332 - val_loss: 16044.8047
Epoch 6/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 20004.7305 - val_loss: 15877.2656
Epoch 7/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 19912.2012 - val_loss: 16144.8887
Epoch 8/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19774.9766 - val_loss: 15614.0361
Epoch 9/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19582.3262 - val_loss: 15412.6592
Epoch 10/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19419.0879 - val_loss: 15266.0469
Epoch 11/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19238.7598 - val_loss: 15084.1865
Epoch 12/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19073.1484 - val_loss: 14916.2148
Epoch 13/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18889.1602 - val_loss: 14892.5156
Epoch 14/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18793.1816 - val_loss: 14551.8311
Epoch 15/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18541.6230 - val_loss: 14966.0898
Epoch 16/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18459.7832 - val_loss: 15260.2637
Epoch 17/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18242.4355 - val_loss: 14193.2822
Epoch 18/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18024.1035 - val_loss: 14233.3594
Epoch 19/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17873.6113 - val_loss: 13732.5996
Epoch 20/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17714.6328 - val_loss: 13666.1094
Epoch 21/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17425.4941 - val_loss: 13373.0186
Epoch 22/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17150.5234 - val_loss: 13140.7031
Epoch 23/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16956.3652 - val_loss: 12995.0859
Epoch 24/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16744.0801 - val_loss: 12772.2246
Epoch 25/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16609.9082 - val_loss: 13453.2803
Epoch 26/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16339.1045 - val_loss: 12417.2061
Epoch 27/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16224.1143 - val_loss: 12866.6387
Epoch 28/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15825.9512 - val_loss: 12714.8213
Epoch 29/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15739.9414 - val_loss: 12559.7734
Epoch 30/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15437.1816 - val_loss: 12286.9824
Epoch 31/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15140.2969 - val_loss: 12098.0039
Epoch 32/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15022.5400 - val_loss: 11281.9258
Epoch 33/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14757.0557 - val_loss: 11561.2979
Epoch 34/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14403.8467 - val_loss: 10843.3975
Epoch 35/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14186.9395 - val_loss: 10798.5020
Epoch 36/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13927.5586 - val_loss: 10534.5117
Epoch 37/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13721.9043 - val_loss: 10317.5234
Epoch 38/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13461.8008 - val_loss: 9978.6748
Epoch 39/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13132.3223 - val_loss: 10120.2314
Epoch 40/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12906.4062 - val_loss: 9602.2930
Epoch 41/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12810.5117 - val_loss: 9514.2910
Epoch 42/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12502.4824 - val_loss: 9624.1240
Epoch 43/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12127.1943 - val_loss: 8884.9756
Epoch 44/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11851.5010 - val_loss: 8903.9326
Epoch 45/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11663.9854 - val_loss: 8592.6953
Epoch 46/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 11518.3428 - val_loss: 8515.6836
Epoch 47/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11273.4336 - val_loss: 8324.2168
Epoch 48/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10916.9277 - val_loss: 8074.8774
Epoch 49/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10628.2676 - val_loss: 7898.9888
Epoch 50/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10525.6016 - val_loss: 7528.0762
Epoch 51/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10208.5723 - val_loss: 7391.5791
Epoch 52/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 10095.6758 - val_loss: 7151.6064
Epoch 53/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9868.3711 - val_loss: 6996.6226
Epoch 54/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9641.9844 - val_loss: 6974.1470
Epoch 55/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9425.0693 - val_loss: 7487.6772
Epoch 56/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9253.3125 - val_loss: 6632.3154
Epoch 57/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9106.8799 - val_loss: 6507.0068
Epoch 58/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8986.3066 - val_loss: 6281.0439
Epoch 59/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8746.5234 - val_loss: 6182.2515
Epoch 60/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8556.6738 - val_loss: 6131.7173
Epoch 61/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8406.9580 - val_loss: 6598.5864
Epoch 62/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8371.1895 - val_loss: 6034.2002
Epoch 63/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8200.4160 - val_loss: 6511.0137
Epoch 64/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7982.2168 - val_loss: 5853.8022
Epoch 65/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7854.3071 - val_loss: 5667.5112
Epoch 66/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 7900.2690 - val_loss: 5879.6064
Epoch 67/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7699.5645 - val_loss: 5656.4131
Epoch 68/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7740.2402 - val_loss: 6131.0112
Epoch 69/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7525.1943 - val_loss: 6341.3867
Epoch 70/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7428.6406 - val_loss: 5670.7334
Epoch 71/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7316.6128 - val_loss: 5414.7329
Epoch 72/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7247.5703 - val_loss: 7367.6978
Epoch 73/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 7238.4478 - val_loss: 5653.1523
Epoch 74/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7116.2222 - val_loss: 5157.3784
Epoch 75/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7112.0830 - val_loss: 5221.9321
Epoch 76/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7087.3726 - val_loss: 5378.6001
Epoch 77/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6969.4292 - val_loss: 5174.3638
Epoch 78/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6887.2539 - val_loss: 5072.5366
Epoch 79/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 6883.9985 - val_loss: 5775.9482
Epoch 80/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6845.1172 - val_loss: 5075.2183
Epoch 81/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6891.4453 - val_loss: 5890.2144
Epoch 82/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 6869.8989 - val_loss: 4998.4995
Epoch 83/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6710.4946 - val_loss: 6589.5996
Epoch 84/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6758.8975 - val_loss: 5123.3032
Epoch 85/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6709.3188 - val_loss: 5840.7700
Epoch 86/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6684.3262 - val_loss: 6832.7993
Epoch 87/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6655.2539 - val_loss: 5202.1665
Epoch 88/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6611.1294 - val_loss: 4963.9185
Epoch 89/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6673.0513 - val_loss: 4960.7656
Epoch 90/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6624.9004 - val_loss: 5248.9683
Epoch 91/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6671.5430 - val_loss: 5709.8770
Epoch 92/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6694.7241 - val_loss: 5020.2183
Epoch 93/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 6527.2881 - val_loss: 5161.9502
Epoch 94/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6576.7373 - val_loss: 4957.3022
Epoch 95/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6664.4165 - val_loss: 5058.1201
Epoch 96/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6623.5371 - val_loss: 5148.1504
Epoch 97/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6538.9028 - val_loss: 5073.1274
Epoch 98/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6556.2651 - val_loss: 5148.8315
Epoch 99/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6556.0518 - val_loss: 5411.7305
Epoch 100/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6590.6309 - val_loss: 5148.2646

In [264]:
# Evaluate the model on the validation data
validation_loss = model.evaluate(validation_features, validation_labels)
print(f"Validation Loss: {validation_loss:.4f}")

51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5148.2646
Validation Loss: 5148.2646

In [265]:
# Use the trained model to make predictions on new data
predictions = model.predict(test_features)
print(predictions)

58/58 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
[[337.60156]
 [206.7049 ]
 [142.84402]
 ...
 [408.99365]
 [181.03113]
 [311.92773]]

In [266]:
test_data["Predicted_Umsatz"] = predictions
test_data

/tmp/ipykernel_5397/2252469371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Predicted_Umsatz"] = predictions

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Cake,False,False,False,False,True,False,True,False,337.601562
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Croissant,False,False,True,False,False,False,True,False,206.704895
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Pastry,False,False,False,True,False,False,True,False,142.844025
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Bread,True,False,False,False,False,False,True,False,171.066071
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Roles,False,True,False,False,False,False,True,False,434.667480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Pastry,False,False,False,True,False,False,True,False,117.170326
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Bread,True,False,False,False,False,False,True,False,145.392319
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Roles,False,True,False,False,False,False,True,False,408.993652
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Croissant,False,False,True,False,False,False,True,False,181.031128
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Cake,False,False,False,False,True,False,True,False,311.927734

In [267]:
import numpy as np

def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions = model.predict(training_features)
validation_predictions = model.predict(validation_features)
print(f"MAPE on the Training Data: {mape(training_labels, training_predictions):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels, validation_predictions):.2f}%")

  1/169 ━━━━━━━━━━━━━━━━━━━━ 13s 82ms/step

169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
MAPE on the Training Data: 33.28%
MAPE on the Validation Data: 35.06%

In [268]:
test_predictions = test_data[["Predicted_Umsatz"]]
test_predictions.to_csv("nn_test_predictions.csv", index=False)
test_predictions

         Predicted_Umsatz
id
1808015        337.601562
1808013        206.704895
1808014        142.844025
1808011        171.066071
1808012        434.667480
...                   ...
1907304        117.170326
1907301        145.392319
1907302        408.993652
1907303        181.031128
1907305        311.927734

[1830 rows x 1 columns]

# Predictions for test_data for all product groups separately

In [269]:
df1 = test_data[test_data['Warengruppe_1'] == True]
df2 = test_data[test_data['Warengruppe_2'] == True]
df3 = test_data[test_data['Warengruppe_3'] == True]
df4 = test_data[test_data['Warengruppe_4'] == True]
df5 = test_data[test_data['Warengruppe_5'] == True]
df6 = test_data[test_data['Warengruppe_6'] == True]
df1

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Bread,True,False,False,False,False,False,True,False,171.066071
1808021,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Bread,True,False,False,False,False,False,True,False,191.806870
1808031,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Bread,True,False,False,False,False,False,True,False,208.173096
1808041,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Bread,True,False,False,False,False,False,True,False,206.567474
1808051,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Bread,True,False,False,False,False,False,True,False,198.577393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907261,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Bread,True,False,False,False,False,False,True,False,208.516220
1907271,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Bread,True,False,False,False,False,False,True,False,205.309235
1907281,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Bread,True,False,False,False,False,False,True,False,212.608566
1907291,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Bread,True,False,False,False,False,False,True,False,154.757492
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Bread,True,False,False,False,False,False,True,False,145.392319

In [270]:
df2

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Roles,False,True,False,False,False,False,True,False,434.667480
1808022,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Roles,False,True,False,False,False,False,True,False,455.408264
1808032,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Roles,False,True,False,False,False,False,True,False,471.774475
1808042,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Roles,False,True,False,False,False,False,True,False,470.168884
1808052,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Roles,False,True,False,False,False,False,True,False,462.178741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907262,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Roles,False,True,False,False,False,False,True,False,472.117615
1907272,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Roles,False,True,False,False,False,False,True,False,468.910675
1907282,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Roles,False,True,False,False,False,False,True,False,476.209961
1907292,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Roles,False,True,False,False,False,False,True,False,418.358765
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Roles,False,True,False,False,False,False,True,False,408.993652

In [271]:
df3

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Croissant,False,False,True,False,False,False,True,False,206.704895
1808023,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Croissant,False,False,True,False,False,False,True,False,227.445694
1808033,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Croissant,False,False,True,False,False,False,True,False,243.811890
1808043,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Croissant,False,False,True,False,False,False,True,False,242.206268
1808053,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Croissant,False,False,True,False,False,False,True,False,234.216171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907263,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Croissant,False,False,True,False,False,False,True,False,244.155029
1907273,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Croissant,False,False,True,False,False,False,True,False,240.948029
1907283,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Croissant,False,False,True,False,False,False,True,False,248.247391
1907293,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Croissant,False,False,True,False,False,False,True,False,190.396286
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Croissant,False,False,True,False,False,False,True,False,181.031128

In [272]:
df4

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Pastry,False,False,False,True,False,False,True,False,142.844025
1808024,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Pastry,False,False,False,True,False,False,True,False,163.584778
1808034,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Pastry,False,False,False,True,False,False,True,False,179.951065
1808044,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Pastry,False,False,False,True,False,False,True,False,178.345428
1808054,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Pastry,False,False,False,True,False,False,True,False,170.355316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907264,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Pastry,False,False,False,True,False,False,True,False,180.294220
1907274,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Pastry,False,False,False,True,False,False,True,False,177.087173
1907284,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Pastry,False,False,False,True,False,False,True,False,184.386581
1907294,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Pastry,False,False,False,True,False,False,True,False,126.535461
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Pastry,False,False,False,True,False,False,True,False,117.170326

In [273]:
df5

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Cake,False,False,False,False,True,False,True,False,337.601562
1808025,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Cake,False,False,False,False,True,False,True,False,358.342377
1808035,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Cake,False,False,False,False,True,False,True,False,374.708618
1808045,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Cake,False,False,False,False,True,False,True,False,373.102936
1808055,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Cake,False,False,False,False,True,False,True,False,365.112823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907265,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Cake,False,False,False,False,True,False,True,False,375.051636
1907275,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Cake,False,False,False,False,True,False,True,False,371.844727
1907285,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Cake,False,False,False,False,True,False,True,False,379.144073
1907295,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Cake,False,False,False,False,True,False,True,False,321.292908
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Cake,False,False,False,False,True,False,True,False,311.927734

In [274]:
df6

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1811016,2018-11-01,NaN,5.0,11.725000,8.0,0.0,44,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,109.346756
1811026,2018-11-02,NaN,6.0,10.675000,12.0,61.0,44,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,113.885704
1811036,2018-11-03,NaN,0.0,8.700000,5.0,10.0,44,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,116.404793
1811046,2018-11-04,NaN,8.0,8.225000,5.0,10.0,44,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,122.607788
1811056,2018-11-05,NaN,8.0,10.412500,6.0,10.0,45,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,71.345573
1811066,2018-11-06,NaN,7.0,8.537500,5.0,45.0,45,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,72.042007
1811076,2018-11-07,NaN,1.0,11.087500,4.0,28.0,45,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,95.034233
1811086,2018-11-08,NaN,6.0,11.625000,7.0,20.0,45,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,107.635147
1811096,2018-11-09,NaN,7.0,9.300000,6.0,61.0,45,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,105.681900
1811106,2018-11-10,NaN,7.0,11.425000,8.0,61.0,45,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,125.776588
1811116,2018-11-11,NaN,7.0,12.237500,8.0,61.0,45,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,139.498718
1811126,2018-11-12,NaN,7.0,10.537500,4.0,61.0,46,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,69.666069
1811136,2018-11-13,NaN,7.0,10.325000,9.0,61.0,46,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,80.576317
1811146,2018-11-14,NaN,7.0,8.437500,7.0,10.0,46,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,83.689644
1811156,2018-11-15,NaN,2.0,10.350000,6.0,5.0,46,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,103.243416
1811166,2018-11-16,NaN,0.0,8.262500,7.0,10.0,46,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,104.974876
1811176,2018-11-17,NaN,0.0,5.375000,10.0,10.0,46,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,103.582008
1811186,2018-11-18,NaN,7.0,6.750000,14.0,0.0,46,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,119.750000
1811196,2018-11-19,NaN,6.0,5.775000,21.0,61.0,47,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,54.784939
1811206,2018-11-20,NaN,7.0,4.725000,16.0,21.0,47,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,59.925411
1811216,2018-11-21,NaN,7.0,3.050000,12.0,0.0,47,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,62.243061
1811226,2018-11-22,NaN,8.0,1.512500,9.0,21.0,47,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,63.764835
1811236,2018-11-23,NaN,8.0,1.887500,6.0,10.0,47,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,74.981728
1811246,2018-11-24,NaN,8.0,3.025000,4.0,10.0,47,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,89.458618
1811256,2018-11-25,NaN,8.0,5.162500,12.0,53.0,47,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,110.067085
1811266,2018-11-26,NaN,7.0,4.950000,12.0,61.0,48,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,47.985210
1811276,2018-11-27,NaN,8.0,2.162500,3.0,21.0,48,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,44.243229
1811286,2018-11-28,NaN,3.0,1.500000,10.0,5.0,48,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,55.617352
1811296,2018-11-29,NaN,7.0,3.300000,10.0,61.0,48,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,70.700249
1811306,2018-11-30,NaN,5.0,7.837500,8.0,21.0,48,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,101.869041
1812016,2018-12-01,NaN,7.0,7.162500,8.0,61.0,48,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,105.121307
1812026,2018-12-02,NaN,7.0,8.150000,8.0,61.0,48,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,119.605125
1812036,2018-12-03,NaN,7.0,10.825000,12.0,61.0,49,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,71.454643
1812046,2018-12-04,NaN,1.0,5.442857,14.0,21.0,49,12,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,61.724201
1812056,2018-12-05,NaN,1.0,3.737500,6.0,0.0,49,12,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,62.589947
1812066,2018-12-06,NaN,7.0,6.725000,7.0,61.0,49,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,82.515907
1812076,2018-12-07,NaN,7.0,10.825000,9.0,61.0,49,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,111.207115
1812086,2018-12-08,NaN,8.0,7.475000,18.0,61.0,49,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,109.541420
1812096,2018-12-09,NaN,7.0,6.950000,18.0,61.0,49,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,117.681297
1812106,2018-12-10,NaN,5.0,4.912500,15.0,21.0,50,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,48.602528
1812116,2018-12-11,NaN,6.0,4.637500,11.0,21.0,50,12,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,56.031979
1812126,2018-12-12,NaN,7.0,4.175000,12.0,21.0,50,12,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,64.294998
1812136,2018-12-13,NaN,7.0,2.925000,10.0,61.0,50,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,66.965706
1812146,2018-12-14,NaN,7.0,2.175000,12.0,22.0,50,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,75.925652
1812156,2018-12-15,NaN,7.0,0.537500,7.0,21.0,50,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,77.369347
1812166,2018-12-16,NaN,7.0,0.200000,9.0,21.0,50,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,86.745842
1812176,2018-12-17,NaN,8.0,0.650000,6.0,20.0,51,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,26.397190
1812186,2018-12-18,NaN,7.0,5.312500,6.0,21.0,51,12,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,57.080936
1812196,2018-12-19,NaN,7.0,3.175000,9.0,61.0,51,12,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,57.538380
1812206,2018-12-20,NaN,7.0,4.887500,4.0,53.0,51,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,73.811012
1812216,2018-12-21,NaN,7.0,6.112500,9.0,61.0,51,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,90.695412
1812226,2018-12-22,NaN,8.0,4.300000,4.0,21.0,51,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,92.516968
1812236,2018-12-23,NaN,7.0,6.450000,9.0,61.0,51,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,112.535591
1812246,2018-12-24,NaN,7.0,2.500000,10.0,22.0,52,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,35.937946
1812276,2018-12-27,NaN,7.0,7.125000,12.0,20.0,52,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,87.356255
1812286,2018-12-28,NaN,7.0,7.312500,11.0,61.0,52,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,96.578423

In [275]:
import numpy as np
np.random.seed(43)

test_features_df1 = df1.drop(columns=['Umsatz'])
test_features_df2 = df2.drop(columns=['Umsatz'])
test_features_df3 = df3.drop(columns=['Umsatz'])
test_features_df4 = df4.drop(columns=['Umsatz'])
test_features_df5 = df5.drop(columns=['Umsatz'])
test_features_df6 = df6.drop(columns=['Umsatz'])

test_labels_df1 = df1[['Umsatz']]
test_labels_df2 = df2[['Umsatz']]
test_labels_df3 = df3[['Umsatz']]
test_labels_df4 = df4[['Umsatz']]
test_labels_df5 = df5[['Umsatz']]
test_labels_df6 = df6[['Umsatz']]

test_features_df1=test_features_df1.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
test_features_df2=test_features_df2.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
test_features_df3=test_features_df3.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
test_features_df4=test_features_df4.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"]) 
test_features_df5=test_features_df5.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
test_features_df6=test_features_df6.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
test_features_df1

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,
1808011,0.0,23.7625,10.0,0.0,8,2018,3,3,2,True,False,False,False,False,False,True,False,171.066071
1808021,0.0,26.1875,10.0,0.0,8,2018,4,3,2,True,False,False,False,False,False,True,False,191.806870
1808031,1.0,27.6625,10.0,0.0,8,2018,5,3,2,True,False,False,False,False,False,True,False,208.173096
1808041,4.0,25.1375,12.0,21.0,8,2018,6,3,2,True,False,False,False,False,False,True,False,206.567474
1808051,7.0,21.3000,14.0,61.0,8,2018,7,3,2,True,False,False,False,False,False,True,False,198.577393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907261,0.0,26.9250,14.0,5.0,7,2019,5,3,2,True,False,False,False,False,False,True,False,208.516220
1907271,4.0,23.5375,21.0,5.0,7,2019,6,3,2,True,False,False,False,False,False,True,False,205.309235
1907281,3.0,23.3500,14.0,5.0,7,2019,7,3,2,True,False,False,False,False,False,True,False,212.608566
1907291,6.0,25.2500,7.0,61.0,7,2019,1,3,2,True,False,False,False,False,False,True,False,154.757492
1907301,7.0,20.7375,8.0,61.0,7,2019,2,3,2,True,False,False,False,False,False,True,False,145.392319

In [276]:
# Use the trained model to make predictions on new data
predictions_df1 = model.predict(test_features_df1)
print(predictions_df1)

2025-12-23 11:42:38.954924: I tensorflow/core/framework/local_rendezvous.cc:407] Local rendezvous is aborting with status: INVALID_ARGUMENT: Matrix size-incompatible: In[0]: [32,18], In[1]: [17,32]
	 [[{{node sequential_4_1/dense_8_1/Relu}}]]

InvalidArgumentError: Graph execution error:

Detected at node sequential_4_1/dense_8_1/Relu defined at (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main

  File "<frozen runpy>", line 88, in _run_code

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel_launcher.py", line 18, in <module>

  File "/home/codespace/.local/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 739, in start

  File "/home/codespace/.local/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 211, in start

  File "/usr/local/python/3.12.1/lib/python3.12/asyncio/base_events.py", line 638, in run_forever

  File "/usr/local/python/3.12.1/lib/python3.12/asyncio/base_events.py", line 1971, in _run_once

  File "/usr/local/python/3.12.1/lib/python3.12/asyncio/events.py", line 84, in _run

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 534, in process_one

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 362, in execute_request

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 778, in execute_request

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 449, in do_execute

  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 549, in run_cell

  File "/home/codespace/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3116, in run_cell

  File "/home/codespace/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3171, in _run_cell

  File "/home/codespace/.local/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner

  File "/home/codespace/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3394, in run_cell_async

  File "/home/codespace/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3639, in run_ast_nodes

  File "/home/codespace/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3699, in run_code

  File "/tmp/ipykernel_5397/1533753672.py", line 2, in <module>

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/utils/traceback_utils.py", line 117, in error_handler

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/backend/tensorflow/trainer.py", line 588, in predict

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/backend/tensorflow/trainer.py", line 282, in one_step_on_data_distributed

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/backend/tensorflow/trainer.py", line 125, in wrapper

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/backend/tensorflow/trainer.py", line 271, in one_step_on_data

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/backend/tensorflow/trainer.py", line 110, in predict_step

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/utils/traceback_utils.py", line 117, in error_handler

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/layers/layer.py", line 953, in __call__

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/utils/traceback_utils.py", line 117, in error_handler

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/ops/operation.py", line 59, in __call__

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/utils/traceback_utils.py", line 156, in error_handler

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/models/sequential.py", line 220, in call

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/models/functional.py", line 183, in call

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/ops/function.py", line 206, in _run_through_graph

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/models/functional.py", line 647, in call

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/utils/traceback_utils.py", line 117, in error_handler

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/layers/layer.py", line 953, in __call__

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/utils/traceback_utils.py", line 117, in error_handler

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/ops/operation.py", line 59, in __call__

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/utils/traceback_utils.py", line 156, in error_handler

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/layers/core/dense.py", line 207, in call

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/activations/activations.py", line 47, in relu

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/activations/activations.py", line 101, in static_call

  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/backend/tensorflow/nn.py", line 18, in relu

Matrix size-incompatible: In[0]: [32,18], In[1]: [17,32]
	 [[{{node sequential_4_1/dense_8_1/Relu}}]] [Op:__inference_one_step_on_data_distributed_354189]