In [312]:
import pandas
kiwo = pandas.read_csv ("kiwo.csv")
wetter = pandas.read_csv ("wetter.csv")
umsatz = pandas.read_csv ("umsatzdaten_gekuerzt.csv")
test= pandas.read_csv ("test.csv")

In [313]:
merged = pandas.merge(umsatz, test, on=["Datum", "id", "Warengruppe"], how="outer")
merged.to_csv("umsatz_test.csv", index=False)
merged

            id       Datum  Warengruppe      Umsatz
0      1307011  2013-07-01            1  148.828353
1      1307012  2013-07-01            2  535.856285
2      1307013  2013-07-01            3  201.198426
3      1307014  2013-07-01            4   65.890169
4      1307015  2013-07-01            5  317.475875
...        ...         ...          ...         ...
11159  1907301  2019-07-30            1         NaN
11160  1907302  2019-07-30            2         NaN
11161  1907303  2019-07-30            3         NaN
11162  1907304  2019-07-30            4         NaN
11163  1907305  2019-07-30            5         NaN

[11164 rows x 4 columns]

In [314]:
merged2 = pandas.merge(merged, kiwo, on="Datum", how="left")
merged2.to_csv("umsatz_test_kiwo.csv", index=False)
merged2

            id       Datum  Warengruppe      Umsatz  KielerWoche
0      1307011  2013-07-01            1  148.828353          NaN
1      1307012  2013-07-01            2  535.856285          NaN
2      1307013  2013-07-01            3  201.198426          NaN
3      1307014  2013-07-01            4   65.890169          NaN
4      1307015  2013-07-01            5  317.475875          NaN
...        ...         ...          ...         ...          ...
11159  1907301  2019-07-30            1         NaN          NaN
11160  1907302  2019-07-30            2         NaN          NaN
11161  1907303  2019-07-30            3         NaN          NaN
11162  1907304  2019-07-30            4         NaN          NaN
11163  1907305  2019-07-30            5         NaN          NaN

[11164 rows x 5 columns]

In [315]:
merged3 = pandas.merge(merged2, wetter, on="Datum", how="left")
merged3.to_csv("umsatz_test_kiwo_wetter.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0
...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0

In [316]:
merged3["Datum"] = pandas.to_datetime(merged3["Datum"], format="%Y-%m-%d")
merged3["Woche"] = merged3["Datum"].dt.isocalendar().week
merged3["Monat"] = merged3["Datum"].dt.month
merged3["Jahr"] = merged3["Datum"].dt.year
merged3["Wochentag"] = merged3["Datum"].dt.dayofweek + 1  # Montag=1, Sonntag=7
merged3["Kalenderwoche"] = merged3["Datum"].dt.strftime("%Y-%U")
merged3["Quartal"] = merged3["Datum"].dt.quarter
merged3["Halbjahr"] = merged3["Datum"].dt.month.apply(lambda x: 1 if x <= 6 else 2) # 1.HJ=1, 2.HJ=2
merged3["Jahreszeit"] = merged3["Monat"].apply(
    lambda x: "Winter" if x in [12, 1, 2] else
              "Frühling" if x in [3, 4, 5] else
              "Sommer" if x in [6, 7, 8] else
              "Herbst"  if x in [9, 10, 11] else None
)
merged3.to_csv("umsatz_test_kiwo_wetter_datum.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [317]:
merged3["KielerWoche"] = merged3["KielerWoche"].fillna(0).astype(int)
merged3.to_csv("umsatz_test_kiwo_wetter_datum_kiwo_int.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [318]:
merged3['Product_type'] = merged3.loc[:,'Warengruppe']
ready_data=merged3.replace({"Product_type": {1: 'Bread', 2: 'Roles', 3: 'Croissant', 4: "Pastry", 5: "Cake", 6: "Seasonal products"}})
ready_data.to_csv("final_data.csv", index=False)
ready_data

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [319]:
ready_data_1=ready_data.sort_values(by='Datum')
ready_data_1.to_csv("final_data_sorted.csv", index=False)
ready_data_1

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [320]:
ready_data_1.set_index('id', inplace=True)
ready_data_1

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [321]:
import pandas as pd
ready_data_1 = pd.get_dummies(ready_data_1, columns=['Warengruppe'], drop_first=False)
ready_data_1 = pd.get_dummies(ready_data_1, columns=['KielerWoche'], drop_first=False)

In [322]:
# Define your date thresholds
train_end_date = '2017-07-31'
validation_end_date = '2018-07-31'

# Convert to datetime if not already
import pandas as pd
ready_data_1['Datum'] = pd.to_datetime(ready_data_1['Datum'])

# Split the data based on the date thresholds
train_data = ready_data_1[ready_data_1['Datum'] <= train_end_date]
validation_data = ready_data_1[(ready_data_1['Datum'] > train_end_date) & (ready_data_1['Datum'] <= validation_end_date)]
test_data = ready_data_1[ready_data_1['Datum'] > validation_end_date]

# Check the dimensions of the datasets
print("Training dataset dimensions:", train_data.shape)
print("Validation dataset dimensions:", validation_data.shape)
print("Test dataset dimensions:", test_data.shape)

# Save the datasets to CSV files
train_data.to_csv("train_data.csv", index=False)
validation_data.to_csv("validation_data.csv", index=False)
test_data.to_csv("test_data.csv", index=False)

Training dataset dimensions: (7493, 23)
Validation dataset dimensions: (1841, 23)
Test dataset dimensions: (1830, 23)

In [323]:
train_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.828353,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,535.856285,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,201.198426,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,65.890169,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,317.475875,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707311,2017-07-31,162.425333,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707312,2017-07-31,548.102447,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707313,2017-07-31,294.721801,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707314,2017-07-31,87.226479,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707315,2017-07-31,222.684256,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [324]:
validation_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,325.864228,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,88.208006,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,294.872701,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,166.135486,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,557.470898,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807311,2018-07-31,123.075682,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807312,2018-07-31,586.081666,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1807313,2018-07-31,285.872616,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807314,2018-07-31,57.102795,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807315,2018-07-31,261.341313,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [325]:
test_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [326]:
import pandas as pd
import statsmodels.formula.api as smf

# Fit the linear model
mod = smf.ols('Umsatz ~ Bewoelkung + Temperatur + Windgeschwindigkeit + Warengruppe_1 + Warengruppe_2 + Warengruppe_3 + Warengruppe_4 + ' \
'Warengruppe_5 + Warengruppe_6 + KielerWoche_0 + KielerWoche_1', data=train_data).fit()

# Print the summary
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Umsatz   R-squared:                       0.689
Model:                            OLS   Adj. R-squared:                  0.688
Method:                 Least Squares   F-statistic:                     1836.
Date:                Sat, 20 Dec 2025   Prob (F-statistic):               0.00
Time:                        09:21:37   Log-Likelihood:                -43659.
No. Observations:                7487   AIC:                         8.734e+04
Df Residuals:                    7477   BIC:                         8.741e+04
Df Model:                           9
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                90.9976      3.164     28.762      0.000      84.796      97.200
Warengruppe_1[T.True]   -55.9254      2.181    -25.637      0.000     -60.202     -51.649
Warengruppe_2[T.True]   233.2385      2.181    106.919      0.000     228.962     237.515
Warengruppe_3[T.True]   -13.1692      2.181     -6.037      0.000     -17.445      -8.893
Warengruppe_4[T.True]   -88.7811      2.208    -40.208      0.000     -93.110     -84.453
Warengruppe_5[T.True]   103.5980      2.181     47.490      0.000      99.322     107.874
Warengruppe_6[T.True]   -87.9631      4.684    -18.779      0.000     -97.145     -78.781
KielerWoche_0[T.True]    35.2261      2.459     14.324      0.000      30.405      40.047
KielerWoche_1[T.True]    55.7715      4.365     12.776      0.000      47.214      64.329
Bewoelkung               -0.2947      0.395     -0.745      0.456      -1.070       0.480
Temperatur                4.0122      0.149     26.854      0.000       3.719       4.305
Windgeschwindigkeit       0.2522      0.230      1.098      0.272      -0.198       0.702
==============================================================================
Omnibus:                     7401.091   Durbin-Watson:                   1.590
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1383282.382
Skew:                           4.360   Prob(JB):                         0.00
Kurtosis:                      69.016   Cond. No.                     3.32e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.2e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [327]:
predictions = mod.predict(train_data)
print(predictions)

id
1307011    143.879889
1307012    433.043780
1307013    186.636156
1307014    111.024170
1307015    303.403339
              ...
1707311    163.255818
1707312    452.419710
1707313    206.012085
1707314    130.400100
1707315    322.779269
Length: 7493, dtype: float64

In [328]:
train_data=train_data.dropna()
train_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.828353,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,535.856285,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,201.198426,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,65.890169,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,317.475875,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,2017-07-30,65.453279,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707302,2017-07-30,605.805099,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707303,2017-07-30,322.250156,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707304,2017-07-30,150.306407,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707305,2017-07-30,294.303759,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [329]:
validation_data=validation_data.dropna()
validation_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,325.864228,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,88.208006,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,294.872701,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,166.135486,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,557.470898,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807304,2018-07-30,71.822977,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807303,2018-07-30,348.770346,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807305,2018-07-30,324.965348,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
1807301,2018-07-30,148.541340,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807302,2018-07-30,616.358562,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Roles,False,True,False,False,False,False,True,False

In [330]:
predictions_valid = mod.predict(validation_data)
predictions_valid.to_csv("predictions_validation.csv")
print(predictions_valid)

id
1708015    315.579238
1708014    123.200069
1708013    198.812055
1708011    156.055788
1708012    445.219679
              ...
1807304    149.684768
1807303    225.296754
1807305    342.063937
1807301    182.540487
1807302    471.704378
Length: 1610, dtype: float64

In [331]:
from sklearn.metrics import mean_squared_error # Import mean_squared_error from sklearn.metrics
import math # Import math library

# Calculate the mean squared error using mean_squared_error from sklearn.metrics
mse_valid = mean_squared_error(validation_data[["Umsatz"]], predictions_valid)
 
# Raise the mean squared error to the power of 0.5
rmse_valid = (mse_valid)**(1/2)
# Print the RMSE
rmse_valid

75.95108884049874

In [332]:
mse_valid

5768.567896057331

In [333]:
test_data.isna().any()

Datum                  False
Umsatz                  True
Bewoelkung              True
Temperatur              True
Windgeschwindigkeit     True
Wettercode              True
Woche                  False
Monat                  False
Jahr                   False
Wochentag              False
Kalenderwoche          False
Quartal                False
Halbjahr               False
Jahreszeit             False
Product_type           False
Warengruppe_1          False
Warengruppe_2          False
Warengruppe_3          False
Warengruppe_4          False
Warengruppe_5          False
Warengruppe_6          False
KielerWoche_0          False
KielerWoche_1          False
dtype: bool

In [334]:
test_data=test_data.dropna(subset=["Wettercode", "Bewoelkung", "Temperatur"])
test_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [335]:
predictions_test = mod.predict(test_data)
predictions_test.to_csv("predictions_test.csv")
print(predictions_test)

id
1808015    327.683249
1808013    210.916065
1808014    135.304080
1808011    168.159798
1808012    457.323690
              ...
1907304    120.599714
1907301    153.455432
1907302    442.619324
1907303    196.211699
1907305    312.978883
Length: 1493, dtype: float64

In [336]:
# Neural Network Model

In [337]:
import numpy as np
np.random.seed(42)

training_features = train_data.drop(columns=['Umsatz'])
validation_features = validation_data.drop(columns=['Umsatz'])
test_features = test_data.drop(columns=['Umsatz'])

training_labels = train_data[['Umsatz']]
validation_labels = validation_data[['Umsatz']]
test_labels = test_data[['Umsatz']]

training_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707302,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707303,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707304,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707305,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [338]:
test_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [339]:
validation_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807304,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807303,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807305,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Cake,False,False,False,False,True,False,True,False
1807301,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807302,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Roles,False,True,False,False,False,False,True,False

In [340]:
validation_labels

             Umsatz
id
1708015  325.864228
1708014   88.208006
1708013  294.872701
1708011  166.135486
1708012  557.470898
...             ...
1807304   71.822977
1807303  348.770346
1807305  324.965348
1807301  148.541340
1807302  616.358562

[1610 rows x 1 columns]

In [341]:
training_labels

             Umsatz
id
1307011  148.828353
1307012  535.856285
1307013  201.198426
1307014   65.890169
1307015  317.475875
...             ...
1707301   65.453279
1707302  605.805099
1707303  322.250156
1707304  150.306407
1707305  294.303759

[5399 rows x 1 columns]

In [342]:
test_labels

         Umsatz
id
1808015     NaN
1808013     NaN
1808014     NaN
1808011     NaN
1808012     NaN
...         ...
1907304     NaN
1907301     NaN
1907302     NaN
1907303     NaN
1907305     NaN

[1493 rows x 1 columns]

In [343]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np

In [344]:
model = keras.Sequential([
    layers.Input(shape=(17,)),        # Input layer
    layers.Dense(32, activation='relu'),  # Hidden layer with 32 neurons and ReLU activation
    layers.Dense(1, activation='linear')   # Output layer with a single neuron (for regression)
])

In [345]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [346]:
training_features=training_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features=validation_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])  
test_features=test_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1307011,6.0,17.8375,15.0,20.0,7,2013,1,3,2,True,False,False,False,False,False,True,False
1307012,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,True,False,False,False,False,True,False
1307013,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,True,False,False,False,True,False
1307014,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,False,True,False,False,True,False
1307015,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,5.0,24.0000,11.0,61.0,7,2017,7,3,2,True,False,False,False,False,False,True,False
1707302,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,True,False,False,False,False,True,False
1707303,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,True,False,False,False,True,False
1707304,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,False,True,False,False,True,False
1707305,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,False,False,True,False,True,False

In [347]:
training_labels

             Umsatz
id
1307011  148.828353
1307012  535.856285
1307013  201.198426
1307014   65.890169
1307015  317.475875
...             ...
1707301   65.453279
1707302  605.805099
1707303  322.250156
1707304  150.306407
1707305  294.303759

[5399 rows x 1 columns]

In [348]:
test_features

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1808015,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,False,False,True,False,True,False
1808013,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,True,False,False,False,True,False
1808014,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,False,True,False,False,True,False
1808011,0.0,23.7625,10.0,0.0,8,2018,3,3,2,True,False,False,False,False,False,True,False
1808012,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,False,True,False,False,True,False
1907301,7.0,20.7375,8.0,61.0,7,2019,2,3,2,True,False,False,False,False,False,True,False
1907302,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,True,False,False,False,False,True,False
1907303,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,True,False,False,False,True,False
1907305,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,False,False,True,False,True,False

In [349]:
test_labels

         Umsatz
id
1808015     NaN
1808013     NaN
1808014     NaN
1808011     NaN
1808012     NaN
...         ...
1907304     NaN
1907301     NaN
1907302     NaN
1907303     NaN
1907305     NaN

[1493 rows x 1 columns]

In [350]:
training_features.dtypes

Bewoelkung             float64
Temperatur             float64
Windgeschwindigkeit    float64
Wettercode             float64
Monat                    int32
Jahr                     int32
Wochentag                int32
Quartal                  int32
Halbjahr                 int64
Warengruppe_1             bool
Warengruppe_2             bool
Warengruppe_3             bool
Warengruppe_4             bool
Warengruppe_5             bool
Warengruppe_6             bool
KielerWoche_0             bool
KielerWoche_1             bool
dtype: object

In [351]:
test_features.dtypes

Bewoelkung             float64
Temperatur             float64
Windgeschwindigkeit    float64
Wettercode             float64
Monat                    int32
Jahr                     int32
Wochentag                int32
Quartal                  int32
Halbjahr                 int64
Warengruppe_1             bool
Warengruppe_2             bool
Warengruppe_3             bool
Warengruppe_4             bool
Warengruppe_5             bool
Warengruppe_6             bool
KielerWoche_0             bool
KielerWoche_1             bool
dtype: object

In [352]:
#model.fit(training_features, training_labels, epochs=100, batch_size=32, validation_split=0.2)
model.fit(training_features, training_labels, epochs=100, batch_size=32, validation_data=(validation_features, validation_labels))

Epoch 1/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 20687.8867 - val_loss: 16763.6562
Epoch 2/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20522.2812 - val_loss: 16438.9238
Epoch 3/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20256.6445 - val_loss: 15981.2930
Epoch 4/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20001.5137 - val_loss: 16192.6484
Epoch 5/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19902.0801 - val_loss: 15555.2607
Epoch 6/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19615.7949 - val_loss: 15951.4521
Epoch 7/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19487.1777 - val_loss: 15410.2920
Epoch 8/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19235.7324 - val_loss: 15182.8184
Epoch 9/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19015.3672 - val_loss: 14910.2520
Epoch 10/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18779.4043 - val_loss: 14648.0420
Epoch 11/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18619.1152 - val_loss: 15193.6650
Epoch 12/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18420.0684 - val_loss: 14711.7334
Epoch 13/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18172.6406 - val_loss: 14303.6133
Epoch 14/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 17896.0586 - val_loss: 14008.8340
Epoch 15/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17812.1719 - val_loss: 13663.1699
Epoch 16/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17511.6699 - val_loss: 13837.6514
Epoch 17/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17372.4727 - val_loss: 13369.2939
Epoch 18/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17120.3984 - val_loss: 13531.9941
Epoch 19/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17000.9727 - val_loss: 13248.5615
Epoch 20/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16687.1445 - val_loss: 12701.3506
Epoch 21/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16409.5879 - val_loss: 12758.1445
Epoch 22/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16143.6973 - val_loss: 12727.7930
Epoch 23/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15931.9062 - val_loss: 13472.7910
Epoch 24/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15659.1533 - val_loss: 12681.5078
Epoch 25/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 15518.3408 - val_loss: 12001.9277
Epoch 26/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15229.7803 - val_loss: 11571.0713
Epoch 27/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14976.3584 - val_loss: 11494.3926
Epoch 28/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14714.0400 - val_loss: 11081.4531
Epoch 29/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14436.0078 - val_loss: 10859.1787
Epoch 30/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14182.5586 - val_loss: 10592.2656
Epoch 31/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13954.0361 - val_loss: 10376.1777
Epoch 32/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13721.8789 - val_loss: 10203.8643
Epoch 33/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13357.7686 - val_loss: 10044.4189
Epoch 34/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13178.3604 - val_loss: 9812.0859
Epoch 35/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12793.1143 - val_loss: 9451.3389
Epoch 36/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 12574.0186 - val_loss: 9490.9287
Epoch 37/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 12325.3770 - val_loss: 9003.3760
Epoch 38/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12012.3760 - val_loss: 8791.0107
Epoch 39/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11912.5166 - val_loss: 9734.4297
Epoch 40/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 11576.0352 - val_loss: 10266.2119
Epoch 41/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11398.7051 - val_loss: 8150.0386
Epoch 42/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 11114.0723 - val_loss: 8034.1436
Epoch 43/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10777.9785 - val_loss: 7792.5405
Epoch 44/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10591.9707 - val_loss: 7937.6826
Epoch 45/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10283.3018 - val_loss: 7691.5415
Epoch 46/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10159.4648 - val_loss: 7264.7422
Epoch 47/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 10025.3193 - val_loss: 7971.4321
Epoch 48/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 9792.6924 - val_loss: 7209.0693
Epoch 49/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9572.4004 - val_loss: 6730.6299
Epoch 50/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9269.8428 - val_loss: 7024.3394
Epoch 51/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9126.4814 - val_loss: 6506.3970
Epoch 52/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8901.1064 - val_loss: 6662.5918
Epoch 53/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8769.2988 - val_loss: 8684.7471
Epoch 54/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8576.7471 - val_loss: 6239.9634
Epoch 55/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8460.5615 - val_loss: 6749.8198
Epoch 56/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8443.1016 - val_loss: 6082.3838
Epoch 57/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 8245.9150 - val_loss: 5762.7856
Epoch 58/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8100.0986 - val_loss: 6144.3267
Epoch 59/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7953.2847 - val_loss: 6587.1201
Epoch 60/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7899.1592 - val_loss: 5546.2822
Epoch 61/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7832.0176 - val_loss: 5466.8076
Epoch 62/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 7542.4507 - val_loss: 6576.9907
Epoch 63/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7478.3730 - val_loss: 6633.8286
Epoch 64/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7355.0645 - val_loss: 5686.0259
Epoch 65/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 7307.6919 - val_loss: 5283.3853
Epoch 66/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7247.2012 - val_loss: 7300.4604
Epoch 67/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7185.9702 - val_loss: 5216.2334
Epoch 68/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7145.0225 - val_loss: 5134.9282
Epoch 69/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7195.0278 - val_loss: 5878.4517
Epoch 70/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7055.2310 - val_loss: 6605.9355
Epoch 71/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7010.4272 - val_loss: 5624.0869
Epoch 72/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6902.3848 - val_loss: 5731.2549
Epoch 73/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6908.0273 - val_loss: 5138.2393
Epoch 74/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6800.5269 - val_loss: 5157.1738
Epoch 75/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6759.7007 - val_loss: 5162.2046
Epoch 76/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 6810.2612 - val_loss: 5415.8188
Epoch 77/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6814.6841 - val_loss: 5042.5918
Epoch 78/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6730.1196 - val_loss: 5214.5303
Epoch 79/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6647.9731 - val_loss: 6643.9360
Epoch 80/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6732.3936 - val_loss: 4984.3735
Epoch 81/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6704.5000 - val_loss: 5294.3081
Epoch 82/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6687.6479 - val_loss: 5409.9277
Epoch 83/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6597.5508 - val_loss: 4956.5840
Epoch 84/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6610.1855 - val_loss: 5026.0679
Epoch 85/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6562.9800 - val_loss: 5220.5615
Epoch 86/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 6633.4351 - val_loss: 5271.5205
Epoch 87/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6561.4463 - val_loss: 4992.5703
Epoch 88/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6591.8271 - val_loss: 5120.2993
Epoch 89/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6634.8999 - val_loss: 4955.7622
Epoch 90/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6717.0493 - val_loss: 5035.3491
Epoch 91/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6510.1685 - val_loss: 4958.1860
Epoch 92/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6630.2729 - val_loss: 5603.2852
Epoch 93/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6671.7266 - val_loss: 5091.6641
Epoch 94/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6511.1411 - val_loss: 6836.6841
Epoch 95/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6609.8198 - val_loss: 5278.7930
Epoch 96/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6537.6758 - val_loss: 5000.1079
Epoch 97/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6623.9614 - val_loss: 5003.8579
Epoch 98/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6492.2119 - val_loss: 5101.6216
Epoch 99/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6510.9590 - val_loss: 4959.0957
Epoch 100/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6458.3735 - val_loss: 5431.5029

In [353]:
# Evaluate the model on the validation data
validation_loss = model.evaluate(validation_features, validation_labels)
print(f"Validation Loss: {validation_loss:.4f}")

51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5431.5029
Validation Loss: 5431.5029

In [354]:
# Use the trained model to make predictions on new data
predictions = model.predict(test_features)
print(predictions)

47/47 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
[[341.09024]
 [213.21533]
 [148.24768]
 ...
 [422.79337]
 [190.9472 ]
 [318.8221 ]]

In [355]:
test_data["Predicted_Umsatz"] = predictions
test_data

/tmp/ipykernel_6662/2252469371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Predicted_Umsatz"] = predictions

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Cake,False,False,False,False,True,False,True,False,341.090240
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Croissant,False,False,True,False,False,False,True,False,213.215332
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Pastry,False,False,False,True,False,False,True,False,148.247681
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Bread,True,False,False,False,False,False,True,False,177.439148
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Roles,False,True,False,False,False,False,True,False,445.061523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Pastry,False,False,False,True,False,False,True,False,125.979507
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Bread,True,False,False,False,False,False,True,False,155.170975
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Roles,False,True,False,False,False,False,True,False,422.793365
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Croissant,False,False,True,False,False,False,True,False,190.947205
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Cake,False,False,False,False,True,False,True,False,318.822113