In [277]:
import pandas
kiwo = pandas.read_csv ("kiwo.csv")
wetter = pandas.read_csv ("wetter.csv")
umsatz = pandas.read_csv ("umsatzdaten_gekuerzt.csv")
test= pandas.read_csv ("test.csv")

In [278]:
merged = pandas.merge(umsatz, test, on=["Datum", "id", "Warengruppe"], how="outer")
merged.to_csv("umsatz_test.csv", index=False)
merged

            id       Datum  Warengruppe      Umsatz
0      1307011  2013-07-01            1  148.828353
1      1307012  2013-07-01            2  535.856285
2      1307013  2013-07-01            3  201.198426
3      1307014  2013-07-01            4   65.890169
4      1307015  2013-07-01            5  317.475875
...        ...         ...          ...         ...
11159  1907301  2019-07-30            1         NaN
11160  1907302  2019-07-30            2         NaN
11161  1907303  2019-07-30            3         NaN
11162  1907304  2019-07-30            4         NaN
11163  1907305  2019-07-30            5         NaN

[11164 rows x 4 columns]

In [279]:
merged2 = pandas.merge(merged, kiwo, on="Datum", how="left")
merged2.to_csv("umsatz_test_kiwo.csv", index=False)
merged2

            id       Datum  Warengruppe      Umsatz  KielerWoche
0      1307011  2013-07-01            1  148.828353          NaN
1      1307012  2013-07-01            2  535.856285          NaN
2      1307013  2013-07-01            3  201.198426          NaN
3      1307014  2013-07-01            4   65.890169          NaN
4      1307015  2013-07-01            5  317.475875          NaN
...        ...         ...          ...         ...          ...
11159  1907301  2019-07-30            1         NaN          NaN
11160  1907302  2019-07-30            2         NaN          NaN
11161  1907303  2019-07-30            3         NaN          NaN
11162  1907304  2019-07-30            4         NaN          NaN
11163  1907305  2019-07-30            5         NaN          NaN

[11164 rows x 5 columns]

In [280]:
merged3 = pandas.merge(merged2, wetter, on="Datum", how="left")
merged3.to_csv("umsatz_test_kiwo_wetter.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0
...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0

In [281]:
merged3["Datum"] = pandas.to_datetime(merged3["Datum"], format="%Y-%m-%d")
merged3["Woche"] = merged3["Datum"].dt.isocalendar().week
merged3["Monat"] = merged3["Datum"].dt.month
merged3["Jahr"] = merged3["Datum"].dt.year
merged3["Wochentag"] = merged3["Datum"].dt.dayofweek + 1  # Montag=1, Sonntag=7
merged3["Kalenderwoche"] = merged3["Datum"].dt.strftime("%Y-%U")
merged3["Quartal"] = merged3["Datum"].dt.quarter
merged3["Halbjahr"] = merged3["Datum"].dt.month.apply(lambda x: 1 if x <= 6 else 2) # 1.HJ=1, 2.HJ=2
merged3["Jahreszeit"] = merged3["Monat"].apply(
    lambda x: "Winter" if x in [12, 1, 2] else
              "Frühling" if x in [3, 4, 5] else
              "Sommer" if x in [6, 7, 8] else
              "Herbst"  if x in [9, 10, 11] else None
)
merged3.to_csv("umsatz_test_kiwo_wetter_datum.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,NaN,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [282]:
merged3["KielerWoche"] = merged3["KielerWoche"].fillna(0).astype(int)
merged3.to_csv("umsatz_test_kiwo_wetter_datum_kiwo_int.csv", index=False)
merged3

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer

In [283]:
merged3['Product_type'] = merged3.loc[:,'Warengruppe']
ready_data=merged3.replace({"Product_type": {1: 'Bread', 2: 'Roles', 3: 'Croissant', 4: "Pastry", 5: "Cake", 6: "Seasonal products"}})
ready_data.to_csv("final_data.csv", index=False)
ready_data

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [284]:
ready_data_1=ready_data.sort_values(by='Datum')
ready_data_1.to_csv("final_data_sorted.csv", index=False)
ready_data_1

,id,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
0,1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1,1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
2,1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
3,1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
4,1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11162,1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
11159,1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
11160,1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
11161,1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
11163,1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [285]:
ready_data_1.set_index('id', inplace=True)
ready_data_1

,Datum,Warengruppe,Umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,Quartal,Halbjahr,Jahreszeit,Product_type
id,,,,,,,,,,,,,,,,,
1307011,2013-07-01,1,148.828353,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Bread
1307012,2013-07-01,2,535.856285,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Roles
1307013,2013-07-01,3,201.198426,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Croissant
1307014,2013-07-01,4,65.890169,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Pastry
1307015,2013-07-01,5,317.475875,0,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,3,2,Sommer,Cake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,4,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Pastry
1907301,2019-07-30,1,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Bread
1907302,2019-07-30,2,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Roles
1907303,2019-07-30,3,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Croissant
1907305,2019-07-30,5,NaN,0,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,3,2,Sommer,Cake

In [286]:
import pandas as pd
ready_data_1 = pd.get_dummies(ready_data_1, columns=['Warengruppe'], drop_first=False)
ready_data_1 = pd.get_dummies(ready_data_1, columns=['KielerWoche'], drop_first=False)
ready_data_1.dtypes

Datum                  datetime64[ns]
Umsatz                        float64
Bewoelkung                    float64
Temperatur                    float64
Windgeschwindigkeit           float64
Wettercode                    float64
Woche                          UInt32
Monat                           int32
Jahr                            int32
Wochentag                       int32
Kalenderwoche                  object
Quartal                         int32
Halbjahr                        int64
Jahreszeit                     object
Product_type                   object
Warengruppe_1                    bool
Warengruppe_2                    bool
Warengruppe_3                    bool
Warengruppe_4                    bool
Warengruppe_5                    bool
Warengruppe_6                    bool
KielerWoche_0                    bool
KielerWoche_1                    bool
dtype: object

In [287]:
# Define your date thresholds
train_end_date = '2017-07-31'
validation_end_date = '2018-07-31'

# Convert to datetime if not already
import pandas as pd
ready_data_1['Datum'] = pd.to_datetime(ready_data_1['Datum'])

# Split the data based on the date thresholds
train_data = ready_data_1[ready_data_1['Datum'] <= train_end_date]
validation_data = ready_data_1[(ready_data_1['Datum'] > train_end_date) & (ready_data_1['Datum'] <= validation_end_date)]
test_data = ready_data_1[ready_data_1['Datum'] > validation_end_date]

# Check the dimensions of the datasets
print("Training dataset dimensions:", train_data.shape)
print("Validation dataset dimensions:", validation_data.shape)
print("Test dataset dimensions:", test_data.shape)

# Save the datasets to CSV files
train_data.to_csv("train_data.csv", index=False)
validation_data.to_csv("validation_data.csv", index=False)
test_data.to_csv("test_data.csv", index=False)

Training dataset dimensions: (7493, 23)
Validation dataset dimensions: (1841, 23)
Test dataset dimensions: (1830, 23)

In [288]:
train_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.828353,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,535.856285,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,201.198426,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,65.890169,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,317.475875,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707311,2017-07-31,162.425333,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707312,2017-07-31,548.102447,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707313,2017-07-31,294.721801,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707314,2017-07-31,87.226479,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707315,2017-07-31,222.684256,2.0,22.7500,9.0,NaN,31,7,2017,1,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [289]:
validation_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,325.864228,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,88.208006,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,294.872701,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,166.135486,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,557.470898,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807311,2018-07-31,123.075682,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807312,2018-07-31,586.081666,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1807313,2018-07-31,285.872616,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807314,2018-07-31,57.102795,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807315,2018-07-31,261.341313,5.0,31.2875,11.0,NaN,31,7,2018,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [290]:
test_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [291]:
import pandas as pd
import statsmodels.formula.api as smf

# Fit the linear model
mod = smf.ols('Umsatz ~ Bewoelkung + Temperatur + Windgeschwindigkeit + Warengruppe_1 + Warengruppe_2 + Warengruppe_3 + Warengruppe_4 + ' \
'Warengruppe_5 + Warengruppe_6 + KielerWoche_0 + KielerWoche_1', data=train_data).fit()

# Print the summary
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Umsatz   R-squared:                       0.689
Model:                            OLS   Adj. R-squared:                  0.688
Method:                 Least Squares   F-statistic:                     1836.
Date:                Tue, 23 Dec 2025   Prob (F-statistic):               0.00
Time:                        12:19:12   Log-Likelihood:                -43659.
No. Observations:                7487   AIC:                         8.734e+04
Df Residuals:                    7477   BIC:                         8.741e+04
Df Model:                           9
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                90.9976      3.164     28.762      0.000      84.796      97.200
Warengruppe_1[T.True]   -55.9254      2.181    -25.637      0.000     -60.202     -51.649
Warengruppe_2[T.True]   233.2385      2.181    106.919      0.000     228.962     237.515
Warengruppe_3[T.True]   -13.1692      2.181     -6.037      0.000     -17.445      -8.893
Warengruppe_4[T.True]   -88.7811      2.208    -40.208      0.000     -93.110     -84.453
Warengruppe_5[T.True]   103.5980      2.181     47.490      0.000      99.322     107.874
Warengruppe_6[T.True]   -87.9631      4.684    -18.779      0.000     -97.145     -78.781
KielerWoche_0[T.True]    35.2261      2.459     14.324      0.000      30.405      40.047
KielerWoche_1[T.True]    55.7715      4.365     12.776      0.000      47.214      64.329
Bewoelkung               -0.2947      0.395     -0.745      0.456      -1.070       0.480
Temperatur                4.0122      0.149     26.854      0.000       3.719       4.305
Windgeschwindigkeit       0.2522      0.230      1.098      0.272      -0.198       0.702
==============================================================================
Omnibus:                     7401.091   Durbin-Watson:                   1.590
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1383282.382
Skew:                           4.360   Prob(JB):                         0.00
Kurtosis:                      69.016   Cond. No.                     3.32e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.2e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [292]:
predictions = mod.predict(train_data)
print(predictions)

id
1307011    143.879889
1307012    433.043780
1307013    186.636156
1307014    111.024170
1307015    303.403339
              ...
1707311    163.255818
1707312    452.419710
1707313    206.012085
1707314    130.400100
1707315    322.779269
Length: 7493, dtype: float64

In [293]:
train_data=train_data.dropna()
train_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,148.828353,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,535.856285,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,201.198426,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,65.890169,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,317.475875,6.0,17.8375,15.0,20.0,27,7,2013,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,2017-07-30,65.453279,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707302,2017-07-30,605.805099,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707303,2017-07-30,322.250156,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707304,2017-07-30,150.306407,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707305,2017-07-30,294.303759,5.0,24.0000,11.0,61.0,30,7,2017,7,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [294]:
validation_data=validation_data.dropna()
validation_data

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,325.864228,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,88.208006,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,294.872701,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,166.135486,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,557.470898,6.0,21.3750,7.0,21.0,31,8,2017,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807304,2018-07-30,71.822977,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807303,2018-07-30,348.770346,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807305,2018-07-30,324.965348,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Cake,False,False,False,False,True,False,True,False
1807301,2018-07-30,148.541340,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807302,2018-07-30,616.358562,6.0,27.7875,10.0,21.0,31,7,2018,1,...,Sommer,Roles,False,True,False,False,False,False,True,False

In [295]:
predictions_valid = mod.predict(validation_data)
predictions_valid.to_csv("predictions_validation.csv")
print(predictions_valid)

id
1708015    315.579238
1708014    123.200069
1708013    198.812055
1708011    156.055788
1708012    445.219679
              ...
1807304    149.684768
1807303    225.296754
1807305    342.063937
1807301    182.540487
1807302    471.704378
Length: 1610, dtype: float64

In [296]:
from sklearn.metrics import mean_squared_error # Import mean_squared_error from sklearn.metrics
import math # Import math library

# Calculate the mean squared error using mean_squared_error from sklearn.metrics
mse_valid = mean_squared_error(validation_data[["Umsatz"]], predictions_valid)
 
# Raise the mean squared error to the power of 0.5
rmse_valid = (mse_valid)**(1/2)
# Print the RMSE
rmse_valid

75.95108884049874

In [297]:
mse_valid

5768.567896057331

In [298]:
test_data.isna().any()

Datum                  False
Umsatz                  True
Bewoelkung              True
Temperatur              True
Windgeschwindigkeit     True
Wettercode              True
Woche                  False
Monat                  False
Jahr                   False
Wochentag              False
Kalenderwoche          False
Quartal                False
Halbjahr               False
Jahreszeit             False
Product_type           False
Warengruppe_1          False
Warengruppe_2          False
Warengruppe_3          False
Warengruppe_4          False
Warengruppe_5          False
Warengruppe_6          False
KielerWoche_0          False
KielerWoche_1          False
dtype: bool

In [299]:
# Fill missing values with the median
test_data['Wettercode'] = test_data['Wettercode'].fillna(test_data['Wettercode'].median())
test_data['Temperatur'] = test_data['Temperatur'].fillna(test_data['Temperatur'].median())
test_data["Bewoelkung"] =  test_data["Bewoelkung"].fillna(test_data["Bewoelkung"].median())

test_data

/tmp/ipykernel_5397/3515625764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Wettercode'] = test_data['Wettercode'].fillna(test_data['Wettercode'].median())
/tmp/ipykernel_5397/3515625764.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Temperatur'] = test_data['Temperatur'].fillna(test_data['Temperatur'].median())
/tmp/ipykernel_5397/3515625764.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Bewoelkung"] =  test_data["Bewoelkung"].fillna(test_data["Bewoelkung"].median())

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [300]:
predictions_test = mod.predict(test_data)
predictions_test.to_csv("predictions_test.csv")
print(predictions_test)

id
1808015    327.683249
1808013    210.916065
1808014    135.304080
1808011    168.159798
1808012    457.323690
              ...
1907304    120.599714
1907301    153.455432
1907302    442.619324
1907303    196.211699
1907305    312.978883
Length: 1830, dtype: float64

In [301]:
# Neural Network Model

In [302]:
import numpy as np
np.random.seed(42)

training_features = train_data.drop(columns=['Umsatz'])
validation_features = validation_data.drop(columns=['Umsatz'])
test_features = test_data.drop(columns=['Umsatz'])

training_labels = train_data[['Umsatz']]
validation_labels = validation_data[['Umsatz']]
test_labels = test_data[['Umsatz']]

training_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1307011,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Bread,True,False,False,False,False,False,True,False
1307012,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Roles,False,True,False,False,False,False,True,False
1307013,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1307014,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1307015,2013-07-01,6.0,17.8375,15.0,20.0,27,7,2013,1,2013-26,...,Sommer,Cake,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Bread,True,False,False,False,False,False,True,False
1707302,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Roles,False,True,False,False,False,False,True,False
1707303,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1707304,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1707305,2017-07-30,5.0,24.0000,11.0,61.0,30,7,2017,7,2017-31,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [303]:
test_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Cake,False,False,False,False,True,False,True,False
1808013,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1808014,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1808011,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1808012,2018-08-01,0.0,23.7625,10.0,0.0,31,8,2018,3,2018-30,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1907301,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1907302,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Roles,False,True,False,False,False,False,True,False
1907303,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1907305,2019-07-30,7.0,20.7375,8.0,61.0,31,7,2019,2,2019-30,...,Sommer,Cake,False,False,False,False,True,False,True,False

In [304]:
validation_features

,Datum,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,Kalenderwoche,...,Jahreszeit,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,,,,,
1708015,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Cake,False,False,False,False,True,False,True,False
1708014,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1708013,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1708011,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Bread,True,False,False,False,False,False,True,False
1708012,2017-08-01,6.0,21.3750,7.0,21.0,31,8,2017,2,2017-31,...,Sommer,Roles,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807304,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Pastry,False,False,False,True,False,False,True,False
1807303,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Croissant,False,False,True,False,False,False,True,False
1807305,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Cake,False,False,False,False,True,False,True,False
1807301,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Bread,True,False,False,False,False,False,True,False
1807302,2018-07-30,6.0,27.7875,10.0,21.0,31,7,2018,1,2018-30,...,Sommer,Roles,False,True,False,False,False,False,True,False

In [305]:
validation_labels

             Umsatz
id
1708015  325.864228
1708014   88.208006
1708013  294.872701
1708011  166.135486
1708012  557.470898
...             ...
1807304   71.822977
1807303  348.770346
1807305  324.965348
1807301  148.541340
1807302  616.358562

[1610 rows x 1 columns]

In [306]:
training_labels

             Umsatz
id
1307011  148.828353
1307012  535.856285
1307013  201.198426
1307014   65.890169
1307015  317.475875
...             ...
1707301   65.453279
1707302  605.805099
1707303  322.250156
1707304  150.306407
1707305  294.303759

[5399 rows x 1 columns]

In [307]:
test_labels

         Umsatz
id
1808015     NaN
1808013     NaN
1808014     NaN
1808011     NaN
1808012     NaN
...         ...
1907304     NaN
1907301     NaN
1907302     NaN
1907303     NaN
1907305     NaN

[1830 rows x 1 columns]

In [308]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np

In [309]:
model = keras.Sequential([
    layers.Input(shape=(17,)),        # Input layer
    layers.Dense(32, activation='relu'),  # Hidden layer with 32 neurons and ReLU activation
    layers.Dense(1, activation='linear')   # Output layer with a single neuron (for regression)
])

In [310]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [311]:
training_features=training_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features=validation_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])  
test_features=test_features.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1307011,6.0,17.8375,15.0,20.0,7,2013,1,3,2,True,False,False,False,False,False,True,False
1307012,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,True,False,False,False,False,True,False
1307013,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,True,False,False,False,True,False
1307014,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,False,True,False,False,True,False
1307015,6.0,17.8375,15.0,20.0,7,2013,1,3,2,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707301,5.0,24.0000,11.0,61.0,7,2017,7,3,2,True,False,False,False,False,False,True,False
1707302,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,True,False,False,False,False,True,False
1707303,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,True,False,False,False,True,False
1707304,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,False,True,False,False,True,False
1707305,5.0,24.0000,11.0,61.0,7,2017,7,3,2,False,False,False,False,True,False,True,False

In [312]:
training_labels

             Umsatz
id
1307011  148.828353
1307012  535.856285
1307013  201.198426
1307014   65.890169
1307015  317.475875
...             ...
1707301   65.453279
1707302  605.805099
1707303  322.250156
1707304  150.306407
1707305  294.303759

[5399 rows x 1 columns]

In [313]:
test_features

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1808015,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,False,False,True,False,True,False
1808013,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,True,False,False,False,True,False
1808014,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,False,False,True,False,False,True,False
1808011,0.0,23.7625,10.0,0.0,8,2018,3,3,2,True,False,False,False,False,False,True,False
1808012,0.0,23.7625,10.0,0.0,8,2018,3,3,2,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907304,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,False,True,False,False,True,False
1907301,7.0,20.7375,8.0,61.0,7,2019,2,3,2,True,False,False,False,False,False,True,False
1907302,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,True,False,False,False,False,True,False
1907303,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,True,False,False,False,True,False
1907305,7.0,20.7375,8.0,61.0,7,2019,2,3,2,False,False,False,False,True,False,True,False

In [314]:
test_labels

         Umsatz
id
1808015     NaN
1808013     NaN
1808014     NaN
1808011     NaN
1808012     NaN
...         ...
1907304     NaN
1907301     NaN
1907302     NaN
1907303     NaN
1907305     NaN

[1830 rows x 1 columns]

In [315]:
training_features.dtypes

Bewoelkung             float64
Temperatur             float64
Windgeschwindigkeit    float64
Wettercode             float64
Monat                    int32
Jahr                     int32
Wochentag                int32
Quartal                  int32
Halbjahr                 int64
Warengruppe_1             bool
Warengruppe_2             bool
Warengruppe_3             bool
Warengruppe_4             bool
Warengruppe_5             bool
Warengruppe_6             bool
KielerWoche_0             bool
KielerWoche_1             bool
dtype: object

In [316]:
test_features.dtypes

Bewoelkung             float64
Temperatur             float64
Windgeschwindigkeit    float64
Wettercode             float64
Monat                    int32
Jahr                     int32
Wochentag                int32
Quartal                  int32
Halbjahr                 int64
Warengruppe_1             bool
Warengruppe_2             bool
Warengruppe_3             bool
Warengruppe_4             bool
Warengruppe_5             bool
Warengruppe_6             bool
KielerWoche_0             bool
KielerWoche_1             bool
dtype: object

In [317]:
#model.fit(training_features, training_labels, epochs=100, batch_size=32, validation_split=0.2)
model.fit(training_features, training_labels, epochs=100, batch_size=32, validation_data=(validation_features, validation_labels))

Epoch 1/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 23026.1973 - val_loss: 16594.5098
Epoch 2/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20546.8379 - val_loss: 16398.1797
Epoch 3/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20312.9629 - val_loss: 16185.5625
Epoch 4/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 20163.3750 - val_loss: 16091.7393
Epoch 5/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19954.9473 - val_loss: 16029.1035
Epoch 6/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19756.6348 - val_loss: 15596.1475
Epoch 7/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19515.3887 - val_loss: 15304.2549
Epoch 8/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19274.9004 - val_loss: 15041.6035
Epoch 9/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19025.6641 - val_loss: 14862.2891
Epoch 10/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18768.5371 - val_loss: 14828.9541
Epoch 11/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18525.9023 - val_loss: 14364.7061
Epoch 12/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18314.9082 - val_loss: 14274.8867
Epoch 13/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 18084.6465 - val_loss: 14136.8457
Epoch 14/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17854.1699 - val_loss: 13736.4443
Epoch 15/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17459.6797 - val_loss: 13548.7158
Epoch 16/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17337.9316 - val_loss: 13420.3271
Epoch 17/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16979.6094 - val_loss: 12998.2021
Epoch 18/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16661.0996 - val_loss: 13006.0762
Epoch 19/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16525.5957 - val_loss: 13191.1309
Epoch 20/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16229.3652 - val_loss: 12301.1865
Epoch 21/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16056.2002 - val_loss: 12580.6494
Epoch 22/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15649.4287 - val_loss: 12092.8555
Epoch 23/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15335.8164 - val_loss: 11670.4697
Epoch 24/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15184.3330 - val_loss: 12157.7295
Epoch 25/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14958.0127 - val_loss: 11253.6260
Epoch 26/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14429.4531 - val_loss: 11007.5645
Epoch 27/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14403.7803 - val_loss: 10838.8984
Epoch 28/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13955.1016 - val_loss: 10680.6924
Epoch 29/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13654.0469 - val_loss: 10660.1475
Epoch 30/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13332.9756 - val_loss: 9899.0205
Epoch 31/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13085.3389 - val_loss: 9641.9561
Epoch 32/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12769.7100 - val_loss: 10395.7900
Epoch 33/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12461.1865 - val_loss: 10162.9463
Epoch 34/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12285.9990 - val_loss: 9239.7197
Epoch 35/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11959.4326 - val_loss: 8647.6729
Epoch 36/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11622.3281 - val_loss: 11191.2871
Epoch 37/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11497.4785 - val_loss: 8249.0303
Epoch 38/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10991.8115 - val_loss: 8075.0122
Epoch 39/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10946.8096 - val_loss: 7766.3784
Epoch 40/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10582.7461 - val_loss: 7799.3130
Epoch 41/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10266.5469 - val_loss: 7536.0039
Epoch 42/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10020.5293 - val_loss: 8769.4111
Epoch 43/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9879.0654 - val_loss: 7147.3188
Epoch 44/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9640.6523 - val_loss: 7909.7539
Epoch 45/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9426.2549 - val_loss: 7148.5996
Epoch 46/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9140.5176 - val_loss: 6423.7036
Epoch 47/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9107.5371 - val_loss: 6425.0557
Epoch 48/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8769.6377 - val_loss: 6985.1572
Epoch 49/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8588.4473 - val_loss: 6377.2061
Epoch 50/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8368.9443 - val_loss: 6567.4238
Epoch 51/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8172.4067 - val_loss: 6089.0586
Epoch 52/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 8025.8550 - val_loss: 6032.9224
Epoch 53/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7916.5010 - val_loss: 5656.2930
Epoch 54/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7764.8320 - val_loss: 5872.1948
Epoch 55/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7660.7759 - val_loss: 5327.9614
Epoch 56/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7480.3247 - val_loss: 5345.6455
Epoch 57/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7458.2266 - val_loss: 5291.6455
Epoch 58/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 7290.3560 - val_loss: 5636.0298
Epoch 59/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7091.0718 - val_loss: 4998.6377
Epoch 60/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7128.7881 - val_loss: 5189.2368
Epoch 61/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6992.2617 - val_loss: 5121.4111
Epoch 62/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6854.2896 - val_loss: 5672.6255
Epoch 63/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6814.7827 - val_loss: 4810.1167
Epoch 64/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6838.7798 - val_loss: 6312.4868
Epoch 65/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6724.0786 - val_loss: 4750.5830
Epoch 66/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6641.3164 - val_loss: 5339.6606
Epoch 67/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 6586.0742 - val_loss: 4742.1309
Epoch 68/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6494.3647 - val_loss: 4905.1143
Epoch 69/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6459.5273 - val_loss: 4677.9561
Epoch 70/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6480.9985 - val_loss: 5064.2612
Epoch 71/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6394.3857 - val_loss: 5270.7378
Epoch 72/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6479.3823 - val_loss: 4575.2651
Epoch 73/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6406.6035 - val_loss: 5188.7563
Epoch 74/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6254.8643 - val_loss: 4757.9414
Epoch 75/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6246.3677 - val_loss: 4690.3281
Epoch 76/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6308.1421 - val_loss: 4975.3770
Epoch 77/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 6272.8022 - val_loss: 4454.1401
Epoch 78/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6132.4224 - val_loss: 5095.4678
Epoch 79/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6196.6963 - val_loss: 4881.2881
Epoch 80/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6164.7759 - val_loss: 6119.7603
Epoch 81/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6167.2417 - val_loss: 4859.1694
Epoch 82/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6133.4648 - val_loss: 5167.4746
Epoch 83/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6138.6318 - val_loss: 4563.5166
Epoch 84/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6037.6118 - val_loss: 5190.9883
Epoch 85/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6060.7559 - val_loss: 4345.3267
Epoch 86/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6199.6953 - val_loss: 5540.7725
Epoch 87/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6014.0601 - val_loss: 4363.3164
Epoch 88/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6007.4487 - val_loss: 4797.1123
Epoch 89/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6008.7642 - val_loss: 4309.6396
Epoch 90/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5988.6660 - val_loss: 5659.6079
Epoch 91/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5978.8623 - val_loss: 4516.4629
Epoch 92/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6030.1978 - val_loss: 4360.9072
Epoch 93/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6053.2065 - val_loss: 4370.7988
Epoch 94/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6007.5757 - val_loss: 4339.4712
Epoch 95/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6008.2456 - val_loss: 4715.1680
Epoch 96/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6028.6025 - val_loss: 4386.4375
Epoch 97/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5896.2173 - val_loss: 4295.3892
Epoch 98/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5899.6245 - val_loss: 4250.0405
Epoch 99/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5926.1113 - val_loss: 4917.4644
Epoch 100/100
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5929.1953 - val_loss: 5130.6006

In [318]:
# Evaluate the model on the validation data
validation_loss = model.evaluate(validation_features, validation_labels)
print(f"Validation Loss: {validation_loss:.4f}")

51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5130.6006
Validation Loss: 5130.6006

In [319]:
# Use the trained model to make predictions on new data
predictions = model.predict(test_features)
print(predictions)

58/58 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
[[372.03918]
 [234.34065]
 [127.82307]
 ...
 [453.51215]
 [200.66438]
 [338.36298]]

In [ ]:
test_data["Predicted_Umsatz"] = predictions
test_data

/tmp/ipykernel_5397/3315520165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_pred=test_data["Predicted_Umsatz"] = predictions

array([[372.03918],
       [234.34065],
       [127.82307],
       ...,
       [453.51215],
       [200.66438],
       [338.36298]], shape=(1830, 1), dtype=float32)

In [321]:
import numpy as np

def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions = model.predict(training_features)
validation_predictions = model.predict(validation_features)
print(f"MAPE on the Training Data: {mape(training_labels, training_predictions):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels, validation_predictions):.2f}%")

169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 822us/step
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 943us/step
MAPE on the Training Data: 31.18%
MAPE on the Validation Data: 32.74%

In [323]:
test_predictions = test_data[["Predicted_Umsatz"]]
test_predictions.to_csv("nn_test_predictions.csv", index=False)
test_predictions

         Predicted_Umsatz
id
1808015        372.039185
1808013        234.340652
1808014        127.823067
1808011        159.455948
1808012        487.188354
...                   ...
1907304         95.496651
1907301        125.779793
1907302        453.512146
1907303        200.664383
1907305        338.362976

[1830 rows x 1 columns]

# Predictions for test_data for all product groups separately

In [324]:
df1 = test_data[test_data['Warengruppe_1'] == True]
df2 = test_data[test_data['Warengruppe_2'] == True]
df3 = test_data[test_data['Warengruppe_3'] == True]
df4 = test_data[test_data['Warengruppe_4'] == True]
df5 = test_data[test_data['Warengruppe_5'] == True]
df6 = test_data[test_data['Warengruppe_6'] == True]
df1

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808011,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Bread,True,False,False,False,False,False,True,False,159.455948
1808021,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Bread,True,False,False,False,False,False,True,False,190.967361
1808031,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Bread,True,False,False,False,False,False,True,False,215.478592
1808041,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Bread,True,False,False,False,False,False,True,False,214.859207
1808051,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Bread,True,False,False,False,False,False,True,False,206.731522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907261,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Bread,True,False,False,False,False,False,True,False,216.461319
1907271,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Bread,True,False,False,False,False,False,True,False,211.852127
1907281,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Bread,True,False,False,False,False,False,True,False,220.103348
1907291,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Bread,True,False,False,False,False,False,True,False,141.669327
1907301,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Bread,True,False,False,False,False,False,True,False,125.779793

In [325]:
df2

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808012,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Roles,False,True,False,False,False,False,True,False,487.188354
1808022,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Roles,False,True,False,False,False,False,True,False,518.699646
1808032,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Roles,False,True,False,False,False,False,True,False,543.210999
1808042,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Roles,False,True,False,False,False,False,True,False,542.591553
1808052,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Roles,False,True,False,False,False,False,True,False,534.463867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907262,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Roles,False,True,False,False,False,False,True,False,544.193665
1907272,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Roles,False,True,False,False,False,False,True,False,539.584534
1907282,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Roles,False,True,False,False,False,False,True,False,547.835754
1907292,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Roles,False,True,False,False,False,False,True,False,469.401672
1907302,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Roles,False,True,False,False,False,False,True,False,453.512146

In [326]:
df3

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808013,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Croissant,False,False,True,False,False,False,True,False,234.340652
1808023,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Croissant,False,False,True,False,False,False,True,False,265.851929
1808033,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Croissant,False,False,True,False,False,False,True,False,290.363281
1808043,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Croissant,False,False,True,False,False,False,True,False,289.743835
1808053,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Croissant,False,False,True,False,False,False,True,False,281.616211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907263,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Croissant,False,False,True,False,False,False,True,False,291.345947
1907273,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Croissant,False,False,True,False,False,False,True,False,286.736816
1907283,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Croissant,False,False,True,False,False,False,True,False,294.988098
1907293,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Croissant,False,False,True,False,False,False,True,False,216.553909
1907303,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Croissant,False,False,True,False,False,False,True,False,200.664383

In [327]:
df4

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808014,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Pastry,False,False,False,True,False,False,True,False,127.823067
1808024,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Pastry,False,False,False,True,False,False,True,False,159.334488
1808034,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Pastry,False,False,False,True,False,False,True,False,183.845718
1808044,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Pastry,False,False,False,True,False,False,True,False,183.226273
1808054,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Pastry,False,False,False,True,False,False,True,False,175.098587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907264,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Pastry,False,False,False,True,False,False,True,False,184.828445
1907274,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Pastry,False,False,False,True,False,False,True,False,180.219254
1907284,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Pastry,False,False,False,True,False,False,True,False,188.470474
1907294,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Pastry,False,False,False,True,False,False,True,False,110.036324
1907304,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Pastry,False,False,False,True,False,False,True,False,95.496651

In [328]:
df5

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1808015,2018-08-01,NaN,0.0,23.7625,10.0,0.0,31,8,2018,3,...,Cake,False,False,False,False,True,False,True,False,372.039185
1808025,2018-08-02,NaN,0.0,26.1875,10.0,0.0,31,8,2018,4,...,Cake,False,False,False,False,True,False,True,False,403.550568
1808035,2018-08-03,NaN,1.0,27.6625,10.0,0.0,31,8,2018,5,...,Cake,False,False,False,False,True,False,True,False,428.061798
1808045,2018-08-04,NaN,4.0,25.1375,12.0,21.0,31,8,2018,6,...,Cake,False,False,False,False,True,False,True,False,427.442322
1808055,2018-08-05,NaN,7.0,21.3000,14.0,61.0,31,8,2018,7,...,Cake,False,False,False,False,True,False,True,False,419.314728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907265,2019-07-26,NaN,0.0,26.9250,14.0,5.0,30,7,2019,5,...,Cake,False,False,False,False,True,False,True,False,429.044525
1907275,2019-07-27,NaN,4.0,23.5375,21.0,5.0,30,7,2019,6,...,Cake,False,False,False,False,True,False,True,False,424.435425
1907285,2019-07-28,NaN,3.0,23.3500,14.0,5.0,30,7,2019,7,...,Cake,False,False,False,False,True,False,True,False,432.686523
1907295,2019-07-29,NaN,6.0,25.2500,7.0,61.0,31,7,2019,1,...,Cake,False,False,False,False,True,False,True,False,354.252502
1907305,2019-07-30,NaN,7.0,20.7375,8.0,61.0,31,7,2019,2,...,Cake,False,False,False,False,True,False,True,False,338.362976

In [329]:
df6

,Datum,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Woche,Monat,Jahr,Wochentag,...,Product_type,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1,Predicted_Umsatz
id,,,,,,,,,,,,,,,,,,,,,
1811016,2018-11-01,NaN,5.0,11.725000,8.0,0.0,44,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,96.391731
1811026,2018-11-02,NaN,6.0,10.675000,12.0,61.0,44,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,97.212898
1811036,2018-11-03,NaN,0.0,8.700000,5.0,10.0,44,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,101.665413
1811046,2018-11-04,NaN,8.0,8.225000,5.0,10.0,44,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,106.720589
1811056,2018-11-05,NaN,8.0,10.412500,6.0,10.0,45,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,73.517830
1811066,2018-11-06,NaN,7.0,8.537500,5.0,45.0,45,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,72.510933
1811076,2018-11-07,NaN,1.0,11.087500,4.0,28.0,45,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,85.587532
1811086,2018-11-08,NaN,6.0,11.625000,7.0,20.0,45,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,94.029854
1811096,2018-11-09,NaN,7.0,9.300000,6.0,61.0,45,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,91.467354
1811106,2018-11-10,NaN,7.0,11.425000,8.0,61.0,45,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,113.455818
1811116,2018-11-11,NaN,7.0,12.237500,8.0,61.0,45,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,133.866287
1811126,2018-11-12,NaN,7.0,10.537500,4.0,61.0,46,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,68.465279
1811136,2018-11-13,NaN,7.0,10.325000,9.0,61.0,46,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,75.130806
1811146,2018-11-14,NaN,7.0,8.437500,7.0,10.0,46,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,82.360176
1811156,2018-11-15,NaN,2.0,10.350000,6.0,5.0,46,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,92.954475
1811166,2018-11-16,NaN,0.0,8.262500,7.0,10.0,46,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,94.832588
1811176,2018-11-17,NaN,0.0,5.375000,10.0,10.0,46,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,95.862556
1811186,2018-11-18,NaN,7.0,6.750000,14.0,0.0,46,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,106.254463
1811196,2018-11-19,NaN,6.0,5.775000,21.0,61.0,47,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,61.769356
1811206,2018-11-20,NaN,7.0,4.725000,16.0,21.0,47,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,69.063179
1811216,2018-11-21,NaN,7.0,3.050000,12.0,0.0,47,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,73.443245
1811226,2018-11-22,NaN,8.0,1.512500,9.0,21.0,47,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,74.090950
1811236,2018-11-23,NaN,8.0,1.887500,6.0,10.0,47,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,81.720772
1811246,2018-11-24,NaN,8.0,3.025000,4.0,10.0,47,11,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,89.944344
1811256,2018-11-25,NaN,8.0,5.162500,12.0,53.0,47,11,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,97.531624
1811266,2018-11-26,NaN,7.0,4.950000,12.0,61.0,48,11,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,58.649361
1811276,2018-11-27,NaN,8.0,2.162500,3.0,21.0,48,11,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,61.849129
1811286,2018-11-28,NaN,3.0,1.500000,10.0,5.0,48,11,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,69.694099
1811296,2018-11-29,NaN,7.0,3.300000,10.0,61.0,48,11,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,73.904732
1811306,2018-11-30,NaN,5.0,7.837500,8.0,21.0,48,11,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,92.888252
1812016,2018-12-01,NaN,7.0,7.162500,8.0,61.0,48,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,92.395149
1812026,2018-12-02,NaN,7.0,8.150000,8.0,61.0,48,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,103.842171
1812036,2018-12-03,NaN,7.0,10.825000,12.0,61.0,49,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,68.889412
1812046,2018-12-04,NaN,1.0,5.442857,14.0,21.0,49,12,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,68.951057
1812056,2018-12-05,NaN,1.0,3.737500,6.0,0.0,49,12,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,72.628426
1812066,2018-12-06,NaN,7.0,6.725000,7.0,61.0,49,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,78.795662
1812076,2018-12-07,NaN,7.0,10.825000,9.0,61.0,49,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,93.547066
1812086,2018-12-08,NaN,8.0,7.475000,18.0,61.0,49,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,94.585945
1812096,2018-12-09,NaN,7.0,6.950000,18.0,61.0,49,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,103.773689
1812106,2018-12-10,NaN,5.0,4.912500,15.0,21.0,50,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,61.630135
1812116,2018-12-11,NaN,6.0,4.637500,11.0,21.0,50,12,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,66.690498
1812126,2018-12-12,NaN,7.0,4.175000,12.0,21.0,50,12,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,72.181343
1812136,2018-12-13,NaN,7.0,2.925000,10.0,61.0,50,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,71.727974
1812146,2018-12-14,NaN,7.0,2.175000,12.0,22.0,50,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,80.679329
1812156,2018-12-15,NaN,7.0,0.537500,7.0,21.0,50,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,83.006416
1812166,2018-12-16,NaN,7.0,0.200000,9.0,21.0,50,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,88.941963
1812176,2018-12-17,NaN,8.0,0.650000,6.0,20.0,51,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,51.707832
1812186,2018-12-18,NaN,7.0,5.312500,6.0,21.0,51,12,2018,2,...,Seasonal products,False,False,False,False,False,True,True,False,67.192940
1812196,2018-12-19,NaN,7.0,3.175000,9.0,61.0,51,12,2018,3,...,Seasonal products,False,False,False,False,False,True,True,False,65.779305
1812206,2018-12-20,NaN,7.0,4.887500,4.0,53.0,51,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,75.450081
1812216,2018-12-21,NaN,7.0,6.112500,9.0,61.0,51,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,84.184822
1812226,2018-12-22,NaN,8.0,4.300000,4.0,21.0,51,12,2018,6,...,Seasonal products,False,False,False,False,False,True,True,False,89.963814
1812236,2018-12-23,NaN,7.0,6.450000,9.0,61.0,51,12,2018,7,...,Seasonal products,False,False,False,False,False,True,True,False,97.425056
1812246,2018-12-24,NaN,7.0,2.500000,10.0,22.0,52,12,2018,1,...,Seasonal products,False,False,False,False,False,True,True,False,55.864449
1812276,2018-12-27,NaN,7.0,7.125000,12.0,20.0,52,12,2018,4,...,Seasonal products,False,False,False,False,False,True,True,False,84.425240
1812286,2018-12-28,NaN,7.0,7.312500,11.0,61.0,52,12,2018,5,...,Seasonal products,False,False,False,False,False,True,True,False,86.890022

In [332]:
import numpy as np
np.random.seed(43)

test_features_df1 = df1.drop(columns=['Umsatz'])
test_features_df2 = df2.drop(columns=['Umsatz'])
test_features_df3 = df3.drop(columns=['Umsatz'])
test_features_df4 = df4.drop(columns=['Umsatz'])
test_features_df5 = df5.drop(columns=['Umsatz'])
test_features_df6 = df6.drop(columns=['Umsatz'])

test_labels_df1 = df1[['Umsatz']]
test_labels_df2 = df2[['Umsatz']]
test_labels_df3 = df3[['Umsatz']]
test_labels_df4 = df4[['Umsatz']]
test_labels_df5 = df5[['Umsatz']]
test_labels_df6 = df6[['Umsatz']]

test_features_df1=test_features_df1.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche", "Predicted_Umsatz"])
test_features_df2=test_features_df2.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche", "Predicted_Umsatz"])
test_features_df3=test_features_df3.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche", "Predicted_Umsatz"])
test_features_df4=test_features_df4.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche", "Predicted_Umsatz"]) 
test_features_df5=test_features_df5.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche", "Predicted_Umsatz"])
test_features_df6=test_features_df6.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche", "Predicted_Umsatz"])
test_features_df1

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1808011,0.0,23.7625,10.0,0.0,8,2018,3,3,2,True,False,False,False,False,False,True,False
1808021,0.0,26.1875,10.0,0.0,8,2018,4,3,2,True,False,False,False,False,False,True,False
1808031,1.0,27.6625,10.0,0.0,8,2018,5,3,2,True,False,False,False,False,False,True,False
1808041,4.0,25.1375,12.0,21.0,8,2018,6,3,2,True,False,False,False,False,False,True,False
1808051,7.0,21.3000,14.0,61.0,8,2018,7,3,2,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907261,0.0,26.9250,14.0,5.0,7,2019,5,3,2,True,False,False,False,False,False,True,False
1907271,4.0,23.5375,21.0,5.0,7,2019,6,3,2,True,False,False,False,False,False,True,False
1907281,3.0,23.3500,14.0,5.0,7,2019,7,3,2,True,False,False,False,False,False,True,False
1907291,6.0,25.2500,7.0,61.0,7,2019,1,3,2,True,False,False,False,False,False,True,False
1907301,7.0,20.7375,8.0,61.0,7,2019,2,3,2,True,False,False,False,False,False,True,False

In [333]:
# Use the trained model to make predictions on new data
predictions_df1 = model.predict(test_features_df1)
print(predictions_df1)

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
[[ 1.59455948e+02]
 [ 1.90967361e+02]
 [ 2.15478592e+02]
 [ 2.14859207e+02]
 [ 2.06731522e+02]
 [ 1.26296028e+02]
 [ 2.05201675e+02]
 [ 1.89509048e+02]
 [ 1.81712173e+02]
 [ 1.52291275e+02]
 [ 1.51626236e+02]
 [ 1.82498489e+02]
 [ 1.18169380e+02]
 [ 1.38647964e+02]
 [ 1.48621964e+02]
 [ 1.81109085e+02]
 [ 1.60953751e+02]
 [ 1.89899918e+02]
 [ 2.00841141e+02]
 [ 1.18347542e+02]
 [ 1.24273567e+02]
 [ 1.79298172e+02]
 [ 1.65018631e+02]
 [ 1.49922989e+02]
 [ 1.31170853e+02]
 [ 1.74028641e+02]
 [ 1.08132942e+02]
 [ 1.18094551e+02]
 [ 1.53779922e+02]
 [ 1.24816048e+02]
 [ 1.53388870e+02]
 [ 1.62255203e+02]
 [ 1.84469376e+02]
 [ 1.19865120e+02]
 [ 1.26469490e+02]
 [ 1.33547684e+02]
 [ 1.56082962e+02]
 [ 1.47242325e+02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [ 1.16070869e+02]
 [ 1.13011238e+02]
 [ 1.14665474e+02]
 [ 1.32448746e+02]
 [ 1.40913284e+02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [ 1.33645645e+02]
 [ 1.39358231e+02]
 [ 1.33773087e+02]
 [ 1.01186897e+02]
 [ 1.11146980e+02]
 [ 1.15344246e+02]
 [ 1.33826370e+02]
 [ 1.29169937e+02]
 [ 1.31011246e+02]
 [ 1.50399002e+02]
 [ 9.84660110e+01]
 [ 9.94354324e+01]
 [ 1.14269905e+02]
 [ 1.18831673e+02]
 [ 1.46406693e+02]
 [ 1.36459305e+02]
 [ 1.38042313e+02]
 [ 1.01919502e+02]
 [ 1.14278084e+02]
 [ 1.23128731e+02]
 [ 1.40838394e+02]
 [ 1.69591995e+02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [ 1.18868416e+02]
 [ 1.20492439e+02]
 [ 1.32154739e+02]
 [ 1.22323311e+02]
 [ 1.23815132e+02]
 [-2.80070771e-02]
 [-2.80070771e-02]
 [ 1.00835457e+02]
 [ 1.03830147e+02]
 [ 1.11376167e+02]
 [ 1.18334297e+02]
 [ 1.17257942e+02]
 [ 1.15269783e+02]
 [ 1.27592903e+02]
 [ 9.16480789e+01]
 [ 1.03574104e+02]
 [ 1.18429146e+02]
 [ 1.17235664e+02]
 [ 1.23702827e+02]
 [ 1.28758011e+02]
 [ 9.55553665e+01]
 [ 9.45484085e+01]
 [ 1.07625008e+02]
 [ 1.16067329e+02]
 [ 1.13504890e+02]
 [ 1.24332527e+02]
 [ 1.34992264e+02]
 [ 9.05027542e+01]
 [ 9.71683426e+01]
 [ 1.04397591e+02]
 [ 1.14991890e+02]
 [ 1.16870003e+02]
 [ 1.17900032e+02]
 [ 1.28291946e+02]
 [ 8.38068314e+01]
 [ 9.11007156e+01]
 [ 9.54807816e+01]
 [ 9.61284866e+01]
 [ 1.03758308e+02]
 [ 1.11981880e+02]
 [ 1.19569099e+02]
 [ 8.06867752e+01]
 [ 8.38866653e+01]
 [ 9.17315140e+01]
 [ 9.59422073e+01]
 [ 1.14925728e+02]
 [ 1.14432564e+02]
 [ 1.22679390e+02]
 [ 9.09268265e+01]
 [ 9.09885941e+01]
 [ 9.46660843e+01]
 [ 1.00833199e+02]
 [ 1.15584541e+02]
 [ 1.16623360e+02]
 [ 1.21901070e+02]
 [ 8.36676102e+01]
 [ 8.87280350e+01]
 [ 9.42188187e+01]
 [ 9.37654495e+01]
 [ 1.02716805e+02]
 [ 1.05043953e+02]
 [ 1.10979561e+02]
 [ 7.37452469e+01]
 [ 8.92303543e+01]
 [ 8.78167191e+01]
 [ 9.74874954e+01]
 [ 1.06222359e+02]
 [ 1.12001289e+02]
 [ 1.19462593e+02]
 [ 7.79019852e+01]
 [ 1.06462715e+02]
 [ 1.08927498e+02]
 [ 1.15736153e+02]
 [ 1.25146065e+02]
 [ 8.58317947e+01]
 [ 1.05281441e+02]
 [ 1.00849068e+02]
 [ 1.14052376e+02]
 [ 1.27787666e+02]
 [ 1.21562691e+02]
 [ 8.91129837e+01]
 [ 9.97102127e+01]
 [ 1.03812691e+02]
 [ 1.02171822e+02]
 [ 1.16695564e+02]
 [ 1.21083809e+02]
 [ 1.31671463e+02]
 [ 8.79038162e+01]
 [ 9.78897781e+01]
 [ 1.04625008e+02]
 [ 1.05060616e+02]
 [ 1.10463264e+02]
 [ 1.10741402e+02]
 [ 1.20748360e+02]
 [ 7.51314774e+01]
 [ 8.85684280e+01]
 [ 8.81856766e+01]
 [ 8.95349197e+01]
 [ 9.38320999e+01]
 [ 1.15650398e+02]
 [ 1.24084846e+02]
 [ 8.57407913e+01]
 [ 8.53635330e+01]
 [ 9.68375931e+01]
 [ 1.02270149e+02]
 [ 1.05979317e+02]
 [ 1.15508125e+02]
 [ 1.24380928e+02]
 [ 8.57678909e+01]
 [ 9.13109818e+01]
 [ 9.56587601e+01]
 [ 1.06501350e+02]
 [ 1.13865669e+02]
 [ 1.23062508e+02]
 [ 1.23061348e+02]
 [ 9.45893631e+01]
 [ 9.67780838e+01]
 [ 1.07674568e+02]
 [ 1.14366707e+02]
 [ 1.29083145e+02]
 [ 1.33866226e+02]
 [ 1.41303848e+02]
 [ 1.04713631e+02]
 [ 9.59534988e+01]
 [ 1.02964729e+02]
 [ 1.10039986e+02]
 [ 1.15253487e+02]
 [ 1.19890022e+02]
 [ 1.38204239e+02]
 [ 9.91699295e+01]
 [ 1.08768318e+02]
 [ 1.20590034e+02]
 [ 1.14342598e+02]
 [ 1.14172371e+02]
 [ 1.19824776e+02]
 [ 1.30277542e+02]
 [ 9.08367386e+01]
 [ 9.53842850e+01]
 [ 1.00064583e+02]
 [ 1.13727547e+02]
 [ 1.15684029e+02]
 [ 1.20026131e+02]
 [ 1.29582413e+02]
 [ 8.17454910e+01]
 [ 9.18006058e+01]
 [ 9.89191971e+01]
 [ 1.04447212e+02]
 [ 1.16643929e+02]
 [ 1.16905891e+02]
 [ 1.32242020e+02]
 [ 8.86242142e+01]
 [ 1.00247810e+02]
 [ 1.19010872e+02]
 [ 1.22020515e+02]
 [ 1.31887161e+02]
 [ 1.33579971e+02]
 [ 9.39628983e+01]
 [ 1.00973213e+02]
 [ 1.04035286e+02]
 [ 1.18069954e+02]
 [ 1.27589424e+02]
 [ 1.42320694e+02]
 [ 1.33391800e+02]
 [ 9.48902664e+01]
 [ 1.07916389e+02]
 [-2.80070771e-02]
 [ 1.27447945e+02]
 [ 1.34703323e+02]
 [ 1.41307693e+02]
 [ 9.74470291e+01]
 [ 9.87039871e+01]
 [ 1.04094185e+02]
 [ 1.06273140e+02]
 [ 1.12220650e+02]
 [ 1.11261238e+02]
 [ 1.23126717e+02]
 [ 9.35885696e+01]
 [ 1.02266182e+02]
 [ 1.14797432e+02]
 [ 1.23764229e+02]
 [ 1.34020462e+02]
 [ 1.61430679e+02]
 [ 1.10719063e+02]
 [ 1.14406258e+02]
 [ 1.24405281e+02]
 [ 1.34178787e+02]
 [ 1.26791389e+02]
 [ 1.42843704e+02]
 [ 1.29936111e+02]
 [ 1.05181648e+02]
 [ 1.20203194e+02]
 [ 1.08825264e+02]
 [ 1.19028267e+02]
 [ 1.18027840e+02]
 [ 1.34976334e+02]
 [ 9.08571243e+01]
 [ 1.01426704e+02]
 [ 1.08965157e+02]
 [ 1.19435310e+02]
 [ 1.17312080e+02]
 [ 1.29534988e+02]
 [ 1.41472488e+02]
 [ 1.02364510e+02]
 [ 1.05795174e+02]
 [ 1.15684151e+02]
 [ 1.15667732e+02]
 [ 1.25282784e+02]
 [ 1.42283279e+02]
 [ 1.42664871e+02]
 [ 1.07855293e+02]
 [ 1.10142586e+02]
 [ 1.08673653e+02]
 [ 1.32383560e+02]
 [ 1.44054092e+02]
 [ 1.34121414e+02]
 [ 1.37597855e+02]
 [ 1.05999458e+02]
 [ 1.07951668e+02]
 [ 1.16163948e+02]
 [ 1.17758858e+02]
 [ 1.43996109e+02]
 [ 1.61424820e+02]
 [ 2.06994034e+02]
 [ 1.18239449e+02]
 [ 1.07990730e+02]
 [ 1.38907974e+02]
 [ 1.34626175e+02]
 [ 1.33750015e+02]
 [ 1.41339798e+02]
 [ 1.68011673e+02]
 [ 1.02472359e+02]
 [ 1.08162971e+02]
 [ 1.12123909e+02]
 [ 1.50947830e+02]
 [ 1.72766190e+02]
 [ 1.56850418e+02]
 [ 1.76186356e+02]
 [ 1.17169563e+02]
 [ 1.41089371e+02]
 [ 1.57959793e+02]
 [ 1.30590897e+02]
 [ 1.35380997e+02]
 [ 1.66603897e+02]
 [ 2.09241470e+02]
 [ 1.32274979e+02]
 [ 1.89255447e+02]
 [ 1.92693802e+02]
 [ 1.43385574e+02]
 [ 1.75764969e+02]
 [ 2.16419449e+02]
 [ 2.63368774e+02]
 [ 1.24364632e+02]
 [ 1.18169807e+02]
 [ 1.26294930e+02]
 [ 1.28275772e+02]
 [ 1.39905167e+02]
 [ 1.59203873e+02]
 [ 1.60003433e+02]
 [ 1.09072762e+02]
 [ 1.20285347e+02]
 [ 1.31618179e+02]
 [ 1.53835342e+02]
 [ 1.79262650e+02]
 [ 1.59923904e+02]
 [ 1.12322762e+02]
 [ 1.27426155e+02]
 [ 1.29333084e+02]
 [ 1.54497757e+02]
 [ 1.72342117e+02]
 [ 2.17565994e+02]
 [ 1.90092667e+02]
 [ 1.08708687e+02]
 [ 1.61832779e+02]
 [ 1.88397781e+02]
 [ 2.16988663e+02]
 [ 2.16461319e+02]
 [ 2.11852127e+02]
 [ 2.20103348e+02]
 [ 1.41669327e+02]
 [ 1.25779793e+02]]

In [334]:
test_predictions_df1 = df1[["Predicted_Umsatz"]]
test_predictions_df1.to_csv("nn_test_predictions_df1.csv", index=False)
test_predictions_df1

         Predicted_Umsatz
id
1808011        159.455948
1808021        190.967361
1808031        215.478592
1808041        214.859207
1808051        206.731522
...                   ...
1907261        216.461319
1907271        211.852127
1907281        220.103348
1907291        141.669327
1907301        125.779793

[355 rows x 1 columns]

In [335]:
predictions_df2 = model.predict(test_features_df2)
test_predictions_df2 = df2[["Predicted_Umsatz"]]
test_predictions_df2.to_csv("nn_test_predictions_df2.csv", index=False)
test_predictions_df2

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

         Predicted_Umsatz
id
1808012        487.188354
1808022        518.699646
1808032        543.210999
1808042        542.591553
1808052        534.463867
...                   ...
1907262        544.193665
1907272        539.584534
1907282        547.835754
1907292        469.401672
1907302        453.512146

[355 rows x 1 columns]

In [336]:
predictions_df3 = model.predict(test_features_df3)
test_predictions_df3 = df3[["Predicted_Umsatz"]]
test_predictions_df3.to_csv("nn_test_predictions_df3.csv", index=False)
test_predictions_df3

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

         Predicted_Umsatz
id
1808013        234.340652
1808023        265.851929
1808033        290.363281
1808043        289.743835
1808053        281.616211
...                   ...
1907263        291.345947
1907273        286.736816
1907283        294.988098
1907293        216.553909
1907303        200.664383

[355 rows x 1 columns]

In [337]:
predictions_df4 = model.predict(test_features_df4)
test_predictions_df4 = df4[["Predicted_Umsatz"]]
test_predictions_df4.to_csv("nn_test_predictions_df4.csv", index=False)
test_predictions_df4

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

         Predicted_Umsatz
id
1808014        127.823067
1808024        159.334488
1808034        183.845718
1808044        183.226273
1808054        175.098587
...                   ...
1907264        184.828445
1907274        180.219254
1907284        188.470474
1907294        110.036324
1907304         95.496651

[354 rows x 1 columns]

In [338]:
predictions_df5 = model.predict(test_features_df5)
test_predictions_df5 = df5[["Predicted_Umsatz"]]
test_predictions_df5.to_csv("nn_test_predictions_df5.csv", index=False)
test_predictions_df5

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

         Predicted_Umsatz
id
1808015        372.039185
1808025        403.550568
1808035        428.061798
1808045        427.442322
1808055        419.314728
...                   ...
1907265        429.044525
1907275        424.435425
1907285        432.686523
1907295        354.252502
1907305        338.362976

[355 rows x 1 columns]

In [339]:
predictions_df6 = model.predict(test_features_df6)
test_predictions_df6 = df6[["Predicted_Umsatz"]]
test_predictions_df6.to_csv("nn_test_predictions_df6.csv", index=False)
test_predictions_df6

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step

         Predicted_Umsatz
id
1811016         96.391731
1811026         97.212898
1811036        101.665413
1811046        106.720589
1811056         73.517830
1811066         72.510933
1811076         85.587532
1811086         94.029854
1811096         91.467354
1811106        113.455818
1811116        133.866287
1811126         68.465279
1811136         75.130806
1811146         82.360176
1811156         92.954475
1811166         94.832588
1811176         95.862556
1811186        106.254463
1811196         61.769356
1811206         69.063179
1811216         73.443245
1811226         74.090950
1811236         81.720772
1811246         89.944344
1811256         97.531624
1811266         58.649361
1811276         61.849129
1811286         69.694099
1811296         73.904732
1811306         92.888252
1812016         92.395149
1812026        103.842171
1812036         68.889412
1812046         68.951057
1812056         72.628426
1812066         78.795662
1812076         93.547066
1812086         94.585945
1812096        103.773689
1812106         61.630135
1812116         66.690498
1812126         72.181343
1812136         71.727974
1812146         80.679329
1812156         83.006416
1812166         88.941963
1812176         51.707832
1812186         67.192940
1812196         65.779305
1812206         75.450081
1812216         84.184822
1812226         89.963814
1812236         97.425056
1812246         55.864449
1812276         84.425240
1812286         86.890022

In [341]:
import numpy as np
np.random.seed(44)

df1_train = train_data[train_data['Warengruppe_1'] == True]
df2_train = train_data[train_data['Warengruppe_2'] == True]
df3_train = train_data[train_data['Warengruppe_3'] == True]
df4_train = train_data[train_data['Warengruppe_4'] == True]
df5_train = train_data[train_data['Warengruppe_5'] == True]
df6_train = train_data[train_data['Warengruppe_6'] == True]
df1_train

training_features_df1 = df1_train.drop(columns=['Umsatz'])
training_features_df2 = df2_train.drop(columns=['Umsatz'])
training_features_df3 = df3_train.drop(columns=['Umsatz'])
training_features_df4 = df4_train.drop(columns=['Umsatz'])
training_features_df5 = df5_train.drop(columns=['Umsatz'])
training_features_df6 = df6_train.drop(columns=['Umsatz'])

training_labels_df1 = df1_train[['Umsatz']]
training_labels_df2 = df2_train[['Umsatz']]
training_labels_df3 = df3_train[['Umsatz']]
training_labels_df4 = df4_train[['Umsatz']]
training_labels_df5 = df5_train[['Umsatz']]
training_labels_df6 = df6_train[['Umsatz']]

training_features_df1=training_features_df1.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features_df2=training_features_df2.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features_df3=training_features_df3.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features_df4=training_features_df4.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features_df5=training_features_df5.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features_df6=training_features_df6.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
training_features_df1

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1307011,6.0,17.8375,15.0,20.0,7,2013,1,3,2,True,False,False,False,False,False,True,False
1307031,7.0,21.0750,6.0,61.0,7,2013,3,3,2,True,False,False,False,False,False,True,False
1307041,7.0,18.8500,7.0,20.0,7,2013,4,3,2,True,False,False,False,False,False,True,False
1307081,0.0,22.7250,10.0,5.0,7,2013,1,3,2,True,False,False,False,False,False,True,False
1307101,2.0,19.6875,13.0,5.0,7,2013,3,3,2,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707251,7.0,16.2500,16.0,63.0,7,2017,2,3,2,True,False,False,False,False,False,True,False
1707271,6.0,19.5000,10.0,61.0,7,2017,4,3,2,True,False,False,False,False,False,True,False
1707281,6.0,18.1250,17.0,61.0,7,2017,5,3,2,True,False,False,False,False,False,True,False
1707291,5.0,19.6250,11.0,61.0,7,2017,6,3,2,True,False,False,False,False,False,True,False
1707301,5.0,24.0000,11.0,61.0,7,2017,7,3,2,True,False,False,False,False,False,True,False

In [342]:
import numpy as np
np.random.seed(45)

df1_valid = validation_data[validation_data['Warengruppe_1'] == True]
df2_valid = validation_data[validation_data['Warengruppe_2'] == True]
df3_valid = validation_data[validation_data['Warengruppe_3'] == True]
df4_valid = validation_data[validation_data['Warengruppe_4'] == True]
df5_valid = validation_data[validation_data['Warengruppe_5'] == True]
df6_valid = validation_data[validation_data['Warengruppe_6'] == True]
df1_valid

validation_features_df1 = df1_valid.drop(columns=['Umsatz'])
validation_features_df2 = df2_valid.drop(columns=['Umsatz'])
validation_features_df3 = df3_valid.drop(columns=['Umsatz'])
validation_features_df4 = df4_valid.drop(columns=['Umsatz'])
validation_features_df5 = df5_valid.drop(columns=['Umsatz'])
validation_features_df6 = df6_valid.drop(columns=['Umsatz'])

validation_labels_df1 = df1_valid[['Umsatz']]
validation_labels_df2 = df2_valid[['Umsatz']]
validation_labels_df3 = df3_valid[['Umsatz']]
validation_labels_df4 = df4_valid[['Umsatz']]
validation_labels_df5 = df5_valid[['Umsatz']]
validation_labels_df6 = df6_valid[['Umsatz']]

validation_features_df1=validation_features_df1.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features_df2=validation_features_df2.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features_df3=validation_features_df3.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features_df4=validation_features_df4.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features_df5=validation_features_df5.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features_df6=validation_features_df6.drop(columns=["Datum", "Kalenderwoche", "Jahreszeit", "Product_type", "Woche"])
validation_features_df1

,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,Monat,Jahr,Wochentag,Quartal,Halbjahr,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,KielerWoche_0,KielerWoche_1
id,,,,,,,,,,,,,,,,,
1708011,6.0,21.3750,7.0,21.0,8,2017,2,3,2,True,False,False,False,False,False,True,False
1708021,5.0,21.3750,8.0,61.0,8,2017,3,3,2,True,False,False,False,False,False,True,False
1708031,7.0,20.1250,10.0,95.0,8,2017,4,3,2,True,False,False,False,False,False,True,False
1708041,6.0,19.6250,18.0,21.0,8,2017,5,3,2,True,False,False,False,False,False,True,False
1708061,3.0,18.5000,13.0,21.0,8,2017,7,3,2,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807251,1.0,28.4250,11.0,61.0,7,2018,3,3,2,True,False,False,False,False,False,True,False
1807261,0.0,28.8750,12.0,5.0,7,2018,4,3,2,True,False,False,False,False,False,True,False
1807271,0.0,27.5875,16.0,5.0,7,2018,5,3,2,True,False,False,False,False,False,True,False
1807281,3.0,28.7500,11.0,95.0,7,2018,6,3,2,True,False,False,False,False,False,True,False
1807301,6.0,27.7875,10.0,21.0,7,2018,1,3,2,True,False,False,False,False,False,True,False

In [343]:
def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions_df1 = model.predict(training_features_df1)
validation_predictions_df1 = model.predict(validation_features_df1)
print(f"MAPE on the Training Data: {mape(training_labels_df1, training_predictions_df1):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels_df1, validation_predictions_df1):.2f}%")

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MAPE on the Training Data: 35.58%
MAPE on the Validation Data: 30.78%

In [344]:
def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions_df2 = model.predict(training_features_df2)
validation_predictions_df2 = model.predict(validation_features_df2)
print(f"MAPE on the Training Data: {mape(training_labels_df2, training_predictions_df2):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels_df2, validation_predictions_df2):.2f}%")

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MAPE on the Training Data: 24.20%
MAPE on the Validation Data: 29.02%

In [345]:
def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions_df3 = model.predict(training_features_df3)
validation_predictions_df3 = model.predict(validation_features_df3)
print(f"MAPE on the Training Data: {mape(training_labels_df1, training_predictions_df3):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels_df1, validation_predictions_df3):.2f}%")

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
MAPE on the Training Data: 61.66%
MAPE on the Validation Data: 57.60%

In [347]:
def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions_df4 = model.predict(training_features_df4)
validation_predictions_df4 = model.predict(validation_features_df4)
print(f"MAPE on the Training Data: {mape(training_labels_df4, training_predictions_df4):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels_df4, validation_predictions_df4):.2f}%")

 1/32 ━━━━━━━━━━━━━━━━━━━━ 2s 79ms/step

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MAPE on the Training Data: 34.06%
MAPE on the Validation Data: 39.90%

In [348]:
def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions_df5 = model.predict(training_features_df5)
validation_predictions_df5 = model.predict(validation_features_df5)
print(f"MAPE on the Training Data: {mape(training_labels_df5, training_predictions_df5):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels_df5, validation_predictions_df5):.2f}%")

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
MAPE on the Training Data: 21.16%
MAPE on the Validation Data: 27.52%

In [349]:
def mape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    non_zero_mask = y_true != 0
    return np.mean(np.abs((y_true[non_zero_mask] - y_pred[non_zero_mask]) / y_true[non_zero_mask])) * 100

training_predictions_df6 = model.predict(training_features_df6)
validation_predictions_df6 = model.predict(validation_features_df6)
print(f"MAPE on the Training Data: {mape(training_labels_df6, training_predictions_df6):.2f}%")
print(f"MAPE on the Validation Data: {mape(validation_labels_df6, validation_predictions_df6):.2f}%")

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
MAPE on the Training Data: 83.51%
MAPE on the Validation Data: 74.34%